#ReaderBodyDiv{
    height: 550px;
}

@tabHeight: 20px;
@color1: #e1e1e1; 
@color2: #777777; 
@color3: #fafafa; 
@color4: #888888;
@linkColor: #8E5523;
@linkColorHover: #633107;

.lm_tab {
    height: @tabHeight !important;
    line-height: @tabHeight;
    background: @color1 !important;
    color: @color2 !important;
}

.lm_tab {
    &:hover, 
    &.lm_active {
        color:@color4 !important;
        background:@color3 !important;
    }
}
.lm_close_tab {
    height: @tabHeight - 5px !important;
}

.lm_controls {
    top: 5px;
}

.lm_title{
    font-size: 14px !important;
    font-weight: bold;
}

.reader-tool-panel {
    float: left;
    background-color: white;
    width: 100%;
    padding: 10px;
    height: 77vh;
    font-weight: 600;

    ul {
        padding-left: 30px;
    }    

    a {
        color: @linkColor;
        &:hover {
            color: @linkColorHover;
        }
    }
}

.content-container {
    min-height:unset !important;
}
.twitter-typeahead {
    width:unset !important;
}

.more-button, .fullscreen-button{
    float: right;
    border: none;
    background: none;
    width: auto;
    color: @linkColor;
    padding: 0;
    margin: 1.5rem 2rem 0 0;
    font-size:25px;
    display: block !important;

    &:hover {
        color: @linkColorHover;
    }
}

.button-text {
    max-width:65px;
}

button {
    &:disabled {
        color: #999 !important;
        cursor: not-allowed;
    }
}

.title {
    display: inline-block;
    padding-left: 19px;
}

.hidden-content{
    height:300px;
    display:none;
}
.page-navigation-container-helper{
    text-align:center;
}

.left {
    float: left !important;
}

.reader-text-container {

    .page-name {
        text-align: center;
        font-size: 1.1em;
        display: none;
    }

    &.show-notes {
        .page {
            display: inherit;
        }

        .itj-notes .itj-note {
            display: inherit;
            margin-bottom: 2px;
            margin-top: 2px;
        }
    }


    .itj-notes .itj-note {
        display: none;
    }
}