#ReaderBodyDiv{
    height: 550px;
}

@tabHeight: 20px;
@color1: #e1e1e1; 
@color2: #777777; 
@color3: #fafafa; 
@color4: #888888;
@color5: #8E5523;

.lm_tab {
    height: @tabHeight !important;
    line-height: @tabHeight;
    background: @color1 !important;
    color: @color2 !important;
}

.lm_tab {
    &:hover, 
    &.lm_active {
        color:@color4 !important;
        background:@color3 !important;
    }
}
.lm_close_tab {
    height: @tabHeight - 5px !important;
}

.lm_controls {
    top: 5px;
}

.lm_title{
    font-size: 14px !important;
    font-weight: bold;
}

.reader-left-panel, .reader-right-panel {
    width: 100% !important;
}

.content-container {
    min-height:unset !important;
}
.twitter-typeahead {
    width:unset !important;
}

.more-button {
    float: right;
    border: none;
    background: none;
    width: auto;
    color: @color5;
    padding: 0;
    margin: 2rem 2rem 0 0;
}

.title {
    display: inline-block;
}

.hidden-content{
    height:300px;
    display:none;
}
.page-navigation-container-helper{
    text-align:center;
}

.left {
    float: left;
}