#ReaderBodyDiv{
    height: 550px;
}

@tabHeight: 20px;
@color1: #e1e1e1; 
@color2: #777777; 
@color3: #ffffff; 
@color4: #888888;
@linkColor: #8E5523;
@linkColorHover: #633107;
@lineColor: #e5e5e5;

.lm_tab {
    height: @tabHeight !important;
    line-height: @tabHeight;
    background: @color1 !important;
    color: @color2 !important;
}

.lm_tab {
    &:hover, 
    &.lm_active {
        color:@color4 !important;
        background:@color3 !important;
    }
}
.lm_close_tab {
    height: @tabHeight - 5px !important;
}

.lm_controls {
    top: 5px;
}

.lm_title{
    font-size: 14px !important;
    font-weight: bold;
}

.reader-tool-panel {
    float: left;
    background-color: white;
    width: 100%;
    padding: 10px;
    height: 100%;

    &#content {
        overflow-y: scroll;
    }

    ul {
        padding-left: 10px;
        font-weight: 600;
        list-style: none;
    }

    a {
        color: @linkColor;

        &:hover {
            color: @linkColorHover;
        }
    }
}

.content-container {
    min-height:unset !important;
}
.twitter-typeahead {
    width:unset !important;
}

.more-button, .fullscreen-button{
    float: right;
    border: none;
    background: none;
    width: auto;
    color: @linkColor;
    padding: 0;
    margin: 1.5rem 2rem 0 0;
    font-size:25px;
    display: block !important;

    &:hover {
        color: @linkColorHover;
    }
}

.button-text {
    max-width:65px;
}

button {
    &:disabled {
        color: #999 !important;
        cursor: not-allowed;
    }
}

.reader-settings-checkboxes-area {
    div {
        display: inline-block;
    }

    input {
        display: none;

        &:checked {
            ~ .switch {
                background: @linkColor;

                &:before {
                    left: 20px;
                    background: @linkColorHover;
                }
            }
        }
    }

    label {
        width: 44px;
        cursor: pointer;
        margin-right: 20px;
        text-align: center;
        display: flex;
    }

    .switch {
        height: 20px;
        position: relative;
        display: block;
        background: #898989;
        border-radius: 100px;
        transition: all 0.3s ease;

        &:before {
            position: absolute;
            left: -2px;
            top: -3px;
            display: block;
            width: 26px;
            height: 26px;
            border-radius: 100px;
            background: #fff;
            box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
            content: '';
            transition: all 0.3s ease;
        }

        &:active:after {
            transform: scale(1.15, 0.85);
        }
    }
}

.title {
    display: inline-block;
    padding-left: 19px;
    text-align: left !important;
    max-width: calc(~'100% - 120px');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.full {
        overflow: unset;
        text-overflow: initial;
        white-space: initial;
    }
}

.hidden-content {
    height: 0px;
    visibility: hidden;
    transition: height 1s, visibility 0.65s, margin-bottom 1s;
    margin-bottom: 0px;

    &.visible {
        visibility: visible;
        height: 300px;
        margin-bottom: 25px;
    }
}
.page-navigation-container-helper{
    text-align:center;
}

.left {
    float: left !important;
}

.reader-text-container {

    .page-name {
        text-align: center;
        font-size: 1.1em;
        display: none;
    }

    &.show-notes {
        .page {
            display: inherit;
        }

        .itj-notes .itj-note {
            display: inherit;
            margin-bottom: 2px;
            margin-top: 2px;
        }
    }


    .itj-notes .itj-note {
        display: none;
    }
}

.edition-note-wrapper {
    min-width: 50%;
    width: calc(~'70% - 10px') !important;
    height: 100% !important;
    padding: 0 5px;
    border-right: @lineColor solid 2px;
    display: inline-block;

    .edition-note-text {
        overflow-y: scroll;
        height: calc(~'100% - 70px');
    }

    .grant {
        border-top: @lineColor solid 2px;
    }
}

.bib-table {
    .bib-table-row {
        display: table-row;

        .bib-table-cell {
            display: table-cell;
            text-align: left;
            padding-left: 20px;
        }

        .bib-label {
            font-weight: bold;
            font-size: 100%;
            color: black;
            padding-left: 0;
        }
    }
}

.book-detail-wrapper {
    width:30%;
    display:inline-block;
    margin-left: 10px;
    overflow: hidden;
    height: 100%;
}

.reader-audio-container {
    padding: 1rem;

    h3 {
        margin: 0 50px 10px 0;
        display: inline-block;
    }

    #track-select {
        height: 2em;
        float: right;
       
    }

    .control-buttons {
        background-color: #fafafa;
        display: inline-block;
        float: left;

        button {
            background: none;
            border: none;
            outline: 0;
            padding: 0;
            text-align: center;
            height: 32px;
            margin: 0 5px;
        }
    }

    .audio-text {
        min-height: 1em;
    }

    .audio-download {
        float: right;

        a.audio-download-href {
            border-radius: 5px;
            background: #8E5523;
            padding: 5px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-family: "Arial";
            margin-left: .25rem;
            margin-top: .25rem;
            display: inline-block;

            &:hover {
                background-color: #633107;
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.loading :nth-child(n){
    display: none;
}
.view-control {
    float: right;
    text-align: center;

    .buttons {
        float: none;
    }
}

.reader-controls {
    text-align: center;

    .page-navigation-container-helper {
        display: inline-block;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
