@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.FeedbackViewModel
@inject ILocalizationService Localizer

@section styles{
    <link asp-append-version="true" href="~/Areas/ProfessionalLiterature/css/itjakub.professionalliterature.css" rel="stylesheet" />
}

@{
    ViewBag.Title =  @Localizer.Translate("ProfessionalLiteratureFeedback", "ProfessionalLiterature");
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model.PageStaticText)

    @await Html.PartialAsync("Feedback/_FeedbackForm", Model)
</div>
