@section styles{
    @Styles.Render("~/itjakub/professionalliterature/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/professionalliterature/javascript")
}

@{
    ViewBag.Title = "Odborná literatura - Připomínky";
}

<div class="content-container">
    <h1>Připomínky</h1>
</div>