@model ITJakub.Web.Hub.Models.StaticTextViewModel

@{
    ViewBag.Title = "Odborná literatura - Nápověda";
}

@section styles{
    <link href="~/wwwroot/Areas/ProfessionalLiterature/css/itjakub.professionalliterature.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/itjakub/professionalliterature/javascript")
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)

</div>