@{
    ViewBag.Title = "Odborná literatura - Nápověda";
}

@section styles{
    @Styles.Render("~/itjakub/professionalliterature/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/professionalliterature/javascript")
}

<div class="content-container">
    <h1>Nápověda</h1>

</div>