@using Localization.AspNetCore.Service
@model ITJakub.Web.Hub.Models.StaticTextViewModel
@inject ILocalization Localizer

@{
    ViewBag.Title = @Localizer.Translate("ProfessionalLiteratureHelp", "ProfessionalLiterature");
}

@section styles{
    <link href="~/Areas/ProfessionalLiterature/css/itjakub.professionalliterature.css" rel="stylesheet" />
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model)

</div>