@import "../../../Content/ITJakub.DefaultTheme.less";

.search-area {
    height: 100%;
    width: 70%;
    float: left;
}

ul.first-level{
    list-style-type: disc;
}

ul.first-level li {
    margin-left: 25px;
}

ul.second-level{
    list-style-type: circle;
}

ul.second-level li {
    margin-left: 20px;
}
