@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util

@inject ILocalization Localizer

<div id="listHeader">
    <div id="listSearchDiv" class="list-search-div">
    </div>
    <div class="list-results-header">
        @Localizer.Translate("SortBy", "global", LocTranslationSource.File)
        <div id="listResultsHeader" class="list-results-header-div">
        </div>
    </div>
</div>


<div id="dropdownSelectDiv" class="dropdown-select-div">
</div>

<div id="listResults" style="clear: both;">
</div>
