<div id="listHeader">
    <div id="listSearchDiv" class="list-search-div">
    </div>
    <div class="list-results-header">
        Řadit podle
        <div id="listResultsHeader" class="list-results-header-div">
        </div>
    </div>
</div>


<div id="dropdownSelectDiv" class="dropdown-select-div">
</div>

<div id="listResults" style="clear: both;">
</div>
