@using ITJakub.Web.Hub.Options
@using Microsoft.Extensions.Options
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util

@inject ILocalizationService Localizer
@inject IOptions<PortalOption> PortalOption

<div id="listHeader">
    <div id="listSearchDiv" class="list-search-div">
    </div>
    <div class="list-results-header">
        @Localizer.Translate("SortBy", "global", LocTranslationSource.File)
        <div id="listResultsHeader" class="list-results-header-div">
        </div>
    </div>
</div>

<div id="allowedSearchOptions" class="hide" data-options="@Html.Encode(Json.Serialize(PortalOption.Value.AllowedSearchOptions.ToArray()))"></div>

<div id="dropdownSelectDiv" class="dropdown-select-div">
</div>

<div id="listResults" style="clear: both;">
</div>
