@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", new { area = "" }, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.Raw("Hello " + User.Identity.GetUserId() + "!")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Odhlásit</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-right navbar-login">
        <li>
            @Html.ActionLink("Přihlášení", "Login", "Account", new { area = "" }, new { id = "loginLink" })
        </li>
    </ul>
}