@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new {title = "Manage"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-right navbar-login">
        <li>@*@Html.ActionLink("Zaregistrovat se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@</li>
        <li>
            @Html.ActionLink("Upload", "Upload", "Upload", new { area = "" }, new { id = "uploadLink" })
        </li> 
        <li>
            @Html.ActionLink("Přihlášení", "Login", "Account", new { area = "" }, new { id = "loginLink" })
            @*<div style="display: inline">
                <span class="glyphicon glyphicon-stop" style="display: list-item;"></span>
                <span class="glyphicon glyphicon-stop" style="display: list-item;"></span>
                <span class="glyphicon glyphicon-stop" style="display: list-item;"></span>
            </div>*@
        </li>
    </ul>
}