@model ITJakub.Web.Hub.Models.RidicsCheckboxViewModel

<div class="ridics-checkbox">
    <label>
        <input type="checkbox" name="@Model.Name" checked="@Model.IsChecked" disabled="@Model.IsDisabled" />
        <span class="cr cr-black">
            <i class="cr-icon glyphicon glyphicon-ok"></i>
        </span>
        <span class="checkbox-label">@Model.Label</span>
    </label>
</div>
