@using ITJakub.Web.Hub.Core.Identity
@using Microsoft.AspNetCore.Http.Extensions
@model ITJakub.Web.Hub.Models.StaticTextViewModel

<div class="static-text-container">
    <div class="static-text-panel">
        @if (User.IsInRole(CustomRole.CanEditStaticText))
        {
            if (Model.IsRecordExists)
            {
                <a href="@Url.RouteUrl("Default", new {controller = "Text", action = "Editor", textName = Model.Name, pageUrl = Context.Request.GetDisplayUrl()})" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Upravit text
                </a>
            }
            else
            {
                <a href="@Url.RouteUrl("Default", new {controller = "Text", action = "Editor", textName = Model.Name, pageUrl = Context.Request.GetDisplayUrl()})" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Vytvořit text
                </a>
            }
        }
    </div>

    @Html.Raw(Model.Text)
</div>
