@model ITJakub.Web.Hub.Models.StaticTextViewModel

<div class="static-text-container">
    <div class="static-text-panel">
        @if (Model.IsRecordExists)
        {
            <a href="@Url.Action("Editor", "Text", new {textName = Model.Name, pageUrl = Request.Url.PathAndQuery})" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
                Upravit text
            </a>
        }
        else
        {
            <a href="@Url.Action("Editor", "Text", new {textName = Model.Name, pageUrl = Request.Url.PathAndQuery})" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
                Vytvořit text
            </a>
        }
    </div>

    @Html.Raw(Model.Text)
</div>
