@using Microsoft.AspNetCore.Http.Extensions
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util
@using Vokabular.Shared.AspNetCore.Extensions
@using Vokabular.Shared.Const
@model ITJakub.Web.Hub.Models.StaticTextViewModel
    
@inject ILocalizationService Localizer

<div class="static-text-container">
    <div class="static-text-panel">
        @if (User.HasPermission(VokabularPermissionNames.EditStaticText))
        {
            <a href="@Url.RouteUrl("Default", new {controller = "Text", action = "Editor", textName = Model.Name, scope = Model.Scope, pageUrl = Context.Request.GetDisplayUrl()})" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
                @Localizer.Translate("EditText", "global", LocTranslationSource.File)
            </a>
        }
    </div>

    @Html.Raw(Model.Text)
</div>
