.favorite-labels {
    height: 200px;
    overflow-y: auto;
}

.selected-label-info {
    margin-top: 7px;
}

.radio .favorite-label {
    width: 100%;
    padding-left: 27px;
    padding-right: 7px;
    border-radius: 5px;
    color: white;
}