@import "ITJakub.Colors.less";



#main-plugins-menu span,
#main-plugins-menu a {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

#main-plugins-menu > ul > li > a > span {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    display: table-cell;
}

@media screen and (max-width: 1500px) {
  #main-plugins-menu > ul > li > a > span {
    height: auto;
  }
}

#main-plugins-menu li {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 600;
}

#main-plugins-menu .has-sub {
    position: relative;
}

#main-plugins-menu .has-sub.active {
    background-color: @menu-active-background-color;
    /* background-color: rgba(76, 175, 80, .85); */
    /* position: static; */
}

/*#main-plugins-menu ul li.active ul.has-sub{
  position : static;
}

#main-plugins-menu ul li.active ul.has-sub li{
  position : static;
}*/

#main-plugins-menu {
    line-height: 1;
    /*background: #00897B;*/
    /*background-color: #4c6b4b;*/
    /*width: 100%;*/
    /*position: absolute;*/
    display: inline-block;
    float: left;
    margin-left: 1rem;
    /* height: 6rem; */
}

@media screen and (max-width: 1500px) {
  #main-plugins-menu {
    margin-left: 0;
  }
}


#main-plugins-menu:after,
#main-plugins-menu ul:after {
    content: '';
    display: block;
    clear: both;
}

#main-plugins-menu a {
    /*background: white;*/
    color: black;
    display: block;
    /*font-family: Helvetica, Arial, Verdana, sans-serif;*/
    padding: 5px 15px;
    text-decoration: none;
}

#main-plugins-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

#main-plugins-menu > ul > li {
    display: inline-block;
    float: left;
    margin: 0;
    height: 100%;
    /*padding: 1rem 0 1rem;*/
}

@media screen and (max-width: 1500px) {
  #main-plugins-menu > ul > li {
    /*padding: 0;*/
  }
}


#main-plugins-menu.align-center {
    text-align: center;
}

#main-plugins-menu.align-center > ul > li {
    float: none;
}

#main-plugins-menu.align-center ul ul {
    text-align: left;
}

#main-plugins-menu.align-right > ul {
    float: right;
}

#main-plugins-menu.align-right ul ul {
    text-align: right;
}

#main-plugins-menu > ul > li > a {
    color: @menu-font-color;
    font-size: 16px;
    /*background-image: @icon-chevron;*/
    background-position: center bottom .1rem;
    background-repeat: no-repeat;
    background-size: 10px;
    /*padding-bottom: 15px;*/
    vertical-align: middle;
    padding: 1.2rem .5rem;
}

@media screen and (max-width: 1500px) {
  #main-plugins-menu > ul > li > a {
    padding: 1.5rem .6rem;
  }
}


#main-plugins-menu > ul > li:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /*border-bottom: 10px solid #0fa1e0;*/
    margin-left: -10px;
}

#main-plugins-menu > ul > li.active > a,
#main-plugins-menu > ul > li.active:hover > a {
    /*background-color: @menu-active-background-color;*/
    background-color: transparent;
    /*color: black;*/
    /*background-image: url('Images/glyphicons_chevron.png');*/
}

#main-plugins-menu > ul > li:hover > a {
    /*color: @item-background-color;*/
    background-image: @icon-chevron-white;
    background-color: @menu-hover-color;
}

#main-plugins-menu > ul > li:hover > a > span {
  /* opacity: .7; */
}

#main-plugins-menu > ul > li > ul > li.active > a {
    color: black;
}


#main-plugins-menu > ul > li:hover {
    z-index: 10;
}

#main-plugins-menu .has-sub:hover > ul {
    display: block;
    /* border: 1px solid white; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#main-plugins-menu .has-sub.active:hover > ul {
    display: block;
    border: none;
}

#main-plugins-menu .has-sub ul {
    display: none;
    position: absolute;
    width: 148px;
    top: 100%;
    left: 0;
}

#main-plugins-menu.align-right .has-sub ul {
    left: auto;
    right: 0;
}

#main-plugins-menu .has-sub ul li {
    *margin-bottom: -1px;
}

#main-plugins-menu .has-sub ul li a {
    background: @menu-background-color;
    background: @menu-hover-color;
    /* background-color: rgba(56, 142, 60, .9); */
    font-size: 14px;
    filter: none;
    display: block;
    line-height: 120%;
    padding: 8px 10px 8px 10px;
    color: #ffffff;
}

#main-plugins-menu .has-sub ul li:hover a {
    /*background: @item-background-color;*/
    /*color: black;*/
    background: @menu-item-hover-color;
}

#main-plugins-menu .has-sub ul li:hover a > span {
  /* opacity: .5; */
}

#main-plugins-menu ul ul li:hover > a {
    color: #ffffff;
}

#main-plugins-menu .has-sub .has-sub:hover > ul {
    display: block;
}

#main-plugins-menu .has-sub .has-sub ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

#main-plugins-menu.align-right .has-sub .has-sub ul,
#main-plugins-menu.align-right ul ul ul {
    left: auto;
    right: 100%;
}

#main-plugins-menu .has-sub .has-sub ul li a {
    /*background: #0c7fb0;*/
    /*border-bottom: 1px dotted #31b7f1;*/
}

#main-plugins-menu .has-sub .has-sub ul li a:hover {
    color: #0a6d98;
}

#main-plugins-menu ul ul li.last > a,
#main-plugins-menu ul ul li:last-child > a,
#main-plugins-menu ul ul ul li.last > a,
#main-plugins-menu ul ul ul li:last-child > a,
#main-plugins-menu .has-sub ul li:last-child > a,
#main-plugins-menu .has-sub ul li.last > a {
    border-bottom: 0;
}

#main-plugins-menu ul > li > ul {
    position: relative;
}

#main-plugins-menu ul > li > ul > li {
    position: relative;
}

#main-plugins-menu ul > li.active > ul {
    /*display: inline;
    position: absolute;
    float: left;
    width: @max-body-width;
    background-color: @background-color;
    padding-bottom: 5px;*/
}

#main-plugins-menu ul > li.active > ul > li {
    /*position: relative;*/
    /*display: inline;*/
    /*float: left;*/
}

#main-plugins-menu ul > li.active > ul > li a {
    background-color: @menu-active-background-color;
}
#main-plugins-menu ul > li.active > ul > li:hover a {
	background: @menu-background-color;
}

#main-plugins-menu ul > li.active > ul {
    /*background-color: @item-background-color;*/
    /*padding-bottom: 0;*/
}
