.white-link {
  color: white;
  text-decoration: none;
}
.hovered-link {
  color: #afdee4;
  text-decoration: none;
}
.black-link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #afdee4;
  text-decoration: none;
}
a,
a:visited {
  color: black;
  text-decoration: none;
}
.styled-background {
  background-color: #84ced7;
}
body {
  background-color: #e5e5e5;
}
.navbar {
  width: 1100px;
  margin: 0 auto;
}
.page-body-content {
  width: 1100px;
  margin: auto;
}
.page-body-content a {
  color: black;
  text-decoration: none;
}
.page-body-content a:hover {
  color: #afdee4;
  text-decoration: none;
}
.module-content {
  margin: 87px 0 0 0;
  min-height: 74vh;
}
.content-container {
  background-color: white;
  padding: 5px;
}
.transparent-content-container {
  padding: 5px;
}
.centered {
  align-content: center;
  vertical-align: central;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.container {
  padding: 0;
  width: 100%;
  max-width: 1100px;
}
.style-button {
  border-radius: 0;
  background-color: #84ced7;
  color: white;
}
#main-plugins-menu span,
#main-plugins-menu a {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}
#main-plugins-menu > ul > li > a > span {
  text-align: center;
  vertical-align: middle;
  height: 40px;
  display: table-cell;
}
#main-plugins-menu li {
  margin: 0;
  padding: 0;
  display: block;
}
#main-plugins-menu .has-sub {
  position: relative;
}
#main-plugins-menu .has-sub.active {
  position: static;
}
/*#main-plugins-menu ul li.active ul.has-sub{
  position : static;
}

#main-plugins-menu ul li.active ul.has-sub li{
  position : static;
}*/
#main-plugins-menu {
  line-height: 1;
  background: white;
  /*border-bottom: 2px solid #0fa1e0;*/
  width: 100%;
  position: absolute;
}
#main-plugins-menu:after,
#main-plugins-menu ul:after {
  content: '';
  display: block;
  clear: both;
}
#main-plugins-menu a {
  background: white;
  color: black;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 5px 20px;
  text-decoration: none;
}
#main-plugins-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#main-plugins-menu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
  height: 100%;
}
#main-plugins-menu.align-center {
  text-align: center;
}
#main-plugins-menu.align-center > ul > li {
  float: none;
}
#main-plugins-menu.align-center ul ul {
  text-align: left;
}
#main-plugins-menu.align-right > ul {
  float: right;
}
#main-plugins-menu.align-right ul ul {
  text-align: right;
}
#main-plugins-menu > ul > li > a {
  color: black;
  font-size: 15px;
  background-image: url('Images/glyphicons_chevron.png');
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: 10px;
  /*padding-bottom: 15px;*/
  vertical-align: middle;
}
#main-plugins-menu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /*border-bottom: 10px solid #0fa1e0;*/
  margin-left: -10px;
}
#main-plugins-menu > ul > li.active > a,
#main-plugins-menu > ul > li.active:hover > a {
  background-color: #84ced7;
  color: black;
  background-image: url('Images/glyphicons_chevron.png');
}
#main-plugins-menu > ul > li:hover > a {
  color: #84ced7;
  background-image: url('Images/glyphicons_chevron_green.png');
}
#main-plugins-menu > ul > li > ul > li.active > a {
  color: black;
}
#main-plugins-menu > ul > li:hover {
  z-index: 10;
}
#main-plugins-menu .has-sub:hover > ul {
  display: block;
}
#main-plugins-menu .has-sub ul {
  display: none;
  position: absolute;
  width: 148px;
  top: 100%;
  left: 0;
}
#main-plugins-menu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#main-plugins-menu .has-sub ul li {
  *margin-bottom: -1px;
}
#main-plugins-menu .has-sub ul li a {
  background: #84ced7;
  /*border-bottom: 1px dotted #31b7f1;*/
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#main-plugins-menu .has-sub ul li:hover a {
  /*background: @item-background-color;*/
  color: black;
}
#main-plugins-menu ul ul li:hover > a {
  color: #ffffff;
}
#main-plugins-menu .has-sub .has-sub:hover > ul {
  display: block;
}
#main-plugins-menu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#main-plugins-menu.align-right .has-sub .has-sub ul,
#main-plugins-menu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#main-plugins-menu .has-sub .has-sub ul li a {
  /*background: #0c7fb0;*/
  /*border-bottom: 1px dotted #31b7f1;*/
}
#main-plugins-menu .has-sub .has-sub ul li a:hover {
  color: #0a6d98;
}
#main-plugins-menu ul ul li.last > a,
#main-plugins-menu ul ul li:last-child > a,
#main-plugins-menu ul ul ul li.last > a,
#main-plugins-menu ul ul ul li:last-child > a,
#main-plugins-menu .has-sub ul li:last-child > a,
#main-plugins-menu .has-sub ul li.last > a {
  border-bottom: 0;
}
#main-plugins-menu ul > li > ul {
  position: relative;
}
#main-plugins-menu ul > li > ul > li {
  position: relative;
}
#main-plugins-menu ul > li.active > ul {
  display: inline;
  position: absolute;
  float: left;
  width: 1100px;
  background-color: #e5e5e5;
  padding-bottom: 5px;
}
#main-plugins-menu ul > li.active > ul > li {
  position: relative;
  display: inline;
  float: left;
}
/*# sourceMappingURL=ITJakub.PluginMenu.css.map */