@import "ITJakub.DefaultTheme.less";
@import "dropzones.less";
@import "ITJakub.NumberedOrderedList.less";
@import "ITJakub.HorizontalLoader.less";
@import "ITJakub.PluginMenu.less";
@import "ITJakub.Footer.less";
@import "Plugins/Bibliography/ITJakub.Bibliography.less";
@import "Plugins/Reader/ITJakub.Reader.less";
@import "Plugins/DropdownSelect/ITJakub.DropdownSelect.less";
@import "Plugins/RegExSearch/ITJakub.RegExSearch.less";
@import "Plugins/SearchBox/ITJakub.SearchBox.less";

.main_logo {
    margin: 10px;
    margin-left: 0;
    margin-right: 5px;
    display: inline;
}


a.main_logo_href {
    margin: 5px;
    color: white;
    text-decoration: none;
}

a.main_logo_href img {
    width: 30px;
    height: 30px;
}

.main_logo_text {
    position: absolute;
    top: 12px;
    left: 45px;
    margin-right: 50px;
    margin-left: 5px;
    color: white;
    line-height: normal;
}

.main_logo_text:hover {
    color: @item-background-color;
}

.main_logo_text h1 {
    display: inline;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    font-family: 'Times New Roman';
}

.main_logo_text h2 {
    display: inline;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 0 7px;
    font-family: 'Times New Roman';
}

.main-navbar-container {
    margin-left: 2px;
    margin-right: 2px;
}


.main-navbar-container a {
    .white-link;
}

.main-navbar-container a:hover {
    .hovered-link;
}

ul.navbar-right.navbar-login {
  margin-right: 20px!important;
}

.navbar-login li, ul {
    display: inline;
    margin-left: 5px;
    list-style: none;
    margin-top: 15px;
    margin-right: 5px!important; 
}

.file-upload-metadata label, .file-upload-metadata input[type='submit'] {
    margin-right: 5px;
    margin-top: 10px;
}

.file-upload-metadata input[type='text'] {
    display: block;
    width: 100%;
}

#dropzoneFileForm {
    width: 600px;
}

#ProcessUploadedButton {
    margin: 5px;
}

#ProcessUploadedButton[disabled] {
    background-color: @item-background-color;
}

#progressbar .ui-progressbar-value {
    background-color: @item-background-color;
}

#dropzoneFileFormPreview {
    overflow-y: auto;
}

#authorsTableDiv {
    margin: 5px;
    height: 200px;
    overflow-y: auto;
}

#authorsTableDivHeader {
    margin: 5px;
}


.left-panel {
    float: left;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0.5%;
    width: 49.5%;
    height: 100%;
}

.right-panel {
    float: left;
    margin-left: 0.5%;
    padding-right: 0;
    padding-left: 0;
    width: 49.5%;
    height: 100%;
}

.news {
    background-image: url('Images/news_background.png');
    background-size: 86px 50px;
    background-position: left top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.news > h1 {
    font-family: "Times New Roman";
    font-size: 28px;
    font-weight: bold;
    margin-left: 45%;
    margin-top: 0;
    margin-bottom: 60px;
}

.news .message {
    margin: 15px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 20px;
    max-height: 300px;
    overflow: auto;
}

.news .message > h2 {
    font-family: "Times New Roman";
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.searchbar {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 5px;
}

.searchbar-inputs {
    display: block;
    margin-right: 164px;
    padding-right: 10px;
}

.searchbar-input {
    border-radius: 0;
    margin: 0;
    width: 100%;
}

.searchbar-buttons {
    float: right;
}

.searchbar-button {
    border-radius: 0;
    background-color: @item-background-color;
    color: white;
}

.top-offset-without-submenu {
    margin: -32px 0 0 0;
}

.navbar-login li a,.navbar-login li a:visited{
    color: white;
}

.navbar-login li a:hover{
    color: @item-background-color;
}
