.favorite-select-label {
    height: 200px;
    overflow-y: auto;
}

.favorite-selected-label-info {
    margin-top: 7px;
}

.favorite-select-label .favorite-select-label-item {
    width: 100%;
    padding-left: 27px;
    padding-right: 7px;
    border-radius: 5px;
    color: white;
}

.favorite-star .popover {
    width: 100%;
}

.favorite-star .btn {
    margin-top: 10px;
}

.favorite-star h6 {
    font-weight: bold;
}