.white-link {
    color:white;
    text-decoration: none;
}

.hovered-link {
    color: #AFDEE4;
    text-decoration: none;
}

.black-link {
    color:black;
    text-decoration: none;
}

a:hover{
   .hovered-link;
}

a,a:visited {
    .black-link;
}

.styled-background{
    background-color:#84CED7;
}


body {
    padding-top: 135px;
    background-color:#E5E5E5;
  }

.body-content{
    max-width:1100px;
    background-color:white;
    margin:auto;   
}

.body-content a{
   .black-link;
}
.body-content a:hover{
    .hovered-link;
}

.main_logo {
    margin: 10px;
    margin-left:0;
    margin-right:5px;
    width:40px;
    height: 40px;
    display: inline;
}

a.main_logo_href{
    display: inline;
    margin:5px;
    color: white;
    text-decoration:none;
}

.main_logo_href h3{
    display: inline;
    margin:5px;
}

/* top navbar with ujc logo*/
.navbar-top {
    margin:auto; 
    max-width:1100px;
    height:65px;
}

.main-plugins-menu{
    margin:auto; 
    margin-top: 70px;
    background-color: white;
    max-width:1100px;
    height: 60px;
}

.main-plugins-menu ul{
     list-style-type:none;
     padding: 0px;
     margin: 0px;
}

.main-plugins-menu li {  
     display: inline;
     margin : 5px;
     background-image: url("Images/glyphicons_chevron.png");
     background-size: 10px;
     background-repeat: no-repeat;
     background-position: bottom; 
     padding-bottom: 15px;
}

.main-plugins-menu li:hover{
     background-image: url("Images/glyphicons_chevron_green.png");
}

.main-plugins-menu li:hover a{
     .hovered-link;
}

.main-plugins-menu a{
    .black-link;
    margin : 5px;
    font-size: large;
    
}

.main-navbar-container{
    margin-left:2px;
    margin-right:2px;
}


.main-navbar-container a{
    .white-link;
}

.main-navbar-container a:hover{
    .hovered-link;
}

.navbar-login li,ul{
    display: inline;
    margin-left:5px;
    list-style:none;
    margin-top: 20px;
}

