@import "ITJakub.Colors.less";

.white-link {
    color: @white-color;
    text-decoration: none;
}

.hovered-link {
    color: @text-color;
    /*text-decoration: none;*/
}

.black-link {
    color: black;
    text-decoration: none;
}

a:hover {
    /*.hovered-link;*/
}

/*a, a:visited {
    .black-link;
}*/

.styled-background {
    background-color: @item-background-color;
}

body {
    background-color: @background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    -moz-text-shadow: 0 0 0;
}


.navbar {
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    /* height: 6rem; */
}

.page-body-content {
    /*width: @max-body-width;*/
    margin: auto;
}

/*.page-body-content a {
    .black-link;
}*/


.page-body-content a:hover {
    /*.hovered-link;*/
    //opacity: .7;
}


.module-content {
    margin: 4rem auto 0;
    min-height: 74vh;
}

@media screen and (max-width: 1500px) {
  .module-content {
    margin: 2rem auto 0;
  }
}


.content-container {
    background-color: @white-color;
    padding: 15px;
    padding-top: 5px;
    min-height: 77vh;
}

.content-container.top-offset-without-submenu {
    min-height: 80vh;
}

.transparent-content-container {
    /*padding: 5px;*/
}

.centered {
    align-content: center;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.container {
    padding: 0;
    /*width: 100%;
    max-width: @max-body-width;*/
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
/*@media (min-width: 1800px) {
  .container {
    width: 1770px;
  }
}*/


.style-button {
    border-radius: 0;
    background-color: @item-background-color;
    color: @white-color;
}

.error {
    color: #B84442;
}