<?xml version="1.0" encoding="utf-8"?>
<castle xmlns="urn:windsor-castle-config-3.3">


  

  <properties>
    
  </properties>
  
  <facilities>
    
  </facilities>



  <include uri="assembly://ITJakub.SearchService.Core/ITJakub.SearchService.Core.Container.Config" />


  <components>
  </components>
</castle>