@using Localization.AspNetCore.Service
@model ITJakub.Web.Hub.Models.FeedbackViewModel
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/BohemianTextBank/css/itjakub.bohemiantextbank.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("BohemianTextBankFeedback", "BohemianTextBank");
}

<div class="content-container">
    @Html.Partial("_StaticText", Model.PageStaticText)

    @Html.Partial("Feedback/_FeedbackForm", Model)
</div>
