@model ITJakub.Web.Hub.Models.StaticTextViewModel

@section styles{
    <link href="~/wwwroot/Areas/BohemianTextBank/css/itjakub.bohemiantextbank.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Korpusy - Nápověda";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
</div>