@section styles{
    @Styles.Render("~/itjakub/bohemiantextbank/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bohemiantextbank/javascript")
}

@{
    ViewBag.Title = "Korpusy - Nápověda";
}

<div class="content-container">
    <h1>Nápověda</h1>
</div>