@section styles{
    @Styles.Render("~/itjakub/bohemiantextbank/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bohemiantextbank/javascript")
}

<div class="content-container">
    <h1>Seznam</h1>
</div>
