@section styles{
    @Styles.Render("~/itjakub/bohemiantextbank/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bohemiantextbank/javascript")
}

@{
    ViewBag.Title = "Korpusy - Vyhledávání";
}

<div id="listHeader">
    <div id="listSearchDiv" style="float: left; width: 70%">
    </div>
    <div style="float: left; margin-left: 50px;">
        Řadit podle
        <div id="listResultsHeader" style="display: inline-block">
        </div>
    </div>
</div>


<div id="dropdownSelectDiv" style="clear: both; margin-top: 50px;">
</div>

<div class="corpus-search-div">
    <div class="corpus-search-setting-div">
        <div class="corpus-search-setting-div-label">Možnosti zobrazení</div>
        <div class="corpus-search-setting-div-checkboxes">
            <div class="checkbox">
                <label><input id="wordCheckbox" type="checkbox" value="">Slovo</label>
            </div>
            <div class="checkbox">
                <label><input id="commentCheckbox" type="checkbox" value="">Komentář</label>
            </div>
            <div class="checkbox">
                <label><input id="languageCheckbox" type="checkbox" value="">Jazyk</label>
            </div>
            <div class="checkbox">
                <label><input id="structureCheckbox" type="checkbox" value="">Struktura textu</label>
            </div>
            <div class="checkbox">
                <label><input id="paragraphCheckbox" type="checkbox" value="">Odstavec</label>
            </div>
        </div>
        <div class="corpus-search-setting-div-context">
            <label for="contextPositionsSelect">Pozic v kontextu</label>
            <select id="contextPositionsSelect">
                <option value="20">20</option>
                <option value="50" selected="selected">50</option>
                <option value="70">70</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="corpus-search-setting-div-results-count">
            <div>Počet výsledků: </div>
            <div id="totalResultCountDiv"></div>
        </div>
        <div class="corpus-search-setting-div-pagination pagination-extra-small" id="paginationContainer">
        </div>
    </div>
    <div class="corpus-search-results-div">
        <div id="corpus-search-results-abbrev-table-div" class="corpus-search-results-abbrev-table-div">
            <table id="result-abbrev-table">
                <tbody id="resultsAbbrevTableBody">
                </tbody>
            </table>
        </div>
        <div id="corpus-search-results-table-div" class="corpus-search-results-table-div">
            <div id="corpus-search-results-table-div-loader">
                Pro zobrazení výsledků použijte vyhledávání
            </div>
            <table id="result-table">
                <tbody id="resultsTableBody"></tbody>
            </table>
        </div>
        <div class="corpus-search-result-detail-div">
            <div class="corpus-search-detail">
                <div class="corpus-table-row">
                    <div class="corpus-table-cell label">Doc</div>
                    <div class="corpus-table-cell">
                        <div class="corpus-search-detail">
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">Autor</div>
                                <div id="detail-author" class="corpus-table-cell">&lt;Nezadáno&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">Titul</div>
                                <div id="detail-title" class="corpus-table-cell">&lt;Nezadáno&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">Datace pramene</div>
                                <div id="detail-dating" class="corpus-table-cell">&lt;Nezadáno&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">Datace století</div>
                                <div id="detail-dating-century" class="corpus-table-cell">&lt;Nezadáno&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <div class="corpus-table-cell label">Zkratka památky</div>
                                <div id="detail-abbrev" class="corpus-table-cell">&lt;Nezadáno&gt;</div>
                            </div>
                            <div class="corpus-table-row">
                                <a href="#">Ediční poznámka</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="corpus-table-row">
                    <div class="corpus-table-cell label">Folio</div>
                    <div id="detail-folio" class="corpus-table-cell">&lt;Nezadáno&gt;</div>
                </div>
                <div class="corpus-table-row">
                    <div class="corpus-table-cell label">Vers</div>
                    <div id="detail-vers" class="corpus-table-cell">&lt;Nezadáno&gt;</div>
                </div>
            </div>
        </div>
    </div>

</div>