@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util

@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("FeedbackSentTitle", "global", LocTranslationSource.File);
}

<div class="alert alert-success">
    @Localizer.Translate("FeedbackSentAlert", "global", LocTranslationSource.File)
</div>

