@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util

@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("FeedbackSentTitle", "global", LocTranslationSource.File);
}

<div class="alert alert-success">
    @Localizer.Translate("FeedbackSentAlert", "global", LocTranslationSource.File)
</div>

