<?xml version="1.0" encoding="utf-8"?>

<castle>

  <components>

    <!--<component id="UsersFactory"
               service="TestProject.IUsersFactory, TestProject"
               type="TestProject.UsersFactory, TestProject">
       <parameters>
        <param1>#{param1Value}</param1>
    </parameters>
    
    </component>-->

    <component id="MobileAppsService"
               service="ITJakub.MobileApps.DataContracts.IMobileAppsService, ITJakub.MobileApps.DataContracts"
               type="ITJakub.MobileApps.Core.MobileServiceManager, ITJakub.MobileApps.Core" />

    <!-- Profiles for AutoMapper -->
    <component id="UserProfile"
              service="AutoMapper.Profile, AutoMapper"
              type="ITJakub.MobileApps.Core.AutoMapperProfiles.UserProfile, ITJakub.MobileApps.Core" />

    <component id="InstitutionProfile"
              service="AutoMapper.Profile, AutoMapper"
              type="ITJakub.MobileApps.Core.AutoMapperProfiles.InstitutionProfile, ITJakub.MobileApps.Core" />

    <component id="InstitutionDetailsProfile"
              service="AutoMapper.Profile, AutoMapper"
              type="ITJakub.MobileApps.Core.AutoMapperProfiles.InstitutionDetailsProfile, ITJakub.MobileApps.Core" />

    <component id="UserDetailsProfile"
             service="AutoMapper.Profile, AutoMapper"
             type="ITJakub.MobileApps.Core.AutoMapperProfiles.UserDetailsProfile, ITJakub.MobileApps.Core" />
    
    
  </components>
</castle>