<?xml version="1.0" encoding="utf-8"?>

<castle>

  <components>

    <component id="MobileServiceManager"
               service="ITJakub.MobileApps.DataContracts.IMobileAppsService, ITJakub.MobileApps.DataContracts"
               type="ITJakub.MobileApps.Core.MobileServiceManager, ITJakub.MobileApps.Core" >
      <parameters>
        <maxAttemptsToSave>#{maxAttemptsToSave}</maxAttemptsToSave>
      </parameters>
      <!--<interceptors>
        <interceptor>${AuthInterceptor}</interceptor>
      </interceptors>-->
    </component>

    <component id="EnterCodeGenerator"
             type="ITJakub.MobileApps.Core.EnterCodeGenerator, ITJakub.MobileApps.Core" >
      <parameters>
        <codeLength>#{generatedEnterCodeLength}</codeLength>
        <enabledChars>#{enabledCharsInEnterCode}</enabledChars>
      </parameters>
    </component>

    <component id="CommunicationTokenManager"
               type="ITJakub.MobileApps.Core.CommunicationTokenManager, ITJakub.MobileApps.Core" >
      <parameters>
        <timeToTokenExpiration>#{timeToTokenExpiration}</timeToTokenExpiration>
      </parameters>
    </component>

    <component id="UserManager"
              type="ITJakub.MobileApps.Core.UserManager, ITJakub.MobileApps.Core" />

    <!--Authentication-->

    <component id="AuthInterceptor"
            service="Castle.DynamicProxy.IInterceptor, Castle.Core"
            type="ITJakub.MobileApps.Core.Authentication.AuthInterceptor, ITJakub.MobileApps.Core"/>



    <component id="AuthenticationManager"
               type="ITJakub.MobileApps.Core.Authentication.AuthenticationManager, ITJakub.MobileApps.Core" >
    </component>

    <component id="AuthProviderDirector"
              type="ITJakub.MobileApps.Core.Authentication.Providers.AuthProviderDirector, ITJakub.MobileApps.Core" />


    <component id="GoogleAuthProvider"
              service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
              type="ITJakub.MobileApps.Core.Authentication.Providers.GoogleAuthProvider, ITJakub.MobileApps.Core" >
      <parameters>
        <clientId>#{googleClientId}</clientId>
        <clientSecret>#{googleClientSecret}</clientSecret>
        <!--<imageUrlStringFormat>https://www.googleapis.com/plus/v1/people/{0}?fields=image&key={1}</imageUrlStringFormat>-->
      </parameters>
    </component>

    <component id="FacebookAuthProvider"
             service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
             type="ITJakub.MobileApps.Core.Authentication.Providers.FacebookAuthProvider, ITJakub.MobileApps.Core" >
      <parameters>
        <clientId>#{facebookClientId}</clientId>
        <clientSecret>#{facebookClientSecret}</clientSecret>
        <imageUrlStringFormat>http://graph.facebook.com/{0}/picture?type=large</imageUrlStringFormat>
      </parameters>
    </component>

    <component id="LiveIdAuthProvider"
          service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
          type="ITJakub.MobileApps.Core.Authentication.Providers.LiveIdAuthProvider, ITJakub.MobileApps.Core" />

    <component id="ItJakubAuthProvider"
             service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
             type="ITJakub.MobileApps.Core.Authentication.Providers.ItJakubAuthProvider, ITJakub.MobileApps.Core" />

    <component id="GravatarImageUrlProvider"
          type="ITJakub.MobileApps.Core.Authentication.Image.GravatarImageUrlProvider, ITJakub.MobileApps.Core" >
      <parameters>
        <baseUrl>http://www.gravatar.com/avatar/{0}?d=monsterid</baseUrl>
      </parameters>
    </component>

    <!-- Profiles for AutoMapper -->

    <component id="UserDetailContractProfile"
            service="AutoMapper.Profile, AutoMapper"
            type="ITJakub.MobileApps.Core.AutoMapperProfiles.UserDetailContractProfile, ITJakub.MobileApps.Core" />
    
    
  </components>
</castle>