<?xml version="1.0" encoding="utf-8"?>

<castle>

  <components>

    <component id="MobileServiceManager"
               service="ITJakub.MobileApps.DataContracts.IMobileAppsService, ITJakub.MobileApps.DataContracts"
               type="ITJakub.MobileApps.Core.MobileServiceManager, ITJakub.MobileApps.Core">

      <!--<interceptors>
        <interceptor>${AuthInterceptor}</interceptor>
      </interceptors>-->
    </component>

    <component id="EnterCodeGenerator"
               type="ITJakub.MobileApps.Core.EnterCodeGenerator, ITJakub.MobileApps.Core">
      <parameters>
        <codeLength>#{generatedEnterCodeLength}</codeLength>
        <enabledChars>#{enabledCharsInEnterCode}</enabledChars>
      </parameters>
    </component>

    <component id="CommunicationTokenManager"
               type="ITJakub.MobileApps.Core.CommunicationTokenManager, ITJakub.MobileApps.Core">
      <parameters>
        <timeToTokenExpiration>#{timeToTokenExpiration}</timeToTokenExpiration>
      </parameters>
    </component>


    <component id="ApplicationManager"
           type="ITJakub.MobileApps.Core.Applications.ApplicationManager, ITJakub.MobileApps.Core" />
    
    <component id="AzureTableIdGenerator"
           type="ITJakub.MobileApps.Core.Applications.AzureTableIdGenerator, ITJakub.MobileApps.Core" />
    
    <component id="UserManager"
               type="ITJakub.MobileApps.Core.Users.UserManager, ITJakub.MobileApps.Core" />

    <component id="GroupManager"
               type="ITJakub.MobileApps.Core.Groups.GroupManager, ITJakub.MobileApps.Core">
      <parameters>
        <maxAttemptsToSave>#{maxAttemptsToSave}</maxAttemptsToSave>
      </parameters>
    </component>
    

    <!--Authentication-->

    <component id="AuthInterceptor"
               service="Castle.DynamicProxy.IInterceptor, Castle.Core"
               type="ITJakub.MobileApps.Core.Authentication.AuthInterceptor, ITJakub.MobileApps.Core" />


    <component id="AuthenticationManager"
               type="ITJakub.MobileApps.Core.Authentication.AuthenticationManager, ITJakub.MobileApps.Core">
    </component>

    <component id="AuthProviderDirector"
               type="ITJakub.MobileApps.Core.Authentication.Providers.AuthProviderDirector, ITJakub.MobileApps.Core" />


    <component id="GoogleAuthProvider"
               service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
               type="ITJakub.MobileApps.Core.Authentication.Providers.GoogleAuthProvider, ITJakub.MobileApps.Core">
      <parameters>
        <clientId>#{googleClientId}</clientId>
        <clientSecret>#{googleClientSecret}</clientSecret>
        <!--<imageUrlStringFormat>https://www.googleapis.com/plus/v1/people/{0}?fields=image&key={1}</imageUrlStringFormat>-->
      </parameters>
    </component>

    <component id="FacebookAuthProvider"
               service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
               type="ITJakub.MobileApps.Core.Authentication.Providers.FacebookAuthProvider, ITJakub.MobileApps.Core">
      <parameters>
        <clientId>#{facebookClientId}</clientId>
        <clientSecret>#{facebookClientSecret}</clientSecret>
        <imageUrlStringFormat>http://graph.facebook.com/{0}/picture?type=large</imageUrlStringFormat>
      </parameters>
    </component>

    <component id="LiveIdAuthProvider"
               service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
               type="ITJakub.MobileApps.Core.Authentication.Providers.LiveIdAuthProvider, ITJakub.MobileApps.Core" />

    <component id="ItJakubAuthProvider"
               service="ITJakub.MobileApps.Core.Authentication.Providers.IAuthProvider"
               type="ITJakub.MobileApps.Core.Authentication.Providers.ItJakubAuthProvider, ITJakub.MobileApps.Core" />

    <component id="GravatarImageUrlProvider"
               type="ITJakub.MobileApps.Core.Authentication.Image.GravatarImageUrlProvider, ITJakub.MobileApps.Core">
      <parameters>
        <baseUrl>http://www.gravatar.com/avatar/{0}?d=monsterid</baseUrl>
      </parameters>
    </component>

    <!-- Profiles for AutoMapper -->

    <component id="UserProfile"
               service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.MobileApps.Core.AutoMapperProfiles.UserProfile, ITJakub.MobileApps.Core" />

    <component id="GroupProfile"
               service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.MobileApps.Core.AutoMapperProfiles.GroupProfile, ITJakub.MobileApps.Core" />

    <component id="SynchronizedObjectProfile"
               service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.MobileApps.Core.AutoMapperProfiles.SynchronizedObjectProfile, ITJakub.MobileApps.Core" />

    <component id="SynchronizedObjectResponseProfile"
               service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.MobileApps.Core.AutoMapperProfiles.SynchronizedObjectResponseProfile, ITJakub.MobileApps.Core" />

    <component id="ApplicationProfile"
               service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.MobileApps.Core.AutoMapperProfiles.ApplicationProfile, ITJakub.MobileApps.Core" />

  </components>
</castle>