@section styles{
    @Styles.Render("~/itjakub/bibliographies/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bibliographies/javascript")
}

@{
    ViewBag.Title = "Bibliografie - Připomínky";
}

<div class="content-container">
    <h1>Připomínky</h1>
</div>