@model ITJakub.Web.Hub.Models.StaticTextViewModel
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/Bibliographies/css/itjakub.bibliographies.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("BibliographiesInformation", "Bibliographies");
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
    
</div>