@model ITJakub.Web.Hub.Models.StaticTextViewModel

@section styles{
    @Styles.Render("~/itjakub/bibliographies/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bibliographies/javascript")
}

@{
    ViewBag.Title = "Bibliografie - Informace";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
    
</div>