@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.StaticTextViewModel
@inject ILocalizationService Localizer

@section styles{
    <link asp-append-version="true" href="~/Areas/Bibliographies/css/itjakub.bibliographies.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("BibliographiesInformation", "Bibliographies");
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model)
    
</div>