@section styles{
    @Styles.Render("~/itjakub/bibliographies/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bibliographies/javascript")
}

<div class="content-container">
    <h1>Informace</h1>

    Zde budou informace k Bibliografickemu modulu
</div>