@model ITJakub.Web.Hub.Models.StaticTextViewModel

@section styles{
    <link href="~/wwwroot/Areas/Bibliographies/css/itjakub.bibliographies.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/itjakub/bibliographies/javascript")
}

@{
    ViewBag.Title = "Bibliografie - Informace";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
    
</div>