@section styles{
    @Styles.Render("~/itjakub/bibliographies/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bibliographies/javascript")
}

<div class="content-container">
    <h1>Bibliograficky modul seznam</h1>
</div>