@section styles{
    <link href="~/wwwroot/Areas/Bibliographies/css/itjakub.bibliographies.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/wwwroot/Areas/Bibliographies/js/itjakub.bibliographies.search.js"></script>
}

@{
    ViewBag.Title = "Bibliografie - Vyhledávání";
}

<div id="listHeader">
    <div id="listSearchDiv" style="float: left; width: 70%">
    </div>
    <div style="float: left; margin-left: 50px;">
        Řadit podle
        <div id="listResultsHeader" style="display: inline-block">
        </div>
    </div>
</div>


<div id="dropdownSelectDiv" style="margin-top: 50px; clear: both;">
</div>

<div id="listResults" style="clear: both;">
</div>

<script>
    $(document).ready(function(){
        initBiblSearch();
    });
</script>