@using ITJakub.MVCWebLayer.Enums

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ITJakub.Contracts.Categories.Book

<div id="main-content">
    @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Podminky)
    <div id="source-detail-content">
        <h4>Podmínky užití</h4>
    </div>
</div>