@using ITJakub.MVCWebLayer.Enums

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ITJakub.Contracts.Searching.SearchResult

<div id="main-content">
    @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Zpracovani)
    <div id="source-detail-content">
        <h4>Způsob zpracování dokumentu</h4>
        
        
        Obecné ediční zásady

        Elektronické edice jsou pořizovány výhradně z rukopisů, prvotisků a starých tisků z období 13.–18. století. Při jejich vytváření je uplatňován kritický přístup k vydávanému textu. Texty jsou transkribovány, tj. převedeny do novočeského pravopisného systému, s tím, že jsou respektovány specifické rysy soudobého jazyka. Elektronické edice vznikají na akademickém pracovišti zabývajícím se lingvistickým výzkumem, proto je kladen mimořádný důraz na interpretaci a spolehlivý záznam jazyka památky.

        Transkripce textů se řídí obecně uznávanými edičními pravidly, jimiž jsou pro období staré a střední češtiny zejména texty Jiřího Daňhelky Směrnice pro vydávání starších českých textů (Husitský Tábor 8, 1985, s. 285–301), Obecné zásady ediční a poučení o starém jazyce českém (in: Výbor z české literatury od počátků po dobu Husovu. Praha, Nakladatelství Československé akademie věd 1957, s. 25–35) a Obecné zásady ediční a poučení o češtině 15. století (in: Výbor z české literatury doby husitské. Svazek první. Praha, Nakladatelství Československé akademie věd 1963, s. 31–41) a text Josefa Vintra Zásady transkripce českých textů z barokní doby (Listy filologické 121, 1998, s. 341–346). Tato obecná pravidla jsou přizpůsobována stavu a vlastnostem konkrétního textu. Při transkripci textu editor dbá na to, aby svou interpretací nesetřel charakteristické rysy jazyka a textu, zároveň však nezaznamenává jevy, které nemají pro interpretaci textu či jazyka význam (tj. např. grafické zvláštnosti textu).

        Součástí elektronických edic je textověkritický a poznámkový aparát, jehož obsah a rozsah je zcela v kompetenci jednotlivých editorů. Bez výjimek jsou v kritickém aparátu zaznamenány všechny zásahy do textu, tj. emendace textu. Pravidelně jsou zaznamenávány informace týkající se poškození či fragmentárnosti předlohy, nejistoty při interpretaci textu atp. Naopak výjimečně jsou zachyceny mezitextové vztahy.

        Elektronické edice neobsahují slovníček vykládající méně známá slova. K tomuto účelu slouží slovníky zapojené do jednotného vyhledávacího systému Vokabuláře webového (http://vokabular.ujc.cas.cz/hledani.aspx), případně též slovníky nezapojené do tohoto vyhledávání (http://vokabular.ujc.cas.cz/zdroje.aspx).

 

        Struktura a forma elektronických edic

        V přehledovém záznamu o elektronické edici je na prvním místě uvedeno jméno autora originálního textu (známe-li jej) a následuje název dokumentu; pokud se jedná o název nepůvodní, uzuální, je uzavřen v hranatých závorkách []. Dále uvádíme informace o rukopisu či tisku, z něhož byla edice pořízena (uložení, signatura, stránkové určení a datace). Tyto informace se zobrazují i při „listování“ textem edice v záhlaví dokumentu.

        Další informace o elektronické edici poskytuje nabídka Detail edice, která je skryta pod ikonkou otazníku. Zde je dílo přiřazeno k literárnímu druhu a žánru a jsou zde uvedeny uzuální zkratky literární památky a pramene. Dále se zde nachází jméno editora elektronické edice a označení nositele osobnostních a majetkových autorských práv. V případě, že editor k textu vypracoval ještě specifickou ediční poznámku, vede k ní odkaz Ediční poznámka.

        Text edice se zobrazí po kliknutí na ikonku otevřené knihy. Text je strukturován, tj. povinně je v nich zaznamenávána uzuální foliace či paginace. Ve výjimečných případech je v textu uvedena červenou barvou i foliace či paginace variantní (např. stránkování novodobé edice). Naznačena je i další struktura textu − text je členěn pomocí nadpisů a podnadpisů na nižší celky. V závislosti na charakteru předlohového textu mohou být v elektronické edici uvedena čísla veršů (u veršovaných předloh) či označení kapitol a veršů (u biblických textů).

        Kliknutím na zelenou ikonku stránky je možné zobrazit obsah dokumentu, tj. členění textu na kapitoly či podobné celky. Kliknutím na červenou ikonku stránky se tento obsah skryje.

        Součástí elektronických edic je textověkritický a poznámkový aparát, který je v textech zachycen dvojím způsobem: buď jako rozvinovací poznámka pod čarou, nebo přímo v základním textu edice. Tento aparát je možné skrýt kliknutím na červenou ikonku stránky s terčíkem v dolní části. Skryje se tak nejen textověkritický komentář, ale i proznačení stránkování. V textu zůstává vysvětlení, že text zapsaný kurzivou je text cizojazyčný, a dále vysvětlení užití různého typu závorek (pro přípisky různého typu, pro doplněný text).

        Tučným písmem v horním indexu v hranatých závorkách jsou v edici signalizovány vnořené informace, které se po kliknutí zobrazí v dolní části obrazovky, kde jsou umístěny všechny vnořené informace ze zobrazené stránky; vybraná poznámka je podbarvena šedivou barvou. K označení vnořených informací je užito malého písmene či arabské číslice v hranatých závorkách:

        [a] – malé písmeno označuje emendace. U emendací je na prvním místě uvedeno kurzivou správné (tj. opravené) znění textu ve shodě s edicí, za grafickou značkou ] je uvedeno chybné znění pramenné předlohy
        [1] – arabská číslice označuje poznámky a komentáře nejrůznějšího druhu, které editor pokládal za důležité pro interpretaci textu
        V elektronické edici je dále použito těchto typů závorek a dalšího grafického značení:

        závorky; při umístění kurzoru nad textem v níže uvedených závorkách se objeví tzv. bublinková nápověda, která objasní jejich funkci (viz níže)
        {} ve složených závorkách je zaznamenán text, který má charakter přípisku. Rozlišujeme přípisky co do umístění v textu (marginální a interlineární) a přípisky co do stáří vzhledem k základnímu textu (soudobou rukou a mladší rukou).
        [] v hranatých závorkách je zaznamenán text, který není součástí předlohového textu, ale který lze na základě pravděpodobnosti či jiného textu do edice doplnit; text v hranatých závorkách může být doplněn i o poznámku (značenou arabskou číslicí v horním indexu) s údajem, odkud je text doplněn. V hranatých závorkách jsou rovněž umístěna čísla a údaje určující strukturu textu (foliace, paginace, označení a čísla biblických kapitol a veršů atp.).
        odlišné písmo
        kurziva označuje text, který byl editorem interpretován jako text nečeský; dále nerozlišujeme, o jaký jazyk se jedná, avšak nejfrekventovanější je latina
        větším písmem jsou označeny nadpisy a podnadpisy
        grafické znaky
        # – tzv. ležatý křížek zastupuje obrázky, schémata či tabulky, které se nacházejí v předlohovém textu a které nelze z technických důvodů jednoduše převést do elektronické podoby. Zároveň se jedná o obsah, který nemá na interpretaci textu závažný dopad, a lze je proto vynechat. Znak # může být doplněn poznámkou (značenou arabskou číslicí v horním indexu), v níž je stručně popsána vynechaná pasáž
        bublinková nápověda
        Při umístění kurzoru na text odlišující se barvou, velikostí či řezem od základního textu (tučné, kurziva) se zobrazí bližší informace o důvodu užití odlišného písma. Bublinková nápověda je k dispozici i u textu v závorkách ({}, []) a u trojtečky (…), pokud se jedná o torzovité slovo.

        Elektronické edice vznikají již po několik let a způsob značení textověkritického aparátu se postupně rozvíjí a upřesňuje. Při srovnání některých edic lze tedy dojít ke zjištění, že stejný jev je v jedné edici značen jinak než v jiné (např. ve starších edicích je formát poznámky užíván i pro zachycení marginálních přípisků, živého záhlaví atp.; v novějších edicích jsou tyto části signalizovány jiným způsobem, přímo v textu).

        Na základě uvážení editora jsou v některých případech tyto obecné ediční zásady doplněny o specifickou ediční poznámku vážící se ke konkrétnímu textu.

    </div>
</div>