@using ITJakub.MVCWebLayer.Enums

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ITJakub.Contracts.Searching.SearchResult

<div id="main-content">
    @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Podminky)
    <div id="source-detail-content">
        <h4>Podmínky užití</h4>
        <div>
            Podmínky užití
            Elektronické edice jsou autorská díla chráněná ve smyslu zákona č. 121/2000 Sb., o právu autorském. 
            Jsou určena pro osobní nekomerční využití. 
            Elektronické edice je zakázáno jakýmkoliv způsobem rozšiřovat, ať již jako samostatná díla, či v rámci jiného projektu. 
            Jakékoliv jiné použití musí být konzultováno s oddělením vývoje jazyka Ústavu pro jazyk český AV ČR, v. v. i. 
            Při citaci z elektronických edic je nutné postupovat podle obecně uznávaných pravidel citování vědecké literatury.
        </div>
    </div>
</div>