@using Ujc.Naki.MVCWebLayer.Services
@using Ujc.Naki.MVCWebLayer.Enums

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    @Html.Partial("~/Views/Shared/_SourcesMenu.cshtml", SourceDetailPart.Prochazet)
    <div id="source-detail-content">
        <h4>Dvanádctý</h4>
        <p>
            I povědě hospodin k Mojžiešovi a k Áronovi v zemi ejiptské: „Měsiec tento
            vám počátek měsiecóv, první bude v měsiecích. Toto mluvte ke všemu sboru synóv
            israhelských a řcete jim: Desátý den měsiecě tohoto vezmi každý berana po čeledech a
            po domiech svých. A pakli jest menšie číslo počtu, že by nebylo jich dosti k jedení
            berana, přijmi súsěda tvého, jenž přijednán jest podlé domu tvého, podlé čísla duší, jichžto
            by mohlo dosti býti k jedení berana. Ale beranec bude bez poškvrny, samec jednoho
            léta. Podlé něhožto obyčeje vezmete kozlec a budete jeho chovati až do čtvrtéhonádcte
            dne toho měsiecě. I bude jej obětovati všecko množstvie synóv israhelských k večeru
            a vezmúť jeho krev i pomaží na oba podvoje a na svrchních praziech domových, v nichžto
            jej budú jiesti.  A budú jiesti maso té noci, pečené v ohni, a přesný chléb s kyselú
            locikú. Nebudete jeho nic surového jiesti ani vařeného u vodě, ale jediné pečené u
            ohně; hlavu s nohami i s droby slepcete ani jeho co ostavíte až do jitra. Ale co by
            bylo ostatečného, v ohni sezžete. A tak jej jiesti budete: ledvie vaše opášete a obuv
            budete mieti na nohách, držiece holi v rukú, a budete jiesti chvátajíce. Nebo jest Phase, to jest
            příštie hospodinovo: a přejdu přes zemi ejiptskú té noci a ztepu prvorozenie vše v zemi
            ejiptské ot člověka až do dobytčete. A nade všěmi bohy ejiptskými učiním súdy, já hospodin.
            A budeť krev kozelcova vám na znamenie v domiech, v nichžto budete, a uzřím krev a
            minu vás aniť bude na vás rána záhubná, kdyžť potepu zemi ejiptskú.
        </p>
        <div id="paging-controls">
            <div class="pages">
                <a href="/Sources/Prochazet/1-zizka/2">1</a>
                <a class="selected" href="/Sources/Prochazet/1-zizka/2">2</a>
                ...  
                <a href="/Sources/Prochazet/1-zizka/23">23</a>
                ...
                <a href="/Sources/Prochazet/1-zizka/87">87</a>  
            </div>
            <a class="prev-button" href="/Sources/Prochazet/1-zizka/1">Předchozí stránka</a>
            <a class="next-button" href="/Sources/Prochazet/1-zizka/3">Další stránka</a>
        </div>
    </div>
</div>
