<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <system.serviceModel>
    <client>
      <endpoint name="ItJakubServiceAuthenticated" address="http://censeo2.felk.cvut.cz/MainService/IItJakubServiceAuthenticated.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceEncrypted" binding="basicHttpBinding" />

      <endpoint name="IItJakubServiceStreamed" address="http://censeo2.felk.cvut.cz/MainService/IItJakubServiceStreamed.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" />

      <endpoint name="ItJakubService" address="http://censeo2.felk.cvut.cz/MainService/ITJakubService.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding" />
      
      
      <!--<endpoint name="ItJakubServiceAuthenticated" address="http://localhost/MainService/IItJakubServiceAuthenticated.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceEncrypted" binding="basicHttpBinding" />

      <endpoint name="IItJakubServiceStreamed" address="http://localhost/MainService/IItJakubServiceStreamed.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" />

      <endpoint name="ItJakubService" address="http://localhost/MainService/ITJakubService.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding" />-->

    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ITJakub.BasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                 closeTimeout="00:25:00" openTimeout="00:10:00" sendTimeout="00:15:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>


        <binding name="ITJakub.BasicHttpBinding.Streamed" maxBufferPoolSize="2097120" maxBufferSize="65536"
                 maxReceivedMessageSize="2147483647" closeTimeout="00:25:00" openTimeout="00:25:00"
                 sendTimeout="00:10:00" transferMode="Streamed">
        </binding>

      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="ITJakub.BasicHttpsBinding.Authenticated">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ITJakub.ITJakubService.Authenticated">
          <clientCredentials>
            <clientCertificate findValue="9D182ED0C2F36309BE19785FDB6F54816C9DDBFD" storeLocation="LocalMachine" storeName="My"
                               x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--WCF Tracing-->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WCFTrace.svclog" />
    </sharedListeners>
  </system.diagnostics>


</configuration>