<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="MainService" value="https://localhost:44331/api/" />
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint name="ItJakubService.Authenticated" address="https://localhost/ITJakub.ITJakubService/ItJakubService.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubService"
                binding="basicHttpsBinding"
                bindingConfiguration="ITJakub.BasicHttpsBinding.UserNameAuthentication" />

      <endpoint name="ItJakubServiceStreamed" address="http://localhost/ITJakub.ITJakubService/ItJakubServiceStreamed.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed"
                binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" />

      <endpoint name="ItJakubServiceStreamed.Authenticated" address="https://localhost/ITJakub.ITJakubService/ItJakubServiceStreamed.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed"
                binding="basicHttpsBinding"
                bindingConfiguration="ITJakub.BasicHttpsBinding.Streamed" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="ITJakub.BasicHttpBinding.Streamed" maxBufferPoolSize="2097120" maxBufferSize="65536" maxReceivedMessageSize="2147483647" closeTimeout="00:25:00" openTimeout="00:25:00" sendTimeout="00:10:00" transferMode="Streamed">
        </binding>
      </basicHttpBinding>

      <basicHttpsBinding>
        <binding name="ITJakub.BasicHttpsBinding.UserNameAuthentication" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>

        <binding name="ITJakub.BasicHttpsBinding.Streamed" maxBufferPoolSize="2097120" maxBufferSize="65536" maxReceivedMessageSize="2147483647" closeTimeout="00:25:00" openTimeout="00:25:00" sendTimeout="00:10:00" transferMode="Streamed">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>        
      </basicHttpsBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ITJakub.EndpointBehavior.CertificateAuthentication">
          <clientCredentials>
            <clientCertificate findValue="C787F20847606DC40E50E015A5D2E3A9E59B704C"
                               storeLocation="LocalMachine"
                               storeName="My"
                               x509FindType="FindByThumbprint" />      
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <!--ORIGINAL-->
  <!--<system.serviceModel>
    <client>
      --><!--<endpoint name="ItJakubServiceAuthenticated" address="http://censeo2.felk.cvut.cz/ITJakub.ITJakubService/IItJakubServiceAuthenticated.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceEncrypted" binding="basicHttpBinding" />

      <endpoint name="IItJakubServiceStreamed" address="http://censeo2.felk.cvut.cz/ITJakub.ITJakubService/IItJakubServiceStreamed.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" />

      <endpoint name="ItJakubService" address="http://censeo2.felk.cvut.cz/ITJakub.ITJakubService/ITJakubService.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding" />--><!--


      <endpoint name="ItJakubServiceAuthenticated" address="http://localhost/ITJakub.ITJakubService/IItJakubServiceAuthenticated.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceEncrypted" binding="basicHttpBinding" />

      <endpoint name="IItJakubServiceStreamed" address="http://localhost/ITJakub.ITJakubService/IItJakubServiceStreamed.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" />

      <endpoint name="ItJakubService" address="http://localhost/ITJakub.ITJakubService/ITJakubService.svc"
                contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpBinding"
                bindingConfiguration="ITJakub.BasicHttpBinding" />

    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ITJakub.BasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                 closeTimeout="00:25:00" openTimeout="00:10:00" sendTimeout="00:15:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>


        <binding name="ITJakub.BasicHttpBinding.Streamed" maxBufferPoolSize="2097120" maxBufferSize="65536"
                 maxReceivedMessageSize="2147483647" closeTimeout="00:25:00" openTimeout="00:25:00"
                 sendTimeout="00:10:00" transferMode="Streamed">
        </binding>

      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="ITJakub.BasicHttpsBinding.Authenticated">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ITJakub.ITJakubService.Authenticated">
          <clientCredentials>
            <clientCertificate findValue="9D182ED0C2F36309BE19785FDB6F54816C9DDBFD" storeLocation="LocalMachine" storeName="My"
                               x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  --><!--WCF Tracing-->
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WCFTrace.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>