<?xml version="1.0"?>
<ApplicationConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationAssemblies>
    <string>ITJakub.MobileApps.Client.Hangman</string>
    <string>ITJakub.MobileApps.Client.SampleApp</string>
  </ApplicationAssemblies>
</ApplicationConfig>