
@{
    ViewBag.Title = "Indexs";
}

<h2>Nahrání díla</h2>

<p>Pro nahrání souborů klikněte na formulář a proveďtě výběr nebo je na formlulář přetáhněte.</p>

<form action="~/Upload/UploadFiles" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    <div class="fallback">
        <input name="file" type="file" multiple />
        <input type="submit" value="Upload" />
    </div>
</form>