@{
    ViewBag.Title = "Indexs";
}
@section scripts{
    @Scripts.Render("~/Scripts/itjakub.upload.js")
}
                
<h2>Nahrání díla</h2>
<ol class="numbered upload-file">
    <li>
        <p> Pro nahrání díla klikněte na formulář a proveďtě výběr nebo je na formlulář přetáhněte.</p>

        <form action="~/Upload/UploadFile" method="post" class="dropzone" enctype="multipart/form-data" id="dropzoneFileForm">
            <div id="dropzoneFileFormPreview"></div>
            <div class="fallback">
                <input name="file" type="file" />
            </div>
            <div class="additionalData">
                <input type="text" name="changeMessage" placeholder="Poznámky k verzi" />
                <input type="submit" value="Odeslat" />
            </div>
        </form>
    </li>
    @*<li>
        <p> Vyplňte informace o díle.</p>

        <form method="post" enctype="multipart/form-data" id="fileMetadataForm" class="file-upload-metadata">
        </form>
    </li>*@
    <li>
        <p>Nahrajte obrázek úvodní strany díla.</p>

        <form action="~/Upload/UploadFrontImage" method="post" enctype="multipart/form-data" id="dropzoneFrontImageForm">
            <div class="fallback">
                <input name="file" type="file"/>
                <input type="submit" value="Upload" />
            </div>
        </form>
    </li>
    <li>
        <p>Nahrajte ostatní obrázky díla.</p>

        <form action="~/Upload/UploadImages" method="post" enctype="multipart/form-data" id="dropzoneImagesForm">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </li>
</ol>