@model ITJakub.Web.Hub.Models.UploadViewModel
@{
    ViewBag.Title = "Administrace - Nahrání díla";
}
@section scripts{
    @Scripts.Render("~/Scripts/itjakub.upload.js")
}

<div class="content-container">
    <h2>Nahrání díla</h2>
    
    <div class="centered">
        <div id="upload">
            <p> Pro nahrání souborů klikněte na formulář a proveďtě výběr nebo je na formlulář přetáhněte.</p>

            <form action="@Url.Action("UploadFile", "Upload")" method="post" class="dropzone" enctype="multipart/form-data" id="dropzoneFileForm">
                <div id="dropzoneFileFormPreview"></div>
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
                <div class="additionalData">
                    <input type="hidden" id="sessionId" name="sessionId" value="@Model.SessionId"/>
                </div>
            </form>

            <input type="text" id="uploadMessage" name="bookVeuploadMessagersionMessage" placeholder="Zde napiste zpravu k nove verzi" style="width: 400px; height: 28px;"/>

            <button id="ProcessUploadedButton" type="button" class="btn btn-default" disabled>
                Zpracovat
            </button>
        </div>
        <div id="processing" style="display: none">
            <div id="progressbar"></div>
            <h2>Zpracovává se...</h2>
        </div>

        <div id="done" style="display: none">
            <div class="alert alert-success success" style="display: none">
                <h2>Zpracování proběhlo v pořádku</h2>
            </div>
            
            <div class="alert alert-danger error" style="display: none">
                <h2>Zpracování souborů se nezdařilo</h2>
                <div class="message"></div>
            </div>
        </div>

        <div id="music"></div>
        </div>
</div>