@model ITJakub.Web.Hub.Models.UploadViewModel
@{
    ViewBag.Title = "Indexs";
}
@section scripts{
    @Scripts.Render("~/Scripts/itjakub.upload.js")
}
<div class="content-container top-offset-without-submenu">
    <h2>Nahrání díla</h2>
    
    <div class="centered">
        <div id="upload">
            <p> Pro nahrání souborů klikněte na formulář a proveďtě výběr nebo je na formlulář přetáhněte.</p>

            <form action="@Url.Action("UploadFile", "Upload")" method="post" class="dropzone" enctype="multipart/form-data" id="dropzoneFileForm">
                <div id="dropzoneFileFormPreview"></div>
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
                <div class="additionalData">
                    <input type="hidden" id="sessionId" name="sessionId" value="@Model.SessionId"/>
                </div>
            </form>

            <input type="text" id="uploadMessage" name="bookVeuploadMessagersionMessage" placeholder="Zde napiste zpravu k nove verzi" style="width: 400px"/>

            <button id="ProcessUploadedButton" type="button" class="btn btn-default style-button" disabled>
                Zpracovat
            </button>
        </div>
        <div id="processing" style="display: none">
            <div id="progressbar"></div>
            <h2>Zpracovává se...</h2>
        </div>
    
        <div id="done" style="display: none">
            <h2 class="success" style="display: none">Soubory byly odeslány ke zpracování</h2>
            <div class="error" style="display: none">
                <h2>Odesílání souborů se nezdařilo</h2>
                <div class="message"></div>
            </div>
        </div>

        @*<h2>Nahrání díla</h2>
    <ol class="numbered upload-file">
        <li>
            <p> Pro nahrání díla klikněte na formulář a proveďtě výběr nebo je na formlulář přetáhněte.</p>

            <form action="~/Upload/UploadFile" method="post" class="dropzone" enctype="multipart/form-data" id="dropzoneFileForm">
                <div id="dropzoneFileFormPreview"></div>
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
                <div class="additionalData">
                    <input type="text" name="changeMessage" placeholder="Poznámky k verzi" />
                    <input type="submit" value="Odeslat" />
                </div>
            </form>
        </li>
        <li>
            <p> Vyplňte informace o díle.</p>

            <form method="post" enctype="multipart/form-data" id="fileMetadataForm" class="file-upload-metadata">
                <p> Vyberte autora:</p>
                <div id="authorstabledivHeader">
                    <label for="searchInput">Filtr:</label>
                    <input id="searchInput" value="Type To Filter">
                    <button type="button" id="addAuthorButton" class="btn btn-default" style="float: right">Přidat autora</button>
                </div>
                <div id="authorsTableDiv">
                    <table class="table table-hover" id="authorsTable">
                        <tbody id="authorsTableBody"></tbody>
                    </table>
                </div>
                <input type="submit" value="Potvrdit" class="btn btn-primary" />
            </form>
        </li>
        <li>
            <p>Nahrajte obrázek úvodní strany díla.</p>

            <form action="~/Upload/UploadFrontImage" method="post" enctype="multipart/form-data" id="dropzoneFrontImageForm">
                <div class="fallback">
                    <input name="file" type="file" />
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </li>
        <li>
            <p>Nahrajte ostatní obrázky díla.</p>

            <form action="~/Upload/UploadImages" method="post" enctype="multipart/form-data" id="dropzoneImagesForm">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </li>
    </ol>*@


        <!-- Modal -->

        @*<div class="modal fade" id="addAuthorModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 9999">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="createAuthorForm">
                        <div class="form-group author-info">
                            <label>Text části jména:</label>
                            <input type="text" name="Text" class="form-control" placeholder="cast jmena">
                            <label>Typ části jména:</label>
                            <select class="form-control" name="TextType">
                                <option value="1">Křestní</option>
                                <option value="2">Příjmení</option>
                                <option value="3">Střední jméno</option>
                                <option value="4">Rodné místo</option>
                                <option value="5">Přezdívka</option>
                                <option value="6">Číslovka</option>
                                <option value="0">Jiné</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Vytvořit autora</button>
                        <button class="btn btn-default" data-dismiss="modal" data-target="#addAuthorModal">Zrušit</button>
                        <button id="addAuthorInfo" class="btn btn-default" type="button">Přidat další</button>
                    </form>
                </div>
            </div>
        </div>
    </div>*@
    </div>
</div>