<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <components>


    <component id="ResourceSessionManager"
               type="ITJakub.FileProcessing.Core.Sessions.ResourceSessionManager, ITJakub.FileProcessing.Core">
      <parameters>
        <rootFolder>#{rootFolder}</rootFolder>
      </parameters>
    </component>


    <!--Resource type resolvers-->
    <component id="ResourceTypeResolverManager"
               type="ITJakub.FileProcessing.Core.Sessions.ResourceTypeResolverManager, ITJakub.FileProcessing.Core">
    </component>

    <component id="SourceDocumentTypeResolver"
               service="ITJakub.FileProcessing.Core.Sessions.ResourceTypeResolverBase, ITJakub.FileProcessing.Core"
               type="ITJakub.FileProcessing.Core.Sessions.SourceDocumentTypeResolver, ITJakub.FileProcessing.Core">
      <parameters>
        <fileExtensions>
          <array type="System.String, System">
            <item>.doc</item>
            <item>.docx</item>
          </array>
        </fileExtensions>
      </parameters>
    </component>

    <component id="MetadataTypeResolver"
               service="ITJakub.FileProcessing.Core.Sessions.ResourceTypeResolverBase, ITJakub.FileProcessing.Core"
               type="ITJakub.FileProcessing.Core.Sessions.MetadataTypeResolver, ITJakub.FileProcessing.Core">
      <parameters>
        <fileExtensions>
          <array type="System.String, System">
            <item>.xmd</item>
          </array>
        </fileExtensions>
      </parameters>
    </component>

    <component id="ImageTypeResolver"
               service="ITJakub.FileProcessing.Core.Sessions.ResourceTypeResolverBase, ITJakub.FileProcessing.Core"
               type="ITJakub.FileProcessing.Core.Sessions.ImageTypeResolver, ITJakub.FileProcessing.Core">
      <parameters>
        <fileExtensions>
          <array type="System.String, System">
            <item>.jpg</item>
            <item>.jpeg</item>
            <item>.png</item>
            <item>.bmp</item>
            <item>.gif</item>
          </array>
        </fileExtensions>
      </parameters>
    </component>

    <component id="TransformationTypeResolver"
               service="ITJakub.FileProcessing.Core.Sessions.ResourceTypeResolverBase, ITJakub.FileProcessing.Core"
               type="ITJakub.FileProcessing.Core.Sessions.TransformationTypeResolver, ITJakub.FileProcessing.Core">
      <parameters>
        <fileExtensions>
          <array type="System.String, System">
            <item>.xsl</item>
            <item>.xslt</item>
          </array>
        </fileExtensions>
      </parameters>
    </component>

    <component id="AudioTypeResolver"
               service="ITJakub.FileProcessing.Core.Sessions.ResourceTypeResolverBase, ITJakub.FileProcessing.Core"
               type="ITJakub.FileProcessing.Core.Sessions.AudioTypeResolver, ITJakub.FileProcessing.Core">
      <parameters>
        <fileExtensions>
          <array type="System.String, System">
            <item>.mp3</item>
            <item>.ogg</item>
            <item>.wav</item>
          </array>
        </fileExtensions>
      </parameters>
    </component>

    <component id="ExtractableArchiveTypeResolver"
               service="ITJakub.FileProcessing.Core.Sessions.ResourceTypeResolverBase, ITJakub.FileProcessing.Core"
               type="ITJakub.FileProcessing.Core.Sessions.ExtractableArchiveTypeResolver, ITJakub.FileProcessing.Core">
      <parameters>
        <fileExtensions>
          <array type="System.String, System">
            <item>.zip</item>
          </array>
        </fileExtensions>
      </parameters>
    </component>


    <component type="ITJakub.FileProcessing.Core.Sessions.ResourceProcessorManager, ITJakub.FileProcessing.Core" />

    <component id="XmlConversionProcessor"
               type="ITJakub.FileProcessing.Core.Sessions.Processors.XmlConversionProcessor, ITJakub.FileProcessing.Core">
      <parameters>
        <conversionMetadataPath>#{conversionMetadataPath}</conversionMetadataPath>
        <dataDirectoryPath>#{dataDirectoryPath}</dataDirectoryPath>
      </parameters>
    </component>

    <component type="ITJakub.FileProcessing.Core.Sessions.Processors.MetadataProcessor, ITJakub.FileProcessing.Core" />

    <component type="ITJakub.FileProcessing.Core.Sessions.Processors.ExtractableArchiveProcessor, ITJakub.FileProcessing.Core" />

    <component type="ITJakub.FileProcessing.Core.Sessions.Processors.TransformationsProcessor, ITJakub.FileProcessing.Core" />

    <component type="ITJakub.FileProcessing.Core.Sessions.Processors.RelationalDbStoreProcessor, ITJakub.FileProcessing.Core" />

    <component type="ITJakub.FileProcessing.Core.Sessions.Processors.FileDbStoreProcessor, ITJakub.FileProcessing.Core" />

    <component type="ITJakub.FileProcessing.Core.Sessions.Processors.ExistDbStoreProcessor, ITJakub.FileProcessing.Core" />

    <component type="ITJakub.FileProcessing.Core.Sessions.Processors.VersionIdGenerator, ITJakub.FileProcessing.Core" />

    <component id="XsltTransformationManager"
               type="ITJakub.FileProcessing.Core.XMLProcessing.XSLT.XsltTransformationManager, ITJakub.FileProcessing.Core">
      <parameters>
        <toStringXsltName>ITJakub.FileProcessing.Core.XMLProcessing.XSLT.CommonTEI.xsl</toStringXsltName>
      </parameters>
    </component>


    <component id="DocumentProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.DocumentProcessor, ITJakub.FileProcessing.Core" />

    <component id="XmlMetadataProcessingManager"
               type="ITJakub.FileProcessing.Core.XMLProcessing.XmlMetadataProcessingManager, ITJakub.FileProcessing.Core" />


    <!--xml header processors-->

    <component id="AuthorProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.AuthorProcessor, ITJakub.FileProcessing.Core" />

    <component id="AvailibilityProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.AvailabilityProcessor, ITJakub.FileProcessing.Core" />

    <component id="BiblProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.BiblProcessor, ITJakub.FileProcessing.Core" />

    <component id="CategoryProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.CategoryProcessor, ITJakub.FileProcessing.Core" />

    <component id="CatRefProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.CatRefProcessor, ITJakub.FileProcessing.Core" />

    <component id="CategoryDescriptionProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.CategoryDescriptionProcessor, ITJakub.FileProcessing.Core" />

    <component id="ClassDeclProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.ClassDeclProcessor, ITJakub.FileProcessing.Core" />

    <component id="CountryProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.CountryProcessor, ITJakub.FileProcessing.Core" />

    <component id="DateProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.DateProcessor, ITJakub.FileProcessing.Core" />

    <component id="EditionProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.EditionProcessor, ITJakub.FileProcessing.Core" />

    <component id="EditionStmtProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.EditionStmtProcessor, ITJakub.FileProcessing.Core" />

    <component id="EncodingDescProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.EncodingDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="FileDescProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.FileDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="HistoryProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.HistoryProcessor, ITJakub.FileProcessing.Core" />

    <component id="IdnoProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.IdnoProcessor, ITJakub.FileProcessing.Core" />

    <component id="KeywordsProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.KeywordsProcessor, ITJakub.FileProcessing.Core" />

    <component id="ListBiblProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.ListBiblProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsContentsProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.MsContentsProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsDescProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.MsDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsIdentifierProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.MsIdentifierProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsItemProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.MsItemProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsTitleProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.MsTitleProcessor, ITJakub.FileProcessing.Core" />

    <component id="OrigDateProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.OrigDateProcessor, ITJakub.FileProcessing.Core" />

    <component id="OriginProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.OriginProcessor, ITJakub.FileProcessing.Core" />

    <component id="ProfileDescProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.ProfileDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="PublicationStmtProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.PublicationStmtProcessor, ITJakub.FileProcessing.Core" />

    <component id="PublisherProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.PublisherProcessor, ITJakub.FileProcessing.Core" />

    <component id="PubPlaceProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.PubPlaceProcessor, ITJakub.FileProcessing.Core" />

    <component id="RepositoryProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.RepositoryProcessor, ITJakub.FileProcessing.Core" />

    <component id="RespStmtProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.RespStmtProcessor, ITJakub.FileProcessing.Core" />

    <component id="SettlementProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.SettlementProcessor, ITJakub.FileProcessing.Core" />

    <component id="SourceDescProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.SourceDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="TaxonomyProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.TaxonomyProcessor, ITJakub.FileProcessing.Core" />

    <component id="TeiHeaderProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.TeiHeaderProcessor, ITJakub.FileProcessing.Core" />

    <component id="TermProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.TermProcessor, ITJakub.FileProcessing.Core" />

    <component id="TextClassProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.TextClassProcessor, ITJakub.FileProcessing.Core" />

    <component id="TitleProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.TitleProcessor, ITJakub.FileProcessing.Core" />

    <component id="TitleStmtProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Header.TitleStmtProcessor, ITJakub.FileProcessing.Core" />

    <!--book content processor-->
    <component id="TableOfContentProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.BookContent.TableOfContentProcessor, ITJakub.FileProcessing.Core" />

    <component id="ListProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.BookContent.ListProcessor, ITJakub.FileProcessing.Core" />

    <component id="ItemProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.BookContent.ItemProcessor, ITJakub.FileProcessing.Core" />

    <component id="HeadProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.BookContent.HeadProcessor, ITJakub.FileProcessing.Core" />

    <component id="RefProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.BookContent.RefProcessor, ITJakub.FileProcessing.Core" />

    <!--pages processor-->

    <component id="PagesProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Pages.PagesProcessor, ITJakub.FileProcessing.Core" />

    <component id="PageProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Pages.PageProcessor, ITJakub.FileProcessing.Core" />

    <!--headwords processor-->

    <component id="HeadwordsTableProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Headwords.HeadwordsTableProcessor, ITJakub.FileProcessing.Core" />

    <component id="HeadwordProcessor"
               type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Headwords.HeadwordProcessor, ITJakub.FileProcessing.Core" />


    <!--audiobooks processor-->
    
    <component type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Audiobooks.RecordingProcessor, ITJakub.FileProcessing.Core"/>
    
    <component type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Audiobooks.TrackProcessor, ITJakub.FileProcessing.Core"/>
    
    <component type="ITJakub.FileProcessing.Core.XMLProcessing.Processors.Audiobooks.TracksProcessor, ITJakub.FileProcessing.Core"/>
    
  </components>

</castle>