<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <components>

    <component id="XsltTransformationManager"
               type="ITJakub.FileProcessing.Core.XSLT.XsltTransformationManager, ITJakub.FileProcessing.Core">
      <parameters>
        <toStringXsltName>ITJakub.FileProcessing.Core.XSLT.CommonTEI.xsl</toStringXsltName>
      </parameters>
    </component>

    <component id="DocumentProcessor"
               type="ITJakub.FileProcessing.Core.Processors.DocumentProcessor, ITJakub.FileProcessing.Core" />

    <!--xml header processors-->

    <component id="AuthorProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.AuthorProcessor, ITJakub.FileProcessing.Core" />

    <component id="AvailibilityProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.AvailabilityProcessor, ITJakub.FileProcessing.Core" />

    <component id="BiblProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.BiblProcessor, ITJakub.FileProcessing.Core" />

    <component id="CategoryProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.CategoryProcessor, ITJakub.FileProcessing.Core" />

    <component id="CategoryDescriptionProcessor"
           type="ITJakub.FileProcessing.Core.Processors.Header.CategoryDescriptionProcessor, ITJakub.FileProcessing.Core" />

    <component id="ClassDeclProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.ClassDeclProcessor, ITJakub.FileProcessing.Core" />

    <component id="CountryProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.CountryProcessor, ITJakub.FileProcessing.Core" />

    <component id="DateProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.DateProcessor, ITJakub.FileProcessing.Core" />

    <component id="EditionProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.EditionProcessor, ITJakub.FileProcessing.Core" />

    <component id="EditionStmtProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.EditionStmtProcessor, ITJakub.FileProcessing.Core" />

    <component id="EncodingDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.EncodingDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="FileDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.FileDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="HistoryProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.HistoryProcessor, ITJakub.FileProcessing.Core" />

    <component id="IdnoProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.IdnoProcessor, ITJakub.FileProcessing.Core" />

    <component id="ListBiblProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.ListBiblProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsContentsProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.MsContentsProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.MsDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsIdentifierProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.MsIdentifierProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsItemProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.MsItemProcessor, ITJakub.FileProcessing.Core" />

    <component id="MsTitleProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.MsTitleProcessor, ITJakub.FileProcessing.Core" />

    <component id="OrigDateProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.OrigDateProcessor, ITJakub.FileProcessing.Core" />

    <component id="OriginProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.OriginProcessor, ITJakub.FileProcessing.Core" />

    <component id="ProfileDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.ProfileDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="PublicationStmtProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.PublicationStmtProcessor, ITJakub.FileProcessing.Core" />

    <component id="PublisherProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.PublisherProcessor, ITJakub.FileProcessing.Core" />

    <component id="PubPlaceProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.PubPlaceProcessor, ITJakub.FileProcessing.Core" />

    <component id="RepositoryProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.RepositoryProcessor, ITJakub.FileProcessing.Core" />

    <component id="RespStmtProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.RespStmtProcessor, ITJakub.FileProcessing.Core" />

    <component id="SettlementProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.SettlementProcessor, ITJakub.FileProcessing.Core" />

    <component id="SourceDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.SourceDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="TaxonomyProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.TaxonomyProcessor, ITJakub.FileProcessing.Core" />

    <component id="TeiHeaderProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.TeiHeaderProcessor, ITJakub.FileProcessing.Core" />

    <component id="TitleProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.TitleProcessor, ITJakub.FileProcessing.Core" />

    <component id="TitleStmtProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.TitleStmtProcessor, ITJakub.FileProcessing.Core" />


    <!--xml text processors-->
    <component id="TextProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Text.TextProcessor, ITJakub.FileProcessing.Core" />

    <component id="XmlProcessingManager"
               type="ITJakub.FileProcessing.Core.XmlProcessingManager, ITJakub.FileProcessing.Core" />


  </components>

</castle>