<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  <components>


    <component id="XsltTransformationManager"
              type="ITJakub.FileProcessing.Core.XSLT.XsltTransformationManager, ITJakub.FileProcessing.Core" />

    <component id="DocumentProcessor"
               type="ITJakub.FileProcessing.Core.Processors.DocumentProcessor, ITJakub.FileProcessing.Core" />

     <!--xml header processors--> 
    <component id="TeiHeaderProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.TeiHeaderProcessor, ITJakub.FileProcessing.Core" />

    <component id="FileDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.FileDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="TitleStmtProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.TitleStmtProcessor, ITJakub.FileProcessing.Core" />

    <component id="TitleProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.TitleProcessor, ITJakub.FileProcessing.Core" />

    <component id="AuthorProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.AuthorProcessor, ITJakub.FileProcessing.Core" />

    <component id="ProfileDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.ProfileDescProcessor, ITJakub.FileProcessing.Core" />

    <component id="EncodingDescProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Header.EncodingDescProcessor, ITJakub.FileProcessing.Core" />


     <!--xml text processors--> 
    <component id="TextProcessor"
               type="ITJakub.FileProcessing.Core.Processors.Text.TextProcessor, ITJakub.FileProcessing.Core" />

    <component id="XmlProcessingManager"
           type="ITJakub.FileProcessing.Core.XmlProcessingManager, ITJakub.FileProcessing.Core" />


  </components>
</castle>