<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="DB_USER" value="admin"/>
    <add key="DB_PASSWORD" value="admin"/>
    <add key="DB_REST_URI" value="http://localhost:8080/exist/rest/"/>
    <add key="DB_VIEWS_COLLECTION" value="jacob-test"/>
    <add key="DB_RESOURCES_COLLECTION" value="resources"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
