@{
    ViewBag.Title = "Správa připomínek";
}

@section scripts{
    @Scripts.Render("~/Scripts/itjakub.feedbacks.js")
}

<div>
    <div class="feedbacks-count-area">
        Počet připomínek: <span id="feedbacks-count"></span>
    </div>
    
    <div id="feedbacks" class="feedbacks-area">
    </div>
</div>