@{
    ViewBag.Title = "Administrace - Správa připomínek";
}

@section scripts{
    <script src="~/js/itjakub.feedbacks.js"></script>
}

<div>
    <div class="feedbacks-count-area">
        Počet připomínek: <span id="feedbacks-count"></span>
    </div>

    <div id="feedbacks" class="feedbacks-area">
    </div>

    <div id="feedbacks-paginator" class="feedbacks-paginator">
    </div>
</div>