@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util

@inject ILocalizationService Localizer


@{
    ViewBag.Title = Localizer.Translate("FeedbackManagementTitle", "Feedback", LocTranslationSource.File);
}

@section scripts{
    <script src="~/js/itjakub.feedbacks.js"></script>
}
@section styles{
    <link rel="stylesheet" href="~/css/ITJakub.Feedbacks.css"/>
}

<div>
    <div class="feedbacks-count-area">
        @Localizer.Translate("NumberOfFeedbacks", "Feedback", LocTranslationSource.File)<span id="feedbacks-count"></span>
    </div>

    <div id="feedbacks" class="feedbacks-area">
    </div>

    <div id="feedbacks-paginator" class="feedbacks-paginator">
    </div>
</div>