CREATE DATABASE [ITJakubDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITJakub', FILENAME = N'D:\Databaze\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ITJakub.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ITJakub_log', FILENAME = N'D:\Databaze\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ITJakub_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
 COLLATE Czech_100_CI_AS
GO
USE [ITJakubDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [ITJakubDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
