<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  
  <include uri="assembly://ITJakub.Web.DataEntities/ITJakub.Web.DataEntities.Container.Config" />

  
  <components>
    
        <component type="ITJakub.Web.Hub.Managers.StaticTextManager, ITJakub.Web.Hub" />
    
    <!--AutoMapper profiles-->
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.WordListCriteriaDescriptionProfile, ITJakub.Web.Hub" />
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.WordCriteriaDescriptionProfile, ITJakub.Web.Hub" />
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.DatingListCriteriaDescriptionProfile, ITJakub.Web.Hub" /> 
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.DatingCriteriaDescriptionProfile, ITJakub.Web.Hub" />
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.TokenDistanceListCriteriaDescriptionProfile, ITJakub.Web.Hub" /> 
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.TokenDistanceCriteriaDescriptionProfile, ITJakub.Web.Hub" />
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.ConditionCriteriaDescriptionProfile, ITJakub.Web.Hub" />

        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.StaticTextProfile, ITJakub.Web.Hub" />

  </components>
</castle>