<?xml version="1.0" encoding="utf-8"?>

<castle>
  <components>
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.ConditionCriteriaDescriptionProfile, ITJakub.Web.Hub" />
    
        <component service="AutoMapper.Profile, AutoMapper"
                   type="ITJakub.Web.Hub.AutoMapperProfiles.WordCriteriaDescriptionProfile, ITJakub.Web.Hub" />

  </components>
</castle>