<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <clear xdt:Transform="Insert"/>
    <add name="ITJakub.Web.Hub.Properties.Settings.DefaultConnectionString"
      connectionString="Server=localhost;Database=ITJakubWebDevelopmentDB;User Id=admin;Password=***REMOVED***;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint name="ItJakubService" address="http://localhost/development/ITJakub.ITJakubService/ItJakubService.svc" contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpBinding" bindingConfiguration="ITJakub.BasicHttpBinding" />

      <endpoint name="ItJakubService.Authenticated" address="https://localhost/development/ITJakub.ITJakubService/ItJakubService.svc" contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpsBinding" bindingConfiguration="ITJakub.BasicHttpsBinding.UserNameAuthentication" />

      <endpoint name="ItJakubServiceStreamed" address="http://localhost/development/ITJakub.ITJakubService/ItJakubServiceStreamed.svc" contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpBinding" bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" />

      <endpoint name="ItJakubServiceStreamed.Authenticated" address="https://localhost/development/ITJakub.ITJakubService/ItJakubServiceStreamed.svc" contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpsBinding" bindingConfiguration="ITJakub.BasicHttpsBinding.Streamed" />

      <endpoint name="ItJakubServiceEncrypted" address="https://localhost/development/ITJakub.ITJakubService/ItJakubServiceEncrypted.svc" contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceEncrypted" binding="basicHttpsBinding" bindingConfiguration="ITJakub.BasicHttpsBinding.CertificateAuthentication" behaviorConfiguration="ITJakub.EndpointBehavior.CertificateAuthentication" />

      <endpoint name="LemmatizationService" address="http://localhost/development/ITJakub.Lemmatization.Service/LemmatizationService.svc" contract="ITJakub.Lemmatization.Shared.Contracts.ILemmatizationService" binding="basicHttpBinding" />
    </client>
  </system.serviceModel>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>