@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

@{
    ViewBag.Title = @Localizer.Translate("LemmatizationList", "Lemmatization");
}
@section styles{
    <link asp-append-version="true" href="~/Areas/Lemmatization/css/itjakub.lemmatization.css" rel="stylesheet" />
}
@section scripts{
    <script asp-append-version="true" src="~/Areas/Lemmatization/js/itjakub.lemmatization.bundle.js"></script>
}

<script type="text/javascript">
    $(document).ready(function() {
        var lemmatization = new LemmatizationList("#mainContainer", "#paginationContainer");
        lemmatization.make();
    });
</script>

<h2>@Localizer.Translate("LemmatizationList", "Lemmatization")</h2>

<div class="content" id="mainContainer">

</div>

<div id="paginationContainer"></div>