@import "ITJakub.PortalSpecific.Images.less";

@loading-gif-path: url(../images/loading.gif);
@loading-small-gif-path: url(../images/small_trans_loading.gif);

@icon-chevron: url("../images/glyphs/glyphicons_chevron.png");
@icon-chevron-white: url("../images/glyphs/glyphicons_chevron_white.png");
@keyboard-glyph-path: url("../images/glyphs/keyboard.gif");

@atom-feed-icon-path: url('../images/feeds/blue.png');
@rss-feed-icon-path: url('../images/feeds/red.png');