@import "ITJakub.Colors.less";

.footer {
    background-color: @menu-background-color;
    margin-top: 2rem;
    padding: .75rem 1rem 0;
    text-align: center;
}

.footer a.main_logo_href {
    display: inline-block;
    display: none;
}

.footer a.main_logo_href img {
    width: 50px;
    height: 50px;
    margin-top: -20px;
}

.footer ul {
    display: block;
}

.footer li {
    display: inline-block;
    padding-right: 1em;
}

.footer li:after {
    padding-left: 1em;
    content: "|";
    color: #fff;
    opacity: .5;
}

.footer li a {
    color: #fff;
}

.footer li.footer-first {
    padding-left: 0;
    background: none;
}

.footer li.footer-last {
    padding-right: 0;
}

.footer li.footer-last:after {
    content: "";
    padding-left: 0;
}

.footer-text {
    margin-top: .5em;
    margin-bottom: .3rem;
    color: #fff;
    opacity: .7;
}

.footer-logos a {
    display: inline-block;
    text-decoration: none;
    margin: 0 1rem;
}

.footer-logos a:hover {
    opacity: .7;
}

.footer-logos img {
    width: auto;
    max-height: 6rem;
}

.footer-logos .ujc img {
    padding: .8rem;
}

.footer-logos .av21 img {
	padding: .2rem 0;
}
