@import "ITJakub.Colors-selected.scss";
@import "../lib/loading-visualization/src/colors.scss";

$determinate_bordered_line_border:  #696969;
$determinate_bordered_line_color:  #4A85C4;
$bordered_line_color:  #4A85C4;
$circles_color:  #696969;
$bars_color:  #696969;
$dots_color:  #696969;
$line_background: lightgray;
$line_color:  #696969;
$determinate_line_background: lightgray;
$determinate_line_color:  #696969;
$spinner_shadow: lightgray;
$spinner_color:  #696969;
$determinate_circle_background: lightgray;
$determinate_circle_color:  #696969;
$dashed_color:  #696969;
$squares_color:  #696969;

$bars_scale: 5;
$squares_scale: 10;
$dots_scale: 10;

@import "../lib/loading-visualization/src/element-styles.scss";
