@import "ITJakub.Images.less";
@import "ITJakub.Colors.less";
@import "ridics.list.less";

.list-container {
    &.selectable {
        tbody {
            cursor: pointer;

            .active {
                td {
                    background-color: #DCDCDC !important;
                }
            }
        }
    }

    .alert-info {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    table {
        tr {
            border-bottom: 1px solid @separation-line-color;

            td {
                border: none;
            }

            .alert {
                padding: 3px 7px;
                margin: 1px 0 0 0;
            }
        }
    }

    .buttons {
        vertical-align: middle;
        text-align: right;

        .btn-default {
            margin-left: 0.5em;
            margin-bottom: 0.5em;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    .role-row {
        .description {
            font-size: 11px;
            white-space: normal;
        }

        .buttons {
            min-width: 90px;
        }
    }

    .permission-row {
        .name {
            display: block;
        }

        .status {
            width: 80px;
            display: block;

            .success {
                display: none;
                color: @menu-active-background-color
            }

            .loading-spinner {
                background: @loading-small-gif-path no-repeat center;
                display: none;
                width: 20px;
                height: 20px;
            }
        }

        @media(min-width: 767px) {
            .name {
                display: inline;
            }

            .status {
                float: right;
                display: inline;

                .loading-spinner {
                    float: right;
                }
            }

            .alert {
                display: none;
                margin-top: 3px;
                margin-bottom: 3px;
            }
        }
    }
}

.user-section,
.role-section,
.permission-section,
.project-section {
    margin: 1.5em 0;

    .panel {
        .panel-title {
            padding-top: 7px;
            margin-bottom: 0.5em;
            text-align: center;
        }

        @media(max-width: 767px) {
            .panel-body {
                padding: 0 0 15px 0;

                .table-responsive {
                    border: none;
                }
            }
        }
    }
}

.modal {
    .content,
    .form-horizontal {
        .alert {
            margin: 10px 0 0 0;

            &.validation-summary-errors,
            &.alert-success {
                margin: 10px 0;
            }
        }
    }

    .content {
        .item-details {
            margin-top: 1em;

            .detail-item {
                padding-left: 5px;
            }

            .top-separation-line {
                margin-top: 0.3em;
                border-top: 1px solid @separation-line-color;
                padding-top: 0.3em;
            }

            #selectedUser,
            #selectedRole {
                font-weight: bold;
            }
        }
    }
}

.back-button {
    text-align: right;
    margin-bottom: 1em;
}