.reset-search {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center !important;
    text-align: center;

    .query, .reset-search-form {
        display: inline-block
    }

    .reset-search-form {
        padding-left: 1em;
    }

    .searched-query {
        font-weight: 600;
    }

    .text-nowrap {
        white-space: nowrap !important;
    }
}

#user-list-container,
#role-list-container,
#permission-list-container {
    .alert {
        margin-top: 40px;
        margin-bottom: 15px;
    }
}

.search-form,
.user-search-form,
.role-search-form,
.permission-search-form {
    text-align: right;

    .search-button {
        float: right;
        padding-left: 1em;
    }
}

.buttons {
    .btn-default {
        margin-left: 0.7em
    }
}

.selectable-table {
    cursor: pointer;

    tr.active {
        td {
            background-color: #DCDCDC !important;
        }
    }
}