<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITJakub.ITJakubService.Core.Test.Properties.Settings.DefaultConnectionString"
            connectionString="Server=localhost;Database=ITJakubTestDB;User Id=admin;Password=***REMOVED***;" />
    </connectionStrings>
</configuration>