<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <properties>

    <fileStorageRootFolder>C:/ITJLocalStorage</fileStorageRootFolder>
    
    
    <!--default users-->
    <unregisteredUserName>UnregisteredUser</unregisteredUserName>
    <unregisteredUsersGroupName>UnregisteredUsersGroup</unregisteredUsersGroupName>
    <registeredUsersGroupName>RegisteredUsersGroup</registeredUsersGroupName>

    <timeToTokenExpiration>12:00:00</timeToTokenExpiration>
    <virtualTokenExpiration>00:30:00</virtualTokenExpiration>
  
  </properties>


  <include uri="assembly://ITJakub.ITJakubService.Core/ITJakub.ITJakubService.Core.Container.Config" />
  <include uri="assembly://ITJakub.DataEntities/ITJakub.DataEntities.Container.Config" />
  <!--<include uri="assembly://ITJakub.Core/ITJakub.Core.Container.Config" />-->


  <components>
    
  </components>
</castle>