@model ITJakub.Web.Hub.Models.FeedbackViewModel
@section styles{
    @Styles.Render("~/itjakub/cardfiles/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/cardfiles/javascript")
}

@{
    ViewBag.Title = "Kartotéky - Připomínky";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model.PageStaticText)

    @Html.Partial("Feedback/_FeedbackForm", Model)
</div>
