@model ITJakub.Web.Hub.Models.FeedbackViewModel
@section styles{
    <link href="~/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Kartotéky - Připomínky";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model.PageStaticText)

    @Html.Partial("Feedback/_FeedbackForm", Model)
</div>
