@section styles{
    @Styles.Render("~/itjakub/cardfiles/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/cardfiles/javascript")
}

<div class="content-container">
    <h1>Informace</h1>

    Zde budou informace ke kartotekam
</div>