@section styles{
    <link href="~/wwwroot/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/wwwroot/Areas/CardFiles/js/itjakub.cardfiles.bundle.js"></script>
}

@{
    ViewBag.Title = "Kartotéky - Seznam";
}



    <div id="cardFilesListHeader">
        <div id="cardFilesListSearchDiv" style="float: left; width: 70%">
            <form role="form" class="form-horizontal">
                <div class="form-group searchbar">
                    <div class="searchbar-buttons">
                        <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                            Vyhledat
                        </button>
                    </div>
                    <div class="searchbar-inputs">
                        <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
                    </div>
                </div>
            </form>
        </div>
        <div class="cardFilesResultsHeaderWrapper">
            Řadit podle
            <div id="cardFilesResultsHeader" style="display: inline-block">
            </div>
        </div>
    </div>

    <div id="cardFilesListResults">
    </div>

    <script>
        $(document).ready(initCardList);
    </script>
