@using Localization.AspNetCore.Service
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/CardFiles/js/itjakub.cardfiles.bundle.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("CardFilesList", "CardFiles");
}



    <div id="cardFilesListHeader">
        <div id="cardFilesListSearchDiv" class="list-search-div">
            <form role="form" class="form-horizontal">
                <div class="form-group searchbar">
                    <div class="searchbar-buttons">
                        <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                            @Localizer.Translate("Search", "CardFiles")
                        </button>
                    </div>
                    <div class="searchbar-inputs">
                        <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="@Localizer.Translate("Find", "CardFiles")..." style="max-width: 100%;" />
                    </div>
                </div>
            </form>
        </div>
        <div class="cardFilesResultsHeaderWrapper list-results-header">
            @Localizer.Translate("SortBy", "CardFiles")
            <div id="cardFilesResultsHeader" class="list-results-header-div">
            </div>
        </div>
    </div>

    <div id="cardFilesListResults">
    </div>

    <script>
        $(document).ready(initCardList);
    </script>
