@section styles{
    @Styles.Render("~/itjakub/cardfiles/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/cardfiles/javascript")
}

@{
    ViewBag.Title = "Kartotéky - Listování";
}


    <div class="card-file-listing">
        <div class="card-file-select">
            <div class="select-header">
                Kartotéka
            </div>
            <div class="select-body">
                <select name="cardFile" id="card-file-select">
                </select>
                <div class="loading"></div>
            </div>
        </div>

        <div class="bucket-select">
            <div class="select-header">
                Zásuvka
            </div>
            <div class="select-body">
                <select name="bucket" id="bucket-select">
                </select>
                <div class="loading"></div>
            </div>
        </div>
    </div>
    <div id="cardfile-result-area">

    </div>


<script>
    $(document).ready(createListing);
</script>