@using Localization.AspNetCore.Service
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/CardFiles/js/itjakub.cardfiles.bundle.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("CardFilesListing", "CardFiles");
}


    <div class="card-file-listing">
        <div class="card-file-select">
            <div class="select-header">
                @Localizer.Translate("CardFile", "CardFiles")
            </div>
            <div class="select-body">
                <select name="cardFile" id="card-file-select">
                </select>
                <div class="loading"></div>
            </div>
        </div>

        <div class="bucket-select">
            <div class="select-header">
                @Localizer.Translate("Drawer", "CardFiles")
            </div>
            <div class="select-body">
                <select name="bucket" id="bucket-select">
                </select>
                <div class="loading"></div>
            </div>
        </div>
    </div>
    <div id="cardfile-result-area">

    </div>


<script>
    $(document).ready(createListing);
</script>