@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

@section styles{
    <link asp-append-version="true" href="~/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}
@section scripts{
    <script asp-append-version="true" src="~/Areas/CardFiles/js/itjakub.cardfiles.bundle.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("CardFilesListing", "CardFiles");
}


    <div class="card-file-listing">
        <div class="card-file-select">
            <div class="select-header">
                @Localizer.Translate("CardFile", "CardFiles")
            </div>
            <div class="select-body select-body-higher">
                <select name="cardFile" id="card-file-select" class="form-control center-block hidden vertically-centered">
                </select>
                <div class="lv-dots sm lv-mid"></div>
            </div>
        </div>

        <div class="bucket-select">
            <div class="select-header">
                @Localizer.Translate("Drawer", "CardFiles")
            </div>
            <div class="select-body select-body-higher">
                <select name="bucket" id="bucket-select" class="form-control center-block hidden vertically-centered">
                </select>
                <div class="lv-dots sm lv-mid"></div>
            </div>
        </div>
    </div>
    <div id="cardfile-result-area">

    </div>


<script>
    $(document).ready(createListing);
</script>