@section styles{
    <link href="~/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/CardFiles/js/itjakub.cardfiles.bundle.js"></script>
}

@{
    ViewBag.Title = "Kartotéky - Seznam";
}



    <div id="cardFilesListHeader">
        <div id="cardFilesListSearchDiv" class="list-search-div">
            <form role="form" class="form-horizontal">
                <div class="form-group searchbar">
                    <div class="searchbar-buttons">
                        <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                            Vyhledat
                        </button>
                    </div>
                    <div class="searchbar-inputs">
                        <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
                    </div>
                </div>
            </form>
        </div>
        <div class="cardFilesResultsHeaderWrapper list-results-header">
            Řadit podle
            <div id="cardFilesResultsHeader" class="list-results-header-div">
            </div>
        </div>
    </div>

    <div id="cardFilesListResults">
    </div>

    <script>
        $(document).ready(initCardList);
    </script>
