@section styles{
    @Styles.Render("~/itjakub/cardfiles/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/cardfiles/javascript")
}

<div class="transparent-content-container">
    <div class="search-area">
        <div id="cardfileSearchDiv">
            <form role="form" class="form-horizontal">
                <div class="form-group searchbar">
                    <div class="searchbar-buttons">
                        <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                            Vyhledat
                        </button>
                        <button type="button" class="btn btn-default searchbar-button">
                            Pokročilé
                        </button>
                    </div>
                    <div class="searchbar-inputs">
                        <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="cardfile-selects">
        <div class="cardfile-select">
            <div class="cardfile-select-header">
                <span class="cardfile-select-checkbox"><input id="cardfile-select" type="checkbox" /></span>
                <span class="cardfile-select-text">Výběr kartotéky</span>
                <span class="cardfile-select-more"><span class="glyphicon glyphicon-chevron-down"></span></span>
            </div>
            <div class="cardfile-select-body">
                <div class="cardfile-filter"><input class="cardfile-filter-input" placeholder="Filtrovat podle názvu.."><span class="cardfile-clear-filter glyphicon glyphicon glyphicon-remove-circle"></span></div>
                <div class="concrete-cardfile">
                    <input class="concrete-cardfile-checkbox checkbox" type="checkbox" />
                    <span class="save-cardfile glyphicon glyphicon-star-empty"></span>
                    <span class="delete-cardfile glyphicon glyphicon-star"></span>
                    <span class="concrete-cardfile-name">kartoteka a</span>
                </div>
                <div class="concrete-cardfile">
                    <input class="concrete-cardfile-checkbox checkbox" type="checkbox" />
                    <span class="save-cardfile glyphicon glyphicon-star-empty"></span>
                    <span class="delete-cardfile glyphicon glyphicon-star"></span>
                    <span class="concrete-cardfile-name">kartoteka b</span>
                </div>
                <div class="concrete-cardfile">
                    <input class="concrete-cardfile-checkbox checkbox" type="checkbox" />
                    <span class="save-cardfile glyphicon glyphicon-star-empty"></span>
                    <span class="delete-cardfile glyphicon glyphicon-star"></span>
                    <span class="concrete-cardfile-name">kartoteka c</span>
                </div>
            </div>
        </div>
        <div class="cardfile-select">
            <div class="cardfile-select-header">
                <span class="cardfile-select-checkbox"><input id="favorite-cardfile-select" type="checkbox" /></span>
                <span class="cardfile-select-text">Oblíbené kartotéky</span>
                <span class="cardfile-select-more"><span class="glyphicon glyphicon-chevron-down"></span></span>
            </div>
            <div class="cardfile-select-body">
                <div class="cardfile-filter"><input class="cardfile-filter-input" placeholder="Filtrovat podle názvu.."><span class="cardfile-clear-filter glyphicon glyphicon glyphicon-remove-circle"></span></div>
                <div class="concrete-cardfile">
                    <input class="concrete-cardfile-checkbox checkbox" type="checkbox" />
                    <span class="save-cardfile glyphicon glyphicon-star-empty"></span>
                    <span class="delete-cardfile glyphicon glyphicon-star"></span>
                    <span class="concrete-cardfile-name">kartoteka a</span>
                </div>
                <div class="concrete-cardfile">
                    <input class="concrete-cardfile-checkbox checkbox" type="checkbox" />
                    <span class="save-cardfile glyphicon glyphicon-star-empty"></span>
                    <span class="delete-cardfile glyphicon glyphicon-star"></span>
                    <span class="concrete-cardfile-name">kartoteka b</span>
                </div>
                <div class="concrete-cardfile">
                    <input class="concrete-cardfile-checkbox checkbox" type="checkbox" />
                    <span class="save-cardfile glyphicon glyphicon-star-empty"></span>
                    <span class="delete-cardfile glyphicon glyphicon-star"></span>
                    <span class="concrete-cardfile-name">kartoteka c</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cardfile-result-area">
        <div class="cardfile-listing">
            <div class="card-file-listing-left-panel">
                <div class="headword-description"><span class="headword-name">netbalivy</span></div>
                <div class="cardfile-image">
                    <a target="_image" href="http://bara.ujc.cas.cz/bara/img/71/911005803_745788?db=2">
                        <img title="Náhled" alt="Náhled" src="http://bara.ujc.cas.cz/bara/preview/71/911751591_31487.jpeg?db=2" />
                    </a>
                </div>
            </div>
            <div class="card-file-listing-right-panel">
                <div class="cardfile-description">Kartotéka: <span class="cardfile-name">Excerpce</span></div>
                <div class="cardfile-drawer-description">Zásuvka: <span class="cardfile-drawer-name">netbalivy-odymovati</span></div>
                <div class="cardfile-paging-controls">
                    <div class="slider"></div>
                </div>
                <div class="cardfile-pages">Stránky</div>
                <div class="cardfile-headword-description">Heslo: <span class="cardfile-headword-text">netbalivy</span></div>
                <div class="cardfile-notice">Upozornění: <span class="cardfile-notice-text">upozorn</span></div>
                <div class="cardfile-note">Poznámka: <span class="cardfile-note-text">poznamk</span></div>
            </div>
        </div>
    </div>
</div>