@section styles{
    <link href="~/wwwroot/Areas/CardFiles/css/itjakub.cardfiles.bundle.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/wwwroot/Areas/CardFiles/js/itjakub.cardfiles.bundle.js"></script>
}

@{
    ViewBag.Title = "Kartotéky - Vyhledávání";
}



    <div class="search-area">
        <div id="cardfileSearchDiv">
            <form role="form" class="form-horizontal">
                <div class="form-group searchbar">
                    <div class="searchbar-buttons">
                        <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                            Vyhledat
                        </button>
                    </div>
                    <div class="searchbar-inputs">
                        <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="cardfile-selects" style="margin-top: 50px; clear: both;">
    </div>
    <div class="no-result">
        Výhledávání neodpovídá žádný výsledek...
    </div>
    <div class="nothing-selected">
        Není vybrána žádná kartotéka...
    </div>
    <div class="server-error">
        Došlo k chybě v komunikaci se serverem...
    </div>
    <div class="cardfile-result-area">

    </div>



<script>
    $(document).ready(createSearch);
</script>