@section styles{
    @Styles.Render("~/itjakub/cardfiles/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/cardfiles/javascript")
}

@{
    ViewBag.Title = "Kartotéky - Vyhledávání";
}


<div class="transparent-content-container">
    <div class="search-area">
        <div id="cardfileSearchDiv">
            <form role="form" class="form-horizontal">
                <div class="form-group searchbar">
                    <div class="searchbar-buttons">
                        <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                            Vyhledat
                        </button>
                    </div>
                    <div class="searchbar-inputs">
                        <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="cardfile-selects">
    </div>
    <div class="no-result">
        Výhledávání neodpovídá žádný výsledek...
    </div>
    <div class="nothing-selected">
        Není vybrána žádná kartotéka...
    </div>
    <div class="server-error">
        Došlo k chybě v komunikaci se serverem...
    </div>
    <div class="cardfile-result-area">

    </div>
</div>


<script>
    $(document).ready(createSearch());
</script>