@section styles{
    @Styles.Render("~/itjakub/bibliographies/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/bibliographies/javascript")
}

<div class="content-container">
    <h1>Podmínky užití</h1>

    Díla na Vokabuláři webovém jsou autorská díla chráněná ve smyslu zákona č. 121/2000 Sb., o právu autorském. Jsou určena pro osobní nekomerční využití. Tato díla je zakázáno jakýmkoliv způsobem rozšiřovat, ať již jako samostatná díla, či v rámci jiného projektu. Jakékoliv jiné použití musí být konzultováno s oddělením vývoje jazyka Ústavu pro jazyk český AV ČR, v. v. i. Při citaci z děl je nutné postupovat podle obecně uznávaných pravidel citování vědecké literatury.
</div>