@using Localization.AspNetCore.Service
@inject ILocalization Localizer

<div class="row resource-tab-row-fix">
    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="history-discussion-checkbox" /> @Localizer.Translate("DiscussionPosts", "Admin")
            </label>
        </div>
    </div>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="history-snapshot-checkbox" /> @Localizer.Translate("Snapshots", "Admin")
            </label>
        </div>
    </div>

    <div class="col-md-2">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="history-resources-checkbox" /> @Localizer.Translate("Změny zdrojů", "Admin")
            </label>
        </div>
    </div>
</div>

<div id="project-history-records-container" class="project-history-records">
    <div class="panel panel-default">
        <div class="panel-body">
            27.10. 13:41 - Jan Novák přidal příspěvek v diskuzi.
        </div>
    </div>
    
    <div class="panel panel-default snapshot-panel">
        <div class="panel-body">
            27.10. 13:41 - Jan Novák přidal příspěvek v diskuzi.
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-body">
            27.10. 13:41 - Jan Novák přidal příspěvek v diskuzi.
        </div>
    </div>
</div>