<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert-holder"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 note-editor">
            <div class="loader"></div>
            <textarea class="note-editor-textarea hide"></textarea>
        </div>
    </div>
    <div class="row"></div>
</div>
