@model long

<div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-12">
            <!--TODO translation-->
            <b>Fórum není vytvořeno, nebo propojeno s Vokabulářem webovým!</b>
            <!--TODO form post with projectId-->
            <form></form>
        </div>
    </div>
</div>