@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.User.UpdateTwoFactorVerificationViewModel
@inject ILocalizationService Localizer

<div class="row">
    <div class="col-md-offset-2 col-lg-offset-3 col-md-10 col-lg-8">
        <div class="col-xs-12">
            <form method="post" asp-controller="Account" asp-action="SetTwoFactor">
                <div class="form-group">
                    <input type="hidden" asp-for="UserId" />
                    <input asp-for="TwoFactorEnabled" type="checkbox" value="true" class="" id="twoFactorEnabled" />
                    <label asp-for="TwoFactorEnabled" class="control-label" for="twoFactorEnabled"></label>
                    <span asp-validation-for="TwoFactorEnabled" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="@Localizer.Translate("Save", "Account")"/>
                </div>
            </form>

            <form method="post" asp-controller="Account" asp-action="ChangeTwoFactorProvider" class="form-horizontal">
                <div class="form-group" id="twoFactorProvidersSelect">
                    <div class="col-md-7">
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="TwoFactorEnabled" />
                        <label asp-for="SelectedTwoFactorProvider" class="control-label"></label>
                        <select asp-for="SelectedTwoFactorProvider"
                                asp-items="@Model.TwoFactorProviders?.Select(x => new SelectListItem(Localizer.Translate(x, "TwoFactorProviders"), x) {Selected = x == Model.SelectedTwoFactorProvider})"
                                class="form-control"></select>
                        <span asp-validation-for="SelectedTwoFactorProvider" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-default" value="@Localizer.Translate("Save", "Account")"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>