@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Ujc.Naki.MVCWebLayer.ViewModels.SearchViewModel

@Html.Partial("~/Views/Shared/_SearchPanel.cshtml", Model)


    <div class="welcome-text">
        <h2>Co je Vokabulář webový</h2>
        <p class="text-justify">
            Internetová aplikace, která od listopadu 2006 postupně zpřístupňuje zájemcům o dějiny českého jazyka především slovní zásobu historické češtiny. Tvůrcem a provozovatelem Vokabuláře webového je oddělení vývoje jazyka Ústavu pro jazyk český AV ČR, v. v. i. (dále ÚJČ). Vokabulář webový je autorské dílo chráněné ve smyslu zákona č. 121/2000 Sb., o právu autorském, a je určen pouze k nekomerčním účelům. O technické stránce Vokabuláře webového informujeme zde.
        </p>
        <p class="text-justify">
            V současné době tvoří Vokabulář webový tyto lexikální zdroje: Malý staročeský slovník (MSS), pracovní heslář k lístkové kartotéce Staročeského slovníku (HesStčS), Slovník staročeský Jana Gebauera (GbSlov), Staročeský slovník, sešit 1–26 (StčS), Slovníček staré češtiny Františka Šimka (ŠimekSlov), Index Slovníku staročeských osobních jmen Jana Svobody (IndexSvob), Elektronický slovník staré češtiny (ESSČ) a digitalizovaná lístková kartotéka Jana Gebauera. ESSČ je dílo právě vznikající, které bude do Vokabuláře webového zapojováno postupně a bez prodlev, vždy po dokončení hesel počínajících určitým písmenem. Ostatní zdroje tvoří dokončená díla, a mohou tedy být představena celistvě.
        </p>
        <p class="text-justify">
            Elektronický slovník staré češtiny, Staročeský slovník i heslář ke kartotéce Staročeského slovníku jsou díla vzniklá (či vznikající) na půdě oddělení vývoje jazyka ÚJČ; na vzniku Indexu staročeských osobních jmen Jana Svobody se podíleli pracovníci ÚJČ PhDr. Libuše Olivová-Nezbedová, CSc., a doc. PhDr. & RNDr. Karel Oliva, Dr. Za možnost zapojit do webového hnízda elektronickou verzi Malého staročeského slovníku děkujeme autorům či nositelům autorských práv k tomuto dílu, jmenovitě prof. PhDr. Karlu Kučerovi, CSc., doc. PhDr. Heleně Běličové, DrSc. a prof. PhDr. Karlu Kamišovi, CSc., kteří našemu záměru laskavě vyšli vstříc. Za souhlas uveřejnit rovněž dodatek k Malému staročeskému slovníku, tj. stať Václava Křístka o staročeských pravopisných systémech, děkujeme nositelce autorských práv k uvedené práci PhDr. Marii Bělíkové. Stejně tak patří naše poděkování Středisku Teiresiás, zastoupenému PhDr. Petrem Peňázem, které nám poskytlo Malý staročeský slovník v elektronické formě.
        </p>
        <a href="@Url.RouteUrl("StaroceskaBanka", new{id = 1})">Staročeská textová banka</a>
    </div>

	<div class="news">
	    <h3>Aktuality</h3>
	    <div class="row-fluid">
	        <div class="span2">
	            <p class="muted">14. února 2013</p>
	        </div>
	        <div class="span10">
	            <p>Mezi slovníky nezapojené do jednotného vyhledávání přibyly dvě nové edice podpořené projektem Ministerstva kultury ČR č. DF12P01OVV028 <span class="it">Informační technologie ve službách jazykového kulturního dědictví</span>. Jedná se o <a href="informace.aspx?t=SlovKNM" title="">Elementa latinae, boemicae ac germanicae linguae</a> z roku 1532 a <a href="informace.aspx?t=Vokab1550" title="">Vokabulář latinský, český i německý</a> z roku 1550.</p>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span2">
	            <p class="muted">28. ledna 2013</p>
	        </div>
	        <div class="span10">
	            <p>Do <a href="banka.aspx?idz=STB" title="">staročeské textové banky</a> a <a href="moduly/edicni/" title="">edičního modulu</a> byly zařazeny nové texty, např. další část <a href="moduly/edicni/edice/8d2fe381-93a4-426a-a0b9-5a664bc682ff/plny-text/s-aparatem/folio/78v" title="">Bible kladrubské</a>, <a href="moduly/edicni/edice/04af7124-a860-4e37-96aa-626a2e1ba7a6/plny-text/s-aparatem/folio/161r" title="">lapidář z rukopisu vodňanského</a> a <a href="moduly/edicni/edice/b3e5fa23-ed0a-4761-ac35-e00fc6a142b1/plny-text/s-aparatem/folio/63" title="">latinsko-český slovník Vocabula bona</a>.</p>
	        </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span2">
	            <p class="muted">1. ledna 2013</p>
	        </div>
	        <div class="span10">
	            <p>Do jednotného vyhledávání byla zapojena hesla s náslovím <span class="it">e-</span>, <span class="it">f-</span> a <span class="it">g-</span> z <a href="informace.aspx?t=essc&o=slovniky" title="">Elektronického slovníku staré češtiny</a>.</p>
	        </div>
	    </div>
	</div>
    <div style="clear:both"></div>

