<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d826c87c-69db-4d54-8faa-e85b841755b6" Publisher="CN=Kopr" Version="1.0.0.2" />
  <Properties>
    <DisplayName>IT Jakub</DisplayName>
    <PublisherDisplayName>Kopr</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IT_Jakub.App">
      <VisualElements DisplayName="IT Jakub - Client App" Logo="Assets\logo.png" SmallLogo="Assets\SmallLogo.png" Description="IT Jakub" ForegroundText="light" BackgroundColor="#4183FF">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#4183FF" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>