@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

<h4>@Localizer.Translate("UseExternalLoginService", "account")</h4>
<hr />
<div>
    <p>
        @Localizer.Translate("UseExternalLoginService-placeholder", "account")
    </p>
</div>