@{
    ViewBag.Title = "Přístup odepřen";
}

<div class="content-container top-offset-without-submenu">
    
    <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
        <strong>Přístup odepřen.</strong>
        Nemáte dostatečná práva pro zobrazení tohoto obsahu.
    </div>

</div>
