@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.User.RegisterViewModel

@inject ILocalizationService Localizer
@inject IRazorLocalizationService RazorLocalizer

@{
    ViewBag.Title = Localizer.Translate("Registration", "Account");
}

<div class="content-container top-offset-without-submenu">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <div class="alert alert-success" role="alert">
                <i class="fa fa-check-circle"></i>
                @RazorLocalizer.TranslateFormat(
                    "SuccessRegistration1",
                    "Account", Html.ActionLink(Localizer.Translate("SuccessRegistration2", "Account").ToString(), "Login", "Account"))
            </div>
        </div>
    </div>
</div>
