@using ITJakub.MVCWebLayer.Services

<div class="well text-center">
    <form class="form-horizontal" method="get" action="@Url.RouteUrl("StaroceskaBankaSearch")">
        <div class="control-group">
            @Html.TextBox("searchTerm", string.Empty, new { @class = "input-xxlarge" })
        </div>
        <div class="control-group module-search">
            <label class="control-label text-right">Zobrazení:</label>
            <div class="controls text-left">
                <label class="radio">
                    <input type="radio" name="view" id="optionsRadios1" value="odstavce" checked>
                    odstavce
                </label>
                <label class="radio">
                    <input type="radio" name="view" id="optionsRadios2" value="kontext">
                    kontext
                </label>
            </div>
        </div>
        <button type="submit" id="search-submit" class="btn">Vyhledat</button>
    </form>
</div>
