@using Ujc.Naki.MVCWebLayer.Enums

<div id="source-detail-menu">
    <ul>
        <li><a href="#">Prohledávat obsah</a>&nbsp;|&nbsp;</li>
        <li><a href="#">Zdroje</a>&nbsp;|&nbsp;</li>
        <li><a href="#">Jak hledat</a>&nbsp;|&nbsp;</li>
        <li><a href="#">Způsob zpracování dokumentu</a>&nbsp;|&nbsp;</li>
        <li><a href="#">Podmínky využití</a>&nbsp;|&nbsp;</li>
    </ul>
    <br style="clear:both" />
</div>