@using ITJakub.MVCWebLayer.Enums

    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Prohledávat obsah</a></li>
        <li><a href="#">Zdroje</a></li>
        <li><a href="#">Jak hledat</a></li>
        <li><a href="#">Způsob zpracování dokumentu</a></li>
        <li><a href="#">Podmínky využití</a></li>
    </ul>
    