@model ITJakub.Web.Hub.Models.FeedbackViewModel
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("OldGrammarFeedback", "OldGrammar");
}

<div class="content-container">
    @Html.Partial("_StaticText", Model.PageStaticText)

    @Html.Partial("Feedback/_FeedbackForm", Model)
</div>
