@section styles{
    @Styles.Render("~/itjakub/oldgrammar/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/oldgrammar/javascript")
}

<div class="content-container">
    <h1>Připomínky</h1>
</div>