@using Localization.AspNetCore.Service
@model ITJakub.Web.Hub.Models.StaticTextViewModel
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("OldGrammarHelp", "OldGrammar");
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)

    @*Original text:
    <h1>Nápověda</h1>

    <p>Oddíl <i>Mluvnice</i> umožňuje prohlížet knihy dvěma způsoby: prvním způsobem je tzv. listování v digitalizované mluvnici vyhledané v seznamu zveřejněných mluvnic. Potřebné informace je možné získat i vyhledáváním napříč všemi mluvnicemi; pro tento způsob byly digitalizované mluvnice tzv. anotovány, tj. jednotlivé obrazy (většinou dvoustran) byly orientačně označeny lingvistickými termíny, o nichž se na příslušné (dvou)stránce pojednává. Tyto termíny vycházejí z novočeského mluvnického pojetí a v některých případech neodpovídají přesně stavu v historické gramatice (např. jako „hláska měkká“ označujeme pojednání o hlásce „c“, přestože v dobovém pojetí byla chápána jako hláska tvrdá atp.). Snažili jsme se, aby vyhledávání bylo maximálně vstřícné k uživateli: do vyhledávání lze tedy zadávat jak termíny české (např. <i>jméno podstatné</i>), tak běžně užívané termíny internacionální (např. <i>substantivum</i>). Vyhledávat lze nejen podle termínů, nýbrž také podle jiných údajů (slov z názvu mluvnice a jména autora); tyto údaje lze ve složitém modu vyhledávání kombinovat. Výsledkem vyhledávání je seznam všech mluvnic, které odpovídají zadaným kritériím. Každá mluvnice se zobrazuje vždy ve zvláštním panelu, přičemž strany proznačené požadovanými lingvistickými termíny se zobrazují zvýrazněné. Pod aktuálně zobrazenou (dvou)stranou mluvnice je uveden seznam všech lingvistických termínů, které jsou ke (dvou)straně přiřazeny.</p>*@
</div>