@section styles{
    @Styles.Render("~/itjakub/oldgrammar/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/oldgrammar/javascript")
}

@{
    ViewBag.Title = "Mluvnice - Seznam";
}

<div class="content-container">
    <h1>Seznam</h1>
</div>
