@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer
@inject IFileVersionProvider FileVersionProvider

@section styles{
    <link asp-append-version="true" href="~/Areas/OldGrammar/css/itjakub.oldgrammar.css" rel="stylesheet" />
}
@section scripts{
    <script asp-append-version="true" src="~/Areas/OldGrammar/js/itjakub.oldgrammar.js"></script>
    <script asp-append-version="true" src="~/Areas/OldGrammar/js/itjakub.oldgrammar.list.js"></script>
}

@{
    ViewBag.Title = @Localizer.Translate("OldGrammarList", "OldGrammar");
}

<div id="bibliography-configuration-url" data-url="@FileVersionProvider.AddFileVersionToPath(Context.Request.PathBase, Url.Content("~/Areas/OldGrammar/content/BibliographyPlugin/list_configuration.json"))"></div>

@await Html.PartialAsync("_BibliographySearch")
