@import "../../../Content/ITJakub.DefaultTheme.less";
@cardfile-viewer-height: 380px;
@cardfile-viewer-width: @max-body-width - 10px;
@cardfile-viewer-right-panel-width: 325px;
@cardfile-viewer-left-panel-width: @cardfile-viewer-width - @cardfile-viewer-right-panel-width;

.cardfile-header {
    background-color: @item-background-color;
    color: white;
    padding: 5px;
}

.cardfile-listing {
    height: @cardfile-viewer-height;
    margin-bottom: 5px;
}

.card-file-listing-left-panel {
    background-color: white;    
    height: 100%;
    width: @cardfile-viewer-left-panel-width;
    float: left;
}

.headword-description {
    font-size: 1.5em;
    margin-left : 5px;
    margin-top : 5px;
    margin-bottom : 5px;
}

.cardfile-image {
    width: 560px;
    height: 343px;
    margin-left: auto;
    margin-right: auto;
    text-align : center;
    padding-bottom: 2px;
}

.cardfile-image img {
    width: 99%;
    height: 99%;
}

.card-file-listing-right-panel {
    background-color: @item-background-color;
    height: 100%;
    width: @cardfile-viewer-right-panel-width;
    float: left;
    padding: 5px;
    color: white;
}

.cardfile-paging-controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardfile-pagination {
    display: inline-block;
}

.cardfile-pagination > li {
    display: inline;
}

.cardfile-pagination > li > a {
    color: white;
    float: left;
    padding: 6px 6px;
    font-weight: bolder;
    font-size: medium;
}

.cardfile-pagination > li > a:hover {
    color: black;
}

.cardfile-pagination > li.card-position-text > a {
    margin-left:5px;
    margin-right:5px;
    width: 40px;
    text-align: center;
}

.cardfile-pagination > li.card-position-text > a:hover {
    color: white;
    cursor: default;
}


.cardfile-pages {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    height: 30px;
}

.cardfile-image-thumbnail {
  display: inline;
  padding-left: 5px;
}

.cardfile-description {
    font-size: 1.3em;
}


/* slider style*/

.cardfile-paging-controls .ui-slider {
    background: white;
    height: 2px;
    width: 95%;
    margin-left: 2.5%;
    border: none;
}

.cardfile-paging-controls .ui-slider > .ui-slider-handle {
    background: gray;
    border-radius: 50%;
    border: none;
    top: -.5em;
}

.cardfile-paging-controls span.ui-slider-handle:focus {
    outline: 0;
}

.cardfile-paging-controls .slider-tip {
    opacity: 1;
    width: 100px;
    bottom: 120%;
    margin-left: -3.5em;
}

.cardfile-paging-controls .tooltip-inner {
    background-color: white;
    color: black;
}


.cardfile-paging-controls .tooltip-arrow {
    border-top-color: white !important;
}

.loading {
    margin: 0 auto;
    margin-bottom: 5px;
    width: @cardfile-viewer-width;
    height: @cardfile-viewer-height;
    background-color: white;
}

.error {
    margin: 0 auto;
    margin-bottom: 5px;
    width: @cardfile-viewer-width;
    height: 20px;
    background-color: grey;
    color: white;
    padding-left : 5px;
}

.cardfile-scrollable-part-right-panel{
    overflow-y : auto;
    max-height: 150px;
}
