<div class="text-editor-page-slider">
    <div class="ui-slider-handle page-slider-handle">
        <div class="slider-tooltip">
            <div class="slider-tooltip-text"></div>
        </div>
    </div>
</div>

<div class="row page-menu-row">
    <div class="col-xs-2">
        <div class="input-group">
            <input type="text" class="form-control go-to-page-field" placeholder="Go to page..." aria-label="Go to page...">
            <span class="input-group-btn">
                <button class="btn btn-default go-to-page-button" type="button">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-2 page-navigator">
        <div class="col-xs-4 previous-page page-navigation-arrow">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="col-xs-4 page-indicator"></div>
        <div class="col-xs-4 next-page page-navigation-arrow">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div>
<div class="content-images"></div>
<div class="row">
    <div class="col-xs-12 images-content">
    </div>
</div>