<div class="toggle-mode-panel container-fluid text-center">
    <button type="button" class="btn btn-default editing-mode-button">Toggle editing mode</button>
</div>
<div id="page-slider" class="text-editor-page-slider">
    <div id="page-slider-handle" class="ui-slider-handle">
        <div class="slider-tooltip">
            <div class="slider-tooltip-text"></div>
        </div>
    </div>
</div>
<div class="row page-menu-row">
    <div class="col-xs-2">
        <div class="input-group">
            <input type="text" class="form-control go-to-page-field" placeholder="Go to page..." aria-label="Go to page...">
            <span class="input-group-btn">
                <button class="btn btn-default go-to-page-button" type="button">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs-8"></div>
    <div class="col-xs-2">
        <div class="checkbox">
            <label class="checkbox-inline"><input type="checkbox" value="" class="display-page-checkbox">Display page numbers</label>
        </div>
    </div>
</div>

<div id="save-confirmation-dialog"></div>
<div id="status-dialog"></div>
<div id="comment-input-dialog">
    <div class="form-group">
        <label for="commentInput">Comment:</label>
        <textarea class="form-control textarea-no-resize" rows="7" cols="6" id="commentInput"></textarea>
    </div>
</div>

<div class="editor-super-container">
    <div class="editor-areas">
        <div class="preloading-pages-spinner loading"></div>
        <div class="pages-start container-fluid">
            <!--Generated page structure is in this block-->
        </div>
    </div>
</div>