<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <properties>

    <fileStorageRootFolder>C:\ITJLocalStorage</fileStorageRootFolder>

    <rootFolder>C:\TMP\ResourceRoot</rootFolder>

    <conversionMetadataPath>C:\Pool\itjakub\UJCSystem\ITJakub.Xml.Conversion\Ujc.Ovj.Ooxml.Conversion.Test\Data\Input\Evidence.xml</conversionMetadataPath>

    <dataDirectoryPath>C:\Pool\itjakub\UJCSystem\ITJakub.Xml.Conversion\Ujc.Ovj.Ooxml.Conversion\Data</dataDirectoryPath>
    
  </properties>

  <include uri="assembly://ITJakub.Core/ITJakub.Core.Container.Config" />
  <include uri="assembly://ITJakub.DataEntities/ITJakub.DataEntities.Container.Config" />
  <include uri="assembly://ITJakub.FileProcessing.Core/ITJakub.FileProcessing.Core.Container.Config" />


  <components>

  </components>
</castle>