<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <properties>

    <defaultConnectionString>Server=localhost;Database=ITJakubDB;User Id=admin;Password=***REMOVED***;</defaultConnectionString>

    <FileSystemPath>D:\TMP</FileSystemPath>

  </properties>

  <include uri="assembly://ITJakub.FileStorage/ITJakub.FileStorage.Container.Config" />
  <include uri="assembly://ITJakub.DataEntities/ITJakub.DataEntities.Container.Config" />
  <include uri="assembly://ITJakub.FileProcessing.Core/ITJakub.FileProcessing.Core.Container.Config" />


  <facilities>
    <facility id="transaction"
              type="Castle.Facilities.AutoTx.AutoTxFacility, Castle.Facilities.AutoTx" />
    <facility
      id="nhibernate"
      type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration">
      <factory id="sessionFactory" useReflectionOptimizer="true" defaultFlushMode="Commit">
        <settings>
          <item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
          <item key="connection.driver_class">NHibernate.Driver.SqlClientDriver</item>
          <item key="connection.connection_string">#{defaultConnectionString}</item>
          <item key="dialect">NHibernate.Dialect.MsSql2008Dialect</item>
          <item key="command_timeout">240</item>
          <item key="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</item>
          <!--<item key="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</item>-->
          <item key="adonet.batch_size">20</item>
        </settings>
        <assemblies>
          <assembly>ITJakub.DataEntities</assembly>
          <!--More assemblies with HBM files and HBM make embedded resource-->
        </assemblies>
      </factory>
    </facility>
  </facilities>

  <components>
    <component id="FileProcessingManager"
             type="ITJakub.FileProcessing.Service.FileProcessingManager, ITJakub.FileProcessing.Service"/>

  </components>
</castle>