<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Facilities.AutoTx" version="3.3.0.08214" targetFramework="net45" />
  <package id="Castle.Facilities.NHibernate" version="1.1.0" targetFramework="net45" />
  <package id="Castle.FactorySupportFacility" version="3.4.0" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="3.4.0" targetFramework="net461" />
  <package id="Castle.Transactions" version="3.3.0.08214" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.1" targetFramework="net461" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net45" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.4.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
</packages>