<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="f14dc899472fe6fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576000" executionTimeout="3600" />
  </system.web>
  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" multipleSiteBindingsEnabled="True">
      <serviceActivations>
        <add service="ITJakub.FileProcessing.Service.FileProcessingService" relativeAddress="FileProcessingService.svc"/>        
      </serviceActivations>
    </serviceHostingEnvironment>

    <services>
      <service name="ITJakub.FileProcessing.Service.FileProcessingService">
        <endpoint contract="ITJakub.FileProcessing.DataContracts.IFileProcessingService" 
                  binding="basicHttpBinding" bindingConfiguration="ITJakub.BasicHttpBinding.Streamed"/>
      </service>
    </services>
    
    
    <bindings>
      <basicHttpBinding>
        
        <binding maxReceivedMessageSize="2147483647" />
       
        <binding name="BasicHttpBinding_ITJakub" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00"
                 sendTimeout="00:10:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>


        <binding name="ITJakub.BasicHttpBinding.Streamed" maxBufferPoolSize="2097120" maxBufferSize="65536"
                 maxReceivedMessageSize="2147483647" closeTimeout="00:25:00" openTimeout="00:25:00"
                 sendTimeout="00:10:00" transferMode="StreamedRequest">
        </binding>

      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost/ITJakub.SearchService/SearchService.svc"
                name="BasicHttpBinding_ISearchService" bindingConfiguration="BasicHttpBinding_ITJakub"
                binding="basicHttpBinding" contract="ITJakub.Shared.Contracts.ISearchService" />
      <!--<endpoint address="http://localhost:30401/SearchService.svc" name="BasicHttpBinding_ISearchService" bindingConfiguration="BasicHttpBinding_ITJakub" binding="basicHttpBinding" contract="ITJakub.Shared.Contracts.ISearchService" />-->
    </client>
    
    <behaviors>
      
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
        
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>



  <!--WCF Tracing--><!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="WCFTrace.svclog" />
    </sharedListeners>
  </system.diagnostics>-->



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>