<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="SetAttributes(file)" file="ITJakub.Secrets.config">
    <add key="FulltextServiceEndpoint" value="http://localhost:85/Vokabular.FulltextService/api/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"
                address="http://localhost:85/ITJakub.SearchService/SearchService.svc"
                name="BasicHttpBinding_ISearchService" />
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>