html {
    min-height: 100%;
}

body {
    background: #CBD8DE url('../Images/texture.png') scroll;
    background: linear-gradient(to bottom, rgba(65, 90, 101, 0.09) 0, rgba(255, 255, 255, 0.25) 1050px) no-repeat, url('../Images/texture.png'), linear-gradient(to bottom, #7396A5 0, #FFFFFF 1050px) no-repeat;
    background: -webkit-linear-gradient(top, rgba(65, 90, 101, 0.09) 0, rgba(255, 255, 255, 0.25) 1050px) no-repeat, url('../Images/texture.png'), -webkit-linear-gradient(top, #7396A5 0, #FFFFFF 1050px) no-repeat;
    background: -moz-linear-gradient(top, rgba(65, 90, 101, 0.09) 0, rgba(255, 255, 255, 0.25) 1050px) no-repeat, url('../Images/texture.png'), -moz-linear-gradient(top, #7396A5 0, #FFFFFF 1050px) no-repeat;
    background: -o-linear-gradient(top, rgba(65, 90, 101, 0.09) 0, rgba(255, 255, 255, 0.25) 1050px) no-repeat, url('../Images/texture.png'), -o-linear-gradient(top, #7396A5 0, #FFFFFF 1050px) no-repeat;
    background: -ms-linear-gradient(top, rgba(65, 90, 101, 0.09) 0, rgba(255, 255, 255, 0.25) 1050px) no-repeat, url('../Images/texture.png'), -ms-linear-gradient(top, #7396A5 0, #FFFFFF 1050px) no-repeat;
    background: linear-gradient(to bottom, rgba(65, 90, 101, 0.09) 0, rgba(255, 255, 255, 0.25) 1050px) no-repeat, url('../Images/texture.png'), linear-gradient(to bottom, #7396A5 0, #FFFFFF 1050px) no-repeat;
    -svg-background: linear-gradient(to bottom, rgba(65, 90, 101, 0.09) 0, rgba(255, 255, 255, 0.25) 1050px) no-repeat, url('../Images/texture.png'), linear-gradient(to bottom, #7396A5 0, #FFFFFF 1050px) no-repeat;
}

.text-justify {
    text-align: justify;
}

a {
    color: #09a0cd;
}

.loading {
    width: 200px;
    height: 300px;
    background: transparent url('../Images/loading.gif') center 100px no-repeat;
    margin: auto;
}

#search-results-alphabetical, #results-type {
    min-height: 500px;
}

.tabs-left .tab-content {
    border-left: 1px solid #DDDDDD;
    padding-left: 19px;
}

.tabs-left ul.nav.nav-tabs {
    margin-right: 0px;
    margin-right: -1px;
}

/* Layout */

.container {
    width: 940px;    
    margin: 10px auto 50px auto;
    padding: 0 20px;
}

.header {
    width: 690px;
    height: 167px;
    background: transparent url('../Images/header.png') center top no-repeat;
    margin-left: -10px;
    padding-left: 270px;
    padding-top: 75px;
}

.header a {
    position: relative;
    text-decoration: none;
}

.header a h1 {
    color: #1f3039;
    font-size: 40pt;
}

.header p {
    position: relative;
    color: #1f3039;
    font-size: 14pt;
    padding-top: 10px; 
}

.page-wrapper {
    padding: 20px 70px 20px 20px;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
       -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    background: #fff url('../Images/hr.png') 915px center repeat-y;
    border: 1px solid rgb(240,240,240);
}

.page-wrapper > .nav.nav-tabs {
    border-bottom: 5px solid #a65500;
    padding-bottom: 1px;
    margin-right: -70px;
}

.page-wrapper .nav > li > a:hover, .page-wrapper .nav > li > a:hover {
    background-color: #cbd8de;
    color: #1f3039;
}

.footer {
    margin: 20px 0px 50px 0px;
    padding: 0px;
    background: #1f3039 url('../Images/logo.png') 20px center no-repeat;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.7);
       -moz-box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.7);
    color: #fff;
}

.footer p {
    padding: 10px 0px;
    margin: auto;
    width: 100%;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    color: #09a0cd;
    font-weight: bold;
    font-size: 10pt;
}

.footer p a {
    color: #09a0cd;
}

.footer p a:hover, .footer p a:focus {
    color: #09a0cd;
    text-decoration: underline;
}

.footer p span {
    font-weight: normal;
    font-size: 8pt;
}

/* Layout */


/* SearchPanel */
.advanced-search-wrapper {
    position: relative;
    padding: 30px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
}

.advanced-search-wrapper form {
    margin: 0px;
}

.advanced-search-wrapper .search-inputs {
    width: 100%;
}

.advanced-search-wrapper .advanced-search {
    padding-top: 20px;
}

ul.nav.nav-categories {
    margin-bottom: 10px;        
}

ul.nav.nav-categories li {
    padding-left: 30px;
}

.nav-categories label.checkbox {
    display: inline-block;
}

.nav-categories label.checkbox input {
    float: none;
    display: inline;
    margin: -3px 5px 0px -10px;
}

.nav-categories i[class=icon-chevron-right], .nav-categories .categories i[class=icon-chevron-down] {
    cursor: pointer;
}

.category-select form {
    margin-left: 30px;
}

.categories .nav {
    display: none;
}

.categories div.category-select {
    display: none;
}

.categories .nav.selected-categories {
    display: block;
}

.icon-chevron-right.empty {
    background: none;
}

.text-left {
    text-align: left;
}

/* SearchPanel */

/* Index */
.news h3 {
    margin: 10px 0px;
}

.news .new .date {
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0px;
}

.news .new .text {
    margin-bottom: 20px;
    font-size: 10pt;
    line-height: 130%;    
}

.scb {
    font-size: 12pt;
    margin-top: 10px;
}
/* Index */

/* Detail */

blockquote p {
    font-size: 12pt;
}

blockquote p.kartoteka {
    min-height: 110px;
}

blockquote p.kartoteka a.thumbnail {
    margin-right: 50px;
}

/* Detail */

/* Sources Listing */

form.sources-order.form-horizontal .control-label {
    text-align: left;
    width: 110px;
}

form.sources-order.form-horizontal.form-horizontal .controls {
    margin-left: 0px;
}

.well.well-search {
    background-color: transparent;
}

.pagination.alphabet ul li a, .pagination.alphabet ul li span {
    padding: 4px 0px;
    width: 26px;
    text-align: center;
}

/* Sources Listing */

/* Sources prochazet */

.pager.sources-prochazet {
    margin-top: 40px;    
    margin-bottom: -50px;    
}

/* Sources prochazet */

/* Sources Detail search */

.btn-sources-top {
    margin-bottom: 20px;
}

.btn-sources-top p {
    padding-top: 10px;
}

/* Sources Detail search */

/* Module search */

.control-group.module-search {
    width: 400px;
    position: relative;
    margin: auto;
    padding-bottom: 10px;
}

/* Module search */

/* Search progress */

 .search-progress {
     width: 200px;
     margin: auto;
     margin-top: 50px;
 }

/* Search progress */

/* Module search */
.sctb-results {
    overflow: auto;
    padding: 5px;
    margin: 20px 0px;
    border: 1px solid rgb(200,200,200);
}

.sctb-results table {
    margin: 0px;
}

.sctb-results table td {
    text-align: center;
    white-space: nowrap;
    padding: 5px 2px;
}

.sctb-results .table-striped tbody > tr:nth-child(2n+1) > td.strong, .sctb-results .table-striped tbody > tr:nth-child(2n) > td.strong {
    background-color: #cbd8de;
    font-weight: bold;
    color: rgb(0,0,0);
    padding: 5px;
}

.sctb-results table td:first-child {
    text-align: right;
    padding-right: 5px;
}

.sctb-results table td:last-child {
    text-align: left;
    padding-left: 5px;
}

#created-searched-tree {
    display: none;
}

/* Module search */


/* dictonaries.css */
.entryFree { display:block; text-align: justify; margin-bottom: 1em; }
span[lang=ger] { font-family: courier, fixed, monospace; }
span[lang=cze] { font-family: 'Times New Roman', serif; }
.match { background-color: yellow; }
.note {display:block; font-size:85%; padding-bottom:0; padding-top:0; }
.sense {display:block; }
.senses {display:block; margin-bottom: 1em;}
.xr {}
.etym {display: block;}
.compound {font-family:arial, helvetica, sans-serif; font-size:90%; font-weight:bold;}
.def {font-style: italic; }
.hidden {display:none; visibility: collapse;}
.it {font-style: italic; }
.bo {font-weight:bold;}
.nonp {font-size:85%; }
.cap {font-variant:small-caps;}
/* dictonaries.css */



