/************************ Boris ***********************************/

/* cizojazyčné výrazy */
.foreign
{
	font-style: italic;
}
/* zarovnání odstavců do bloku */
p
{
	text-align: justify;
}

/* torzovité slovo */
span.fragment
{
	border-bottom: 2px dotted #4c6b4b;	
}
	
	/* hranice stránek, které odkazují na tištěnou edici textu*/
span.edition 
{
	color: Red;
	}	
	
/* odkazy na kapitolu a verš v Bibli */
span.bible
{
	vertical-align: super;
	font-size: 75%;
}

/* odkazy na kapitolu v Bibli */
span.chapter 
{
			
}

/* odkazy na verš v Bibli */
span.verse 
{
  font-size: 11px;
  font-weight: bold;
  margin-left: 6px;
  vertical-align: super;
}
	
/* Iniciálna na začátku nadpisu, odstavce */
span.initial 
{
	font-size: 120%;
	font-weight: bold;	
}
	

/* Styl pro značku začátku stránky */
.pb
{
	font-weight: bold;
}

/* */
.space 
{
	margin-right: 4px;
}


/* Údaj o začátku stránky z jiného (nezákladního) pramene */
.additional
{
	font-weight: normal;
	font-size: smaller !important;
	color: Red !important;
	
}

/* citace hlavního textu v emendační poznámce */
span.corr
{
	font-style: italic;
	margin-right: 1px;
}

span.emendace
{
	border-bottom: 2px dotted #4c6b4b;
}

.collapseNotesTool:hover
{
	text-decoration: none;
}

.collapseNotesTool  .note {
    display:inline;
    font-size: 80%;
    font-weight:bold;
    vertical-align: super;
}
