@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.FeedbackViewModel

@inject ILocalizationService Localizer

@{
    ViewBag.Title = @Localizer.Translate("ToolsFeedback", "Tools");
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model.PageStaticText)
    
    @await Html.PartialAsync("Feedback/_FeedbackForm", Model)
</div>
