@model ITJakub.Web.Hub.Models.FeedbackViewModel

@section scripts{
    @Scripts.Render("~/itjakub/tools/javascript")
}

@{
    ViewBag.Title = "Pomůcky - Připomínky";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model.PageStaticText)
    
    @Html.Partial("Feedback/_FeedbackForm", Model)
</div>
