@section styles{
    @Styles.Render("~/itjakub/tools/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/tools/javascript")
}

@{
    ViewBag.Title = "Pomůcky - Připomínky";
}

<div class="content-container">
    <h1>Připomínky</h1>
</div>