@model ITJakub.Web.Hub.Models.StaticTextViewModel

@section scripts{
    @Scripts.Render("~/itjakub/tools/javascript")
}

@{
    ViewBag.Title = "Pomůcky - Informace";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)

    @*Original text:
    <h1>Informace</h1>

    <p>
        V této části <i>Vokabuláře webového</i> najdete počítačové nástroje a další pomůcky určené pro badatele, které vznikly v oddělení vývoje jazyka Ústavu pro jazyk český. Obvykle jsou k dispozici zdarma, a to včetně zdrojových kódů a ukázkových dat. Vedle základních informací o účelu a fungování jednotlivých nástrojů uvádíme také detailnější nápovědu pod záložkou <i>Nápověda</i> a text licence, pod níž je daný nástroj k dispozici.
    </p>
    <p>
        Zároveň se snažíme upozornit na další počítačové technologie, nástroje, pomůcky a programy, které při badatelské práci využíváme, a to formou odkazu a stručné anotace.
    </p>
    <p>
        V případě jakýchkoli dotazů můžete využít kontaktní formulář <a href='@Url.Action("Feedback", "Tools", new { Area = "Tools"})'>Připomínek</a> nebo se obrátit na správce stránky prostřednictvím e-mailové adresy <a href="mailto:vokabular@ujc.cas.cz">vokabular@ujc.cas.cz</a>.
    </p>*@
</div>