@model ITJakub.Web.Hub.Models.StaticTextViewModel

@section scripts{
    <script src="~/wwwroot/Areas/Tools/js/itjakub.tools.js"></script>
}

@{
    ViewBag.Title = "Pomůcky - Seznam";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)

</div>