@using Localization.AspNetCore.Service
@model ITJakub.Web.Hub.Models.StaticTextViewModel
@inject ILocalization Localizer

@section scripts{
    <script src="~/Areas/Tools/js/itjakub.tools.js"></script>
}

@{
    ViewBag.Title =  @Localizer.Translate("ToolsList", "Tools");
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model)

</div>