<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="Layout"
            value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  <targets>

    <target name="allfile" xsi:type="File" fileName="${basedir}/logs/migrator-full.log" layout="${Layout}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target name="ownfile" xsi:type="File" fileName="${basedir}/logs/migrator.log" layout="${Layout}" />

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" level="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="ownfile" />
  </rules>
</nlog>