@using ITJakub.Web.Hub.Areas.Admin.Models.Type
@using Vokabular.MainService.DataContracts.Contracts.Type
@{
    ViewBag.Title = "Administrace číselníků";
}
@section styles {
    <link rel="stylesheet" href="~/Areas/Admin/css/ridics.project.css" />
}
@section scripts {
    <script src="~/Areas/Admin/js/ridics.project.editors-common-base.bundle.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.composition-key-table-editor.bundle.js"></script>
}
<div class="content-container">
    <div class="row project-layout">
        <div class="left-menu" id="left-menu">
            <div class="project-title">Název díla</div>
            <div class="list-group list-group-root" id="project-navigation">
                    <a href="#" class="list-group-item key-table-editor-selection active" data-editor-type="@{@((int)KeyTableEditorType.Category)}">Category</a>
                    <a href="#" class="list-group-item key-table-editor-selection" data-editor-type="@{@((int)KeyTableEditorType.Genre)}">Genre</a>
                    <a href="#" class="list-group-item key-table-editor-selection" data-editor-type="@{@((int)KeyTableEditorType.Kind)}">Kind</a>
                    <a href="#" class="list-group-item key-table-editor-selection" data-editor-type="@{@((int)KeyTableEditorType.ResponsiblePerson)}">Responsible person</a>
                    <a href="#" class="list-group-item key-table-editor-selection" data-editor-type="@{@((int)KeyTableEditorType.ResponsiblePersonType)}">Responsible person type</a>
                    <a href="#" class="list-group-item key-table-editor-selection" data-editor-type="@{@((int)KeyTableEditorType.LiteraryOriginal)}">Literary Original</a>
                    <a href="#" class="list-group-item key-table-editor-selection" data-editor-type="@{@((int)KeyTableEditorType.OriginalAuthor)}">Original Author</a>
                    <a href="#" class="list-group-item key-table-editor-selection" data-editor-type="@{@((int)KeyTableEditorType.Keyword)}">Keyword</a>
            </div>
        </div>

        <div class="vertical-splitter"></div>

        <div class="vertical-splitter-control">
            <button id="splitter-button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
        </div>

        <div class="content" id="project-layout-content">
            <div class="table-of-keys-content">
                <div class="container-fluid table-of-keys-container">
                    <div class="row table-of-keys">
                        <div class="table-of-keys-title">Table of keys title</div>
                        <div class="col-xs-9 selectable-list-div"></div>
                        <div class="col-xs-3 crud-buttons-div">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-default create-key-table-entry"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    <span class="create-key-table-entry-description">Create table of keys entry</span></button>
                                <button type="button" class="btn btn-default rename-key-table-entry"><i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="rename-key-table-entry-description">Rename table of keys entry</span></button>
                                <button type="button" class="btn btn-default delete-key-table-entry"><i class="fa fa-trash-o" aria-hidden="true"></i>
                                    <span class="delete-key-table-entry-description">Delete table of keys entry</span></button>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="modal fade category-change-input-modal-dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title double-input-dialog-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="primary-input-dialog-message"></p>
                                    <textarea class="textarea-no-resize primary-input-dialog-textarea" rows="1" cols="30"></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <p class="secondary-input-dialog-message"></p>
                                    <select class="id-method-selection">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default info-dialog-ok-button" data-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade responsible-type-input-modal-dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title responsible-type-input-dialog-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="primary-input-dialog-message"></p>
                                    <textarea class="textarea-no-resize responsible-type-text-input-dialog-textarea" rows="1" cols="30"></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <p class="secondary-input-dialog-message"></p>
                                    <select class="responsible-type-selection">
                                        @{
                                                <option value="@((int)ResponsibleTypeEnumContract.Unknown)">Unknown</option>
                                                <option value="@((int)ResponsibleTypeEnumContract.Editor)">Editor</option>
                                                <option value="@((int)ResponsibleTypeEnumContract.Kolace)">Collation</option>
                                         }
</select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default info-dialog-ok-button" data-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade input-modal-dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title input-dialog-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p class="input-dialog-message"></p>
                            <textarea class="textarea-no-resize input-dialog-textarea" rows="1" cols="30"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default info-dialog-ok-button" data-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade info-modal-dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title info-dialog-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p class="info-dialog-message"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade confirmation-modal-dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title confirmation-dialog-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p class="confirmation-dialog-message"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default confirmation-ok-button" data-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade author-input-modal-dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title author-input-dialog-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="primary-input-dialog-message"></p>
                                    <textarea class="textarea-no-resize primary-input-author-textarea" rows="1" cols="30"></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <p class="secondary-input-dialog-message"></p>
                                    <textarea class="textarea-no-resize secondary-input-author-textarea" rows="1" cols="30"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default info-dialog-ok-button" data-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="row pagination-row-elements">
  <div class="col-xs-12 text-center key-table-pagination"></div>
 </div>
</div>
