@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@model ITJakub.Web.Hub.Models.StaticTextViewModel
    
@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("HowToCiteTitle", "Home", LocTranslationSource.File);
}

<div class="content-container top-offset-without-submenu">
    @await Html.PartialAsync("_StaticText", Model)

    @*Original text:
    <h1>Jak citovat</h1>

    <p>
        <i>Vokabulář webový</i> je médium proměnlivé. Jednak postupně zpřístupňujeme další zdroje, jednak u děl nedokončených (jako je například <i>Elektronický slovník staré češtiny</i>) informace doplňujeme a v neposlední řadě také opravujeme chyby, které se ve zdrojích zpřístupněných prostřednictvím <i>Vokabuláře webového</i> podaří najít. Také z těchto důvodů nemají publikované korpusy povahu referenčních korpusů.
    </p>
    <p>
        Při citaci zveřejněných děl nebo celého <i>Vokabuláře webového</i> uvádějte datum citování. Pokud budete citovat konkrétní zdroj nebo heslovou stať, používejte pro detailnější určení také datum poslední změny textu. Tento údaj se u slovníků zobrazuje v závěru každé heslové stati, u ostatních děl v informacích o zdroji.
    </p>
    <p>
        Bibliografická citace jednotlivých děl podle normy ČSN ISO 690 je dostupná <span style="background-color: yellow">pod odkazem Jak citovat</span> na stránce s detailními informacemi o jednotlivých zdrojích.
    </p>
    <p>
        <h3>Při citování údajů z <i>Vokabuláře webového</i> doporučujeme následující způsoby:
        </h3><br/>

        <h4>Při odkazování na webové stránky jako celek:</h4>
        Vokabulář webový. <i>Vokabulář webový</i> [online]. Praha: oddělení vývoje jazyka Ústavu pro jazyk český AV ČR, v. v. i., 2015 [cit. 2015-06-21]. Dostupné z: http://vokabular.ujc.cas.cz
        <br/>
        <br/>

        <h4>Při odkazování na konkrétní zdroj (slovník, edici, mluvnici, odbornou literaturu aj.):</h4>
        BĚLIČ, Jaromír, Adolf KAMIŠ a Karel KUČERA. <i>Malý staročeský slovník</i> [online]. 1. vyd. Praha: Státní pedagogické nakladatelství, 1978, 2014-03-12, 707 s. <br/>[cit. 2015-06-21]. Dostupné z: http://vokabular.ujc.cas.cz/slovniky/mss
        <br/>
        <br/>

        <h4>Při odkazování na korpus:</h4>
        Staročeský korpus. <i>Staročeský korpus</i> [on-line]. Praha: oddělení vývoje jazyka Ústavu pro jazyk český AV ČR, v. v. i., 2015-03-12 [cit. 2015-06-21]. Dostupné z: &lt;http://vokabular.ujc.cas.cz/banka.aspx&gt;.
        <br/>
        <br/>

    </p>*@
</div>