@using ITJakub.Web.Hub.Controllers
@{
    ViewBag.Title = "Úvodní stránka";
}
@section scripts{
    <script src="~/js/itjakub.home.js"></script>
    <script src="~/js/itjakub.news.js"></script>
}
@section styles{
    <link rel="stylesheet" href="~/css/ITJakub.Home.css" />
}

<script type="text/javascript">
    $(document).ready(function() {
        initNews();
    });
</script>

<div class="top-offset-main-site">
    <form role="form" class="form-horizontal">
        <div class="form-group searchbar">
            <div class="searchbar-buttons">
                <button type="button" class="btn btn-default searchbar-button">
                    Vyhledat
                </button>
                <button type="button" class="btn btn-default searchbar-button">
                    Upřesnit
                </button>
            </div>
            <div class="searchbar-inputs">
                <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;"/>
            </div>

        </div>
    </form>

    <div style="height: 73vh;">
        <div class="content-container left-panel">
            <img src='@Url.Content("~/images/mlceni_pink.jpg")' alt="mlceni" class="centered" style="max-height: 100%; max-width: 100%;"/>
        </div>
        <div class="content-container right-panel">
            <div id="news" class="news">
                <h1>Aktuality</h1>

                <div class="news-feeds">                    
                    <a href="@Url.Action("Feed", "News", new {feedType = FeedType.Atom.ToString()})" class="news-feed-atom"></a>
                    <a href="@Url.Action("Feed", "News", new {feedType = FeedType.Rss.ToString()})" class="news-feed-rss"></a>
                </div>

                <div id="news-container"></div>

                <div id="news-paginator" class="centered"></div>

            </div>


        </div>


    </div>
</div>