@{
    ViewBag.Title = "Home Page";
}
<div class="top-offset-without-submenu">
    <form role="form" class="form-horizontal">
        <div class="form-group searchbar">
            <div class="searchbar-buttons">
                <button type="button" class="btn btn-default searchbar-button">
                    Vyhledat
                </button>
                <button type="button" class="btn btn-default searchbar-button">
                    Upřesnit
                </button>
            </div>
            <div class="searchbar-inputs">
                <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
            </div>
      
        </div>
    </form>

    <div>
        <div class="content-container left-panel">
            <img src='@Url.Content("~/Content/Images/mlceni.jpg")' alt="mlceni" class="centered" style="max-height: 100%; max-width: 100%;" />
        </div>
        <div class="content-container right-panel">
            <div class="news">
                <h1>Novinky</h1>

                <div class="message">
                    <h2>14. Února 2013</h2>
                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla quis diam. Vestibulum fermentum tortor id mi. Nulla est. Pellentesque ipsum. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aliquam id dolor. Nulla non arcu lacinia neque faucibus fringilla. Fusce consectetuer risus a nunc. Integer tempor. Nullam faucibus mi quis velit. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.</p>

                </div>
                <div class="message">
                    <h2>14. Února 2013</h2>
                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla quis diam. Vestibulum fermentum tortor id mi. Nulla est. Pellentesque ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>