@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@model ITJakub.Web.Hub.Models.StaticTextViewModel
    
@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("LinksTitle", "Home", LocTranslationSource.File);
}

<div class="content-container top-offset-without-submenu">
    @Html.Partial("_StaticText", Model)

    @*Original text:
    <h1>Odkazy</h1>

    <p>
        Ústav pro jazyk český AV ČR, v. v. i., Letenská 4, Praha 1, 118 51 <a href="http://www.ujc.cas.cz">http://www.ujc.cas.cz</a>
    </p>

    <p>
        Manuscriptorium, virtuální badatelské prostředí pro oblast historických fondů <a href="http://www.manuscriptorium.com/">http://www.manuscriptorium.com/</a><br/>
        Centrum medievistických studií (digitalizované edice a jiné zdroje k českým středověkým dějinám) <a href="http://cms.flu.cas.cz/">http://cms.flu.cas.cz/</a><br/>
        Virtuální archiv listin střední Evropy <a href="http://monasterium.net/mom/home?_lang=ces">http://monasterium.net/mom/home?_lang=ces</a><br/>
        Český národní korpus <a href="http://ucnk.ff.cuni.cz">http://ucnk.ff.cuni.cz</a><br/>
        Elektronická verze Příručního slovníku jazyka českého a naskenovaný lístkový archiv k PSJČ <a href="http://psjc.ujc.cas.cz">http://psjc.ujc.cas.cz</a><br/>
        Elektronická verze Slovníku spisovného jazyka českého <a href="http://ssjc.ujc.cas.cz">http://ssjc.ujc.cas.cz</a><br/>
        Lexikální databáze humanistické a barokní češtiny, dostupná po registraci z adresy <a href="http://madla.ujc.cas.cz">http://madla.ujc.cas.cz</a><br/>
        LEXIKO – webové hnízdo o novodobé české slovní zásobě a výkladových slovnících <a href="http://lexiko.ujc.cas.cz/">http://lexiko.ujc.cas.cz/</a><br/>
        Latinsko-české slovníky mistra Klareta (elektronická edice knihy Klaret a jeho družina) <a href="http://titus.uni-frankfurt.de/texte/etcs/slav/acech/klaret/klare.htm">http://titus.uni-frankfurt.de/texte/etcs/slav/acech/klaret/klare.htm</a><br/>
        Elektroniczny słownik języka polskiego XVII i XVIII wieku <a href="http://sxvii.pl/">http://sxvii.pl/</a><br/>
        Historický slovník slovenského jazyka V (R—Š), Bratislava 2000 <a href="http://slovnik.juls.savba.sk/?d=hssjV">http://slovnik.juls.savba.sk/?d=hssjV</a><br/>
        Staročeská sbírka (lístkový katalog) Ústavu pro českou literaturu AV ČR, v. v. i. <a href="http://starocech.ucl.cas.cz">http://starocech.ucl.cas.cz</a>
    </p>

    <p>
        Moravská zemská knihovna v Brně <a href="http://www.mzk.cz">http://www.mzk.cz</a><br/>
        Národní knihovna České republiky v Praze <a href="http://www.nkp.cz">http://www.nkp.cz</a><br/>
        Vědecká knihovna v Olomouci <a href="http://www.vkol.cz">http://www.vkol.cz</a><br/>
        Knihovna Strahovského kláštera v Praze <a href="http://www.strahovskyklaster.cz/webmagazine/page.asp?idk=282">http://www.strahovskyklaster.cz/webmagazine/page.asp?idk=282</a><br/>
        Knihovna Národního muzea v Praze <a href="http://www.nm.cz/Knihovna-NM/">http://www.nm.cz/Knihovna-NM/</a><br/>
        Archiv Pražského hradu (knihovna Metropolitní kapituly u sv. Víta) <a href="http://old.hrad.cz/castle/archiv/index.html">http://old.hrad.cz/castle/archiv/index.html</a><br/>
        Městská knihovna v Praze <a href="http://www.mlp.cz">http://www.mlp.cz</a><br/>
        Knihovna Akademie věd ČR <a href="http://www.lib.cas.cz">http://www.lib.cas.cz</a>
    </p>*@

</div>