@model ITJakub.Web.Hub.Models.StaticTextViewModel

@{
    ViewBag.Title = "Podpora";
}

<div class="content-container top-offset-without-submenu">
    @Html.Partial("_StaticText", Model)

    @*Original text:
    <h1>Podpora</h1>

    <br/>
    <p>
        Podpora Vokabuláře webového: <br/><br/>


        2012–2015 projekt MK ČR č. DF12P01OVV028 <i>Informační technologie ve službách jazykového kulturního bohatství (IT JAKUB)</i><br>
        2010–2015 projekt MŠMT LINDAT-CLARIN č. LM2010013 <i>Vybudování a provoz českého uzlu pan-evropské infrastruktury pro výzkum</i><br>
        2010–2014 projekt GA ČR č. P406/10/1140 <i>Výzkum historické češtiny (na základě nových materiálových bází)</i><br>
        2010–2014 projekt GA ČR č. P406/10/1153 <i>Slovní zásoba staré češtiny a její lexikografické zpracování</i><br>
        2005–2011 projekt MŠMT ČR LC 546 <i>Výzkumné centrum vývoje staré a střední češtiny (od praslovanských kořenů po současný stav)</i>
    </p>*@
</div>