<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="uploadReadAheadSize" value="2147483647" />
  </appSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\ITJMainService.log" />
      <!--log File Name Here-->
      <appendToFile value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="false" />
      <countDirection value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>


    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <!-- console appender is off by default and is activated only when service is started in "console" mode -->
      <threshold value="ALL" />
      <mapping>
        <level value="FATAL" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{IMEI} %property{TIME}]- %message%newline%exception" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="NHibernate" additivity="false">
      <level value="WARN" />
    </logger>

  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576000" executionTimeout="3600" />
  </system.web>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" multipleSiteBindingsEnabled="True">
      <serviceActivations>
        <add service="ITJakub.ITJakubService.Services.MobileAppsServiceManager" relativeAddress="MobileApps.svc" />

        <add service="ITJakub.ITJakubService.Services.ItJakubServiceManager" relativeAddress="ItJakubService.svc" />
        <add service="ITJakub.ITJakubService.Services.IItJakubServiceStreamedManager" relativeAddress="ItJakubServiceStreamed.svc" />
        <add service="ITJakub.ITJakubService.Services.ItJakubServiceEncryptedManager" relativeAddress="ItJakubServiceEncrypted.svc" />

      </serviceActivations>
    </serviceHostingEnvironment>

    <services>

      <service name="ITJakub.ITJakubService.Services.MobileAppsServiceManager">
        <endpoint contract="ITJakub.MobileApps.MobileContracts.IMobileAppsService" binding="basicHttpBinding" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="ITJakub.ITJakubService.Services.ItJakubServiceManager" behaviorConfiguration="ITJakub.Behavior.UserNameAuthenticated">
        <endpoint contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpBinding" bindingConfiguration="ITJakub.BasicHttpBinding" />
        <endpoint contract="ITJakub.ITJakubService.DataContracts.IItJakubService" binding="basicHttpsBinding" bindingConfiguration="ITJakub.BasicHttpsBinding.UserNameAuthentication" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>


      <service name="ITJakub.ITJakubService.Services.IItJakubServiceStreamedManager" behaviorConfiguration="ITJakub.Behavior.UserNameAuthenticated">
        <endpoint contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpBinding" bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" />
        <endpoint contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceStreamed" binding="basicHttpsBinding" bindingConfiguration="ITJakub.BasicHttpsBinding.Streamed" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>

      <service name="ITJakub.ITJakubService.Services.ItJakubServiceEncryptedManager" behaviorConfiguration="ITJakub.Behavior.Encrypted">
        <endpoint contract="ITJakub.ITJakubService.DataContracts.IItJakubServiceEncrypted" binding="basicHttpsBinding" bindingConfiguration="ITJakub.BasicHttpsBinding.CertificateAuthentication" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>

    </services>


    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" />

        <binding name="ITJakub.BasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>

        <binding name="ITJakub.BasicHttpBinding.Streamed" maxBufferPoolSize="2097120" maxBufferSize="65536" maxReceivedMessageSize="2147483647" closeTimeout="00:25:00" openTimeout="00:25:00" sendTimeout="00:10:00" transferMode="Streamed">
        </binding>
      </basicHttpBinding>

      <basicHttpsBinding>
        <binding name="ITJakub.BasicHttpsBinding.CertificateAuthentication">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>

        <binding name="ITJakub.BasicHttpsBinding.UserNameAuthentication" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>

        <binding name="ITJakub.BasicHttpsBinding.Streamed" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:25:00" openTimeout="00:25:00" sendTimeout="00:10:00" transferMode="Streamed">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpsBinding>

      <webHttpBinding>

        <binding name="CardFileService_DigestSecurity" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest" />
          </security>
        </binding>
      </webHttpBinding>

    </bindings>

    <client>
      <endpoint address="http://localhost/ITJakub.SearchService/SearchService.svc" name="BasicHttpBinding_ISearchService" bindingConfiguration="ITJakub.BasicHttpBinding" binding="basicHttpBinding" contract="ITJakub.Shared.Contracts.ISearchService" />

      <endpoint address="http://localhost/ITJakub.FileProcessing.Service/FileProcessingService.svc" name="BasicHttpBinding_FileProcessingService" bindingConfiguration="ITJakub.BasicHttpBinding.Streamed" binding="basicHttpBinding" contract="ITJakub.FileProcessing.DataContracts.IFileProcessingService" />

      <endpoint address="http://bara.ujc.cas.cz/" name="CardFilesService" bindingConfiguration="CardFileService_DigestSecurity" binding="webHttpBinding" contract="ITJakub.CardFile.Core.ICardFilesService" behaviorConfiguration="CardFilesBehavior" />

    </client>


    <behaviors>

      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>

        <behavior name="ITJakub.Behavior.Encrypted">
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" trustedStoreLocation="LocalMachine" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>

        <behavior name="ITJakub.Behavior.UserNameAuthenticated">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ITJakub.ITJakubService.UserNameAuthTokenValidator, ITJakub.ITJakubService" />
          </serviceCredentials>
        </behavior>

      </serviceBehaviors>


      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="CardFilesBehavior">
          <dataContractSerializer />
          <webHttp />
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!--WCF Tracing--><!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="MyTraceFile" />
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="MyTraceFile" />
        </listeners>
      </source>


    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WCFTrace.svclog" />
      <add name="MyTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="System.Net.trace.log" />
    </sharedListeners>

    <switches>
      <add name="System.Net" value="Verbose" />
    </switches>

  </system.diagnostics>-->


</configuration>