@import "../ITJakub.DefaultTheme.less";

.permission-button {
    border-radius: 0;
    background-color: @item-background-color;
    color: white;
}

.permission-search-input {
    border-radius: 0;
    margin: 0;
}

.permission-main-buttons {
    float: right;
}

.permission-search {
    width: 85%;
}

.permission-left-panel {
    width: 45%;
    display: inline-table;
}


.permission-right-panel {
    width: 45%;
    display: inline-table;
    margin-left: 5%;
}

.content {
    margin-top: 25px;   
}

.item-details {
   display: table;
   border-spacing: 5px;
}

.item-details-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
}

.detail-item {
   display: table-row;
}

.detail-item-title {
    display: table-cell;
    width: 150px;
    font-weight: bold;
}

.right-panel-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
}

/* Details right panel styles */

ul.items-list li {
    background-color: @item-background-color;
    width: 500px;
    margin-bottom: 2px;
    padding: 5px;
    color: white;
}

ul.list-item-details-list li.leaf {
    color: black;
    width: 100%;
    margin-bottom: 4px;
    padding: 3px;
    background-color: lightyellow;
}

ul.list-item-details-list li.non-leaf {
    color: white;
    width: 100%;
    margin-bottom: 4px;
    padding: 3px;
    background-color: @item-background-color;
}

ul.list-item-details-list li.leaf .list-item-more:hover, ul.list-item-details-list li.leaf  .list-item-remove:hover, ul.list-item-details-list li.leaf  .list-item-edit:hover {
    cursor: pointer;
    color: @item-background-color;
}

span.list-item-more {
    margin: 0 5px 0 5px;
}

span.list-item-name {
    margin-left: 7px;
    width: 90%;
}

.list-item-details {
    background-color: white;
    color: black;
    margin-top: 5px;
    padding: 5px;
}

.list-item-buttons {
    float: right;
    margin-right: 5px;
}

.list-item-buttons a {    
    text-decoration: none; 
    color: white;
}

.list-item-buttons a:visited {    
    text-decoration: none; 
    color: white;
}

.list-item-buttons span {
    margin-left: 7px;
}

.list-item-more:hover, .list-item-remove:hover, .list-item-edit:hover {
    cursor: pointer;
    color: black;
}

.selected-item-buttons {
    margin-top: 25px;
}


/* Details right panel styles end */