@import "../ITJakub.DefaultTheme.less";

.permission-button {
    border-radius: 0;
    background-color: @item-background-color;
    color: white;
}

.permission-search-input {
    border-radius: 0;
    margin: 0;
}

.permission-main-buttons {
    float: right;
}

.permission-search {
    width: 85%;
}

.permission-left-panel {
    width: 45%;
    display: inline-table;
}


.permission-right-panel {
    width: 45%;
    display: inline-table;
    margin-left: 5%;
}