@import "../../../Content/ITJakub.DefaultTheme.less";

.dictionary-header {
    background-color: @item-background-color;
    color: white;
    padding: 5px;
}

.search-with-saved-word-area {
    height: 20vh;
    padding: 5px;
}

.search-area {
    height: 100%;
    width: 70%;
    float: left;
}

.saved-word-area {
    background-color: white;
    height: 100%;
    width: 30%;
    float: left;
}

.dictionary-selects {
    height: 5vh;
    clear: both;
}

.dictionary-select {
    margin-right: 5px;
    float: left;
    position: relative;
}

.dictionary-select-header {
    padding: 5px;
    border-radius: 0;
    background-color: @item-background-color;
    color: white;
}

.dictionary-select-body {
    display: none;
    padding: 5px;
    background-color: white;
    z-index: 3;
    position: absolute;
    min-width: 100%;
    border-left: 1px solid @background-color;
    border-bottom: 1px solid @background-color;
    border-right: 1px solid @background-color;
}

.dictionary-select-checkbox input {
    width: 1.1em;
    height: 1.1em;
}

.dictionary-select-more {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.dictionary-select-more :hover {
    cursor: pointer;
}

.dictionary-result-area {
    height: 75vh;
    clear: both;
}

.dictionary-result-word-search-list {
    background-color: white;
    height: 100%;
    width: 20%;
    float: left;
}

.dictionary-result-word-search-description {
    background-color: white;
    margin-left: 1%;
    height: 100%;
    width: 79%;
    float: left;
}
