@import "../../../Content/ITJakub.Colors.less";
@dictionary-entry-margin: 15px;

.dictionary-header {
    background-color: @item-background-color;
    color: white;
    padding: 5px;
    height: 34px;
}

.dictionary-subheader {
    margin-top: 1px;
}

.dictionary-header-buttons {
    float: right;
    margin-right: 2px;
}

.dictionary-header-buttons a, .dictionary-header-buttons a:hover {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.search-with-saved-word-area {
    padding: 5px;
}

.search-area {
    width: 70%;
    float: left;
    padding: 0;
    padding-right: 10px;
}

.short-search-area {
    width: 65%;
}

.searchbar-inputs {
    margin-right: 74px;
}

.saved-word-area {
    background-color: white;
    height: 100%;
    width: 35%;
    float: left;
    overflow: hidden;
}

.saved-word-area > .dictionary-header {
    height: 34px;
    padding: 6px 8px 5px 8px;
}

.dictionary-header span {
    vertical-align: middle;
}

.dictionary-selects {
    height: 5vh;
    clear: both;
}

.dictionary-result-area {
    height: 75vh;
    clear: both;
}

.dictionary-result-word-search-list {
    background-color: white;
    min-height: 100%;
    width: 22%;
    float: left;
}

.dictionary-result-word-search-list-body {
    position: relative;
    min-height: 450px;
}

.dictionary-result-pagination {
    text-align: center;
}

.dictionary-result-word-search-description {
    background-color: white;
    margin-left: 1%;
    min-height: 100%;
    width: 77%;
    float: left;
}

.dictionary-result-word-search-description-body {
    padding: 5px;
    position: relative;
    min-height: 450px;
}

.dictionary-result-word-search-list-body li {
    padding: 0 5px;
}

.dictionary-result-headword {

}

.dictionary-headword-highlight {
    background-color: yellow;
}

.dictionary-result-book-list {
    display: inline;
    margin-left: 8px;
}

a.dictionary-result-headword-book {
    color: @item-background-color;
}

.dictionary-result-headword-favorite {
    float: right;
    cursor: pointer;
}

.dictionary-result-headword-favorite:hover {
    color: @item-background-color;
}

.saved-words-body {
    padding: 5px;
}

.saved-word {
    margin: 5px;
    background-color: @item-background-color;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    white-space: nowrap;
}

.saved-word-text {
    color: white;
    cursor: pointer;
}

.saved-word-text:hover {
    color: black;
}

.saved-word-remove {
    cursor: pointer;
    margin-top: 2px;
}

.saved-word-area-more {
    float: right;
}

.saved-word-area-more:hover {
    cursor: pointer;
}

.dictionary-entry-comments {
    float: right;
    margin-right: @dictionary-entry-margin;
    width: 200px;
    text-align: right;
}

.dictionary-entry-name {
    margin-left: @dictionary-entry-margin;
    margin-right: 200px + @dictionary-entry-margin;
}

.dictionary-entry-comments, .dictionary-entry-name {
    margin-top: 10px;
}

.dictionary-entry-comments a, .dictionary-entry-name a {
    color: @item-background-color;
}

.loading-background, .loading {
    background: url(../../../Content/Images/loading.gif) no-repeat top;
}

.loading-modal {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dictionary-loading {
    background: rgba(255,255,255,0.6);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.dictionary-loading > div {
    position: relative;
    top: 50%;
}

.dictionary-list-empty {
    text-align: center;
    margin-top: 100px;
}

@media print {
    .navbar, .footer, .search-with-saved-word-area, .dictionary-selects {
        display: none;
    }

    body {
        padding: 0;
    }

    .module-content {
        margin: 0;
    }

    .dictionary-entry-comments, .dictionary-result-word-search-list, .dictionary-header-buttons {
        display: none;
    }

    .dictionary-entry-name {
        margin-left: 15px;
        margin-right: 15px;
    }

    .dictionary-result-word-search-description {
        width: 100%;
    }

    a:link:after, a:visited:after {  
        content: normal;  
    }

    .dictionary-entry-image-switch {
        display: none;
    }
}

#search-tabs {
    display: block;
    margin: 0;
}

#search-tabs a {
    padding: 4px 5px 6px 5px;
}

.tab-content > div {
    display: none;
}

.dictionary-result-word-search-list .dictionary-header-tabs {
    padding: 2px 5px 2px 2px;
}

.middle {
    vertical-align: middle;
}

.dictionary-header-button-middle {
    vertical-align: middle;
    margin-top: 5px;
}

.dictionary-header a {
    color: white;
}

.dictionary-header a:hover {
    color: black;
}

.dictionary-entry-description-container {
    min-height: 24px;
}

.dictionary-entry-image-switch {
    text-align: right;
    float: right;
}

.dictionary-entry-image.loading {
    min-height: 50px;
}

.dictionary-entry-image img {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 6px;
}

.dictionary-entry-image-switch .btn-primary {
    background-color: transparent;
    border-color: @item-background-color;
    color: @item-background-color;
    margin: 0 15px 2px 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0;
}

.dictionary-entry-image-switch .btn-primary:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333333;
}

.dictionary-entry-image-switch .active {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.entry-load-error {
    padding-left: @dictionary-entry-margin;
    padding-right: @dictionary-entry-margin;
}

.entry-image-header {
    padding-left: @dictionary-entry-margin;
    padding-right: @dictionary-entry-margin;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    font-weight: bold;
    min-height: 30px;
    display: block;
}

.entryFree {
    padding-left: @dictionary-entry-margin;
    padding-right: @dictionary-entry-margin;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 120%;

    span[lang="cs"] {
        &:after {
            content: " ";
        }
    }
    span[lang="de"] {
        font-style: italic;
    }
}

.bo {
    position: relative;
    font-weight: bold;
    font-size: 100%;
    left: 0;
}

.note {
    font-style: italic;
    font-size: 80%;
}

.match {
    background-color: yellow;
}


.nonp {
    font-size: 80%;
}

.def {
    font-style: italic;
}

div .sense {
    margin-left: 1em;
    text-indent: -1em;
}

.cap {
    font-variant: small-caps;
}

.dicitonaries-search .searchbar-inputs {
    margin-right: 75px;
}


.bib-listing-books-div.loader {
    margin-top: 30vh;
}


.bib-listing-books-div:not(.loader) {
    min-height: 58vh;
}

.bib-listing-books-div.loader + .bib-listing-pagination-div {
    margin-top: 25vh;
}

.bib-listing-empty {
    font-size: 18px;
    text-align: center;
    padding-top: 20vh;
}

ul.first-level{
    list-style-type: disc;
}

ul.first-level li {
    margin-left: 25px;
}

ul.second-level{
    list-style-type: circle;
}

ul.second-level li {
    margin-left: 20px;
}
