@import "../../../Content/ITJakub.DefaultTheme.less";

.dictionary-header {
    background-color: @item-background-color;
    color: white;
    padding: 5px;
}

.search-with-saved-word-area {
    height: 20vh;
    padding: 5px;
}

.search-area {
    /*height: 100%;*/
    width: 70%;
    float: left;
}

.saved-word-area {
    background-color: white;
    height: 100%;
    width: 30%;
    float: left;
    overflow: hidden;
}

.dictionary-selects {
    height: 5vh;
    clear: both;
}

.dictionary-result-area {
    height: 75vh;
    clear: both;
}

.dictionary-result-word-search-list {
    background-color: white;
    height: 100%;
    width: 20%;
    float: left;
}

.dictionary-result-word-search-description {
    background-color: white;
    margin-left: 1%;
    height: 100%;
    width: 79%;
    float: left;
}

.saved-words-body {
    padding: 5px;
}

.saved-word {
    margin: 5px;
    background-color: @item-background-color;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    white-space: nowrap;
}

.saved-word-text {
    color: white;
    cursor: pointer;
}

.saved-word-text:hover {
    color: black;
}

.saved-word-remove {
    cursor: pointer;
    margin-top: 2px;
}

.saved-word-area-more {
    float: right;
}

.saved-word-area-more:hover {
    cursor: pointer;
}
