@import "../../../css/ITJakub.Colors.less";

@box-border: 1px solid #ddd;

.project-list {
    hr {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

.project-list-new {
    margin-bottom: 6px;
}

.project-list-header {
}

.project-list-subheader {
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: right;
}

.project-item {
    padding-top: 4px;
    padding-bottom: 4px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.project-item-buttons {
    a {
        display: block;
        float: right;
        text-align: center;
        margin: 7px;
        margin-top: 15px;
    }

    .glyphicon {
        font-size: 170%;
    }
}

.project-layout {
    display: table-row;
    height: 640px;

    .left-menu, .vertical-splitter, .vertical-splitter-control, .content {
        display: table-cell;
    }

    .left-menu {
        width: 200px;
        padding-right: 10px;
    }

    .vertical-splitter-control {
        vertical-align: middle;

        button {
            padding: 10px 2px;
            margin-right: 3px;
            transform: scaleY(2);
        }
    }

    .vertical-splitter {
        border: 1px solid #ccc;
    }

    .horizontal-splitter {
        border: 2px solid #ccc;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .content {
        width: 100%;
    }

    .tab-content {
        border: @box-border;
        border-top-width: 0;
        height: 640px;
        padding: 1rem 0.5rem 1rem 0.5rem;
        overflow-y: auto;
    }

    .modal .tab-content {
        height: auto;
        overflow: initial;
        border-width: 0;
        padding: 1rem 0;
    }

    table {
        width: 100%;
    }

    td, th {
        border: @box-border;
        text-align: center;
    }

    th {
        background-color: #eee;
    }
}

.project-title {
    font-weight: bold;
    font-size: 120%;
    width: 200px;
    margin-bottom: 20px;
}

.resource-panel {
    button, select {
        width: 100%;
        margin-bottom: 3px;
    }
}

.project-bottom-buttons {
    margin-top: 1rem;
    text-align: right;
}

.project-form-bottom-buttons {
    margin-right: 1rem;
}

.project-layout-box {
    padding: 0.2rem 1rem 0.5rem 1rem;
    margin-left: 0.5rem;
    float: left;
    width: 500px;

    .control-label {
        text-align: left;
    }
}

.project-layout-box-500 {
    max-width: 500px;
}

.project-layout-box-200 {
    max-width: 200px;
}

.resource-version-button-icon {
    margin-top: -6px;
    margin-bottom: -8px;
}

.resource-version-panel {
    height: 220px;
    padding-top: 7px;
    
    > div {
        border: @box-border;
        padding: 0.5rem;
        height: 100%;
    }
}

.resource-tab-row-fix {
    margin-right: 0;
}

.resource-version-table {
    height: 80%;
    overflow-y: auto;
    padding-right: 2px;
    padding-bottom: 5px;
}

.resource-version-control {
    height: 20%;
    padding-top: 5px;
}

.input-as-text {
    border: none;
    background: transparent !important;
    box-shadow: none;
    cursor: default !important;
}

.project-history-records {
    .panel {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .snapshot-panel {
        background-color: @breadcrumb-background-color;
    }
}

.project-page-list {
    .image-preview {
        text-align: right;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .project-bottom-buttons {
        padding-right: 15px;
    }

    .resource-tab-row-fix {
        margin-left: 0;
    }

    > .row > div {
        height: 540px;

        select {
            height: 100%;
        }
    }

    .main-buttons button {
        margin-bottom: 3px;
    }

    .bottom-buttons {
        position: absolute;
        bottom: 0;
        width: 50px;
    }
}

@page-list-panel-height: 470px;

.project-pages-dialog {
    .left-panel {
        height: @page-list-panel-height + 40px;

        select {
            height: @page-list-panel-height;
        }

        button {
            margin-top: 8px;
        }
    }

    .right-panel {
        height: @page-list-panel-height;
    }

    .control-label {
        font-weight: normal;
    }

    .form-group {
        margin-bottom: 7px;
    }

    .bottom-buttons button {
        margin-top: 3px;
    }
}

.discussion-post {
    @left-panel-width: 30px;
    margin-bottom: 10px;
    
    .panel-heading {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .panel-body {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .panel-heading-container {
        padding-left: @left-panel-width;
    }

    .panel-body-container {
        display: table;
        width: 100%;
    }
    
    .panels {
        display: table-row;
    }

    .left-panel {
        width: @left-panel-width;
        display: table-cell;
        vertical-align: middle;
    }

    .middle-panel {
        display: table-cell;
    }

    .right-panel {
        width: 55px;
        display: table-cell;
        vertical-align: middle;

        > * {
            margin: 0 5px 0 5px;
        }
    }
}

.discussion-thread .discussion-thread {
    margin-left: 2%;
}

.project-snapshot-new {
    display: table;
    width: 100%;
    height: 100%;
}

.project-snapshot-resources {
    display: table-cell;
    padding-bottom: 12px;
}

.project-snapshot-visibility {
    display: table-cell;
    width: 230px;
    height: 100%;
    vertical-align: top;

    > div {
        border: @box-border;
        margin: 0 5px 0 20px;
        padding: 5px;
        height: 100%;
    }

    ul {
        margin-top: 5px;
    }
    
    .controls {
        float: right;
    }
}

.project-dropdown-panel {
    margin-bottom: 15px;
}

.project-dropdown-header {
    font-weight: normal;

    a {
        color: white;
    }
}

.project-dropdown-body {
    margin: 0 20px 25px 20px;
}

.project-dropdown-controls {
    float: right;
    
    a {
        margin-left: 20px;
    }
}

table {
    select {
        width: 100%;
    }

    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.editor-item,
.author-item {
    button {
        float: right;
    }

    &::after {
        display: block;
        clear: both;
        content: '';
        margin-bottom: 2px;
    }
}
