@import "../../../css/ITJakub.Colors.less";
@import "@text-editor-variables.less";

@box-border: 1px solid #ddd;

.project-list {
    hr {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

.project-list-new {
    margin-bottom: 6px;
}

.project-list-header {
}

.project-list-subheader {
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: right;
}

.project-item {
    padding-top: 4px;
    padding-bottom: 4px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.project-item-buttons {
    a {
        display: block;
        float: right;
        text-align: center;
        margin: 7px;
        margin-top: 15px;
    }

    .glyphicon {
        font-size: 170%;
    }
}

.project-layout {
    display: table-row;
    height: 640px;

    .left-menu, .vertical-splitter, .vertical-splitter-control, .content {
        display: table-cell;
    }

    .left-menu {
        width: 200px;
        padding-right: 10px;
    }

    .vertical-splitter-control {
        vertical-align: middle;

        button {
            padding: 10px 2px;
            margin-right: 3px;
            transform: scaleY(2);
        }
    }

    .vertical-splitter {
        border: 1px solid #ccc;
    }

    .horizontal-splitter {
        border: 2px solid #ccc;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .content {
        width: 100%;
    }

    .tab-content {
        border: @box-border;
        border-top-width: 0;
        height: 640px;
        padding: 1rem 0.5rem 1rem 0.5rem;
        overflow-y: auto;
    }

    .modal .tab-content {
        height: auto;
        overflow: initial;
        border-width: 0;
        padding: 1rem 0;
    }

    table {
        width: 100%;
    }

    td, th {
        border: @box-border;
        text-align: center;
    }

    th {
        background-color: #eee;
    }
}

.project-title {
    font-weight: bold;
    font-size: 120%;
    width: 200px;
    margin-bottom: 20px;
}

.resource-panel {
    button, select {
        width: 100%;
        margin-bottom: 3px;
    }
}

.project-bottom-buttons {
    margin-top: 1rem;
    text-align: right;
}

.project-form-bottom-buttons {
    margin-right: 1rem;
}

.project-layout-box {
    padding: 0.2rem 1rem 0.5rem 1rem;
    margin-left: 0.5rem;
    float: left;
    width: 500px;

    .control-label {
        text-align: left;
    }
}

.project-layout-box-500 {
    max-width: 500px;
}

.project-layout-box-200 {
    max-width: 200px;
}

.resource-version-button-icon {
    margin-top: -6px;
    margin-bottom: -8px;
}

.resource-version-panel {
    height: 220px;
    padding-top: 7px;
    
    > div {
        border: @box-border;
        padding: 0.5rem;
        height: 100%;
    }
}

.resource-tab-row-fix {
    margin-right: 0;
}

.resource-version-table {
    height: 80%;
    overflow-y: auto;
    padding-right: 2px;
    padding-bottom: 5px;
}

.resource-version-control {
    height: 20%;
    padding-top: 5px;
}

.input-as-text {
    border: none;
    background: transparent !important;
    box-shadow: none;
    cursor: default !important;
}

.project-history-records {
    .panel {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .snapshot-panel {
        background-color: @breadcrumb-background-color;
    }
}

.project-page-list {
    .image-preview {
        text-align: right;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .project-bottom-buttons {
        padding-right: 15px;
    }

    .resource-tab-row-fix {
        margin-left: 0;
    }

    > .row > div {
        height: 540px;

        select {
            height: 100%;
        }
    }

    .main-buttons button {
        margin-bottom: 3px;
    }

    .bottom-buttons {
        position: absolute;
        bottom: 0;
        width: 50px;
    }
}

@page-list-panel-height: 470px;

.project-pages-dialog {

    .page-list-actions-row {
        margin-top: 5px;
    }

    .left-panel {
        height: @page-list-panel-height + 40px;

        select {
            height: @page-list-panel-height;
        }

        button {
            margin-top: 8px;
        }
    }

    .page-list-container {
        overflow-y: auto;
        height: inherit;

        .page-list {
            list-style-type: none;

            .ui-selected {
                background: #F39814;
                color: white;
            }
        }
    }

    .right-panel {
        height: @page-list-panel-height;

        .page-list-editor-controls-label {
            margin-left: 5px;
        }
    }

    .control-label {
        font-weight: normal;
    }

    .form-group {
        margin-bottom: 7px;
    }

    .bottom-buttons button {
        margin-top: 3px;
    }
}

.discussion-post {
    @left-panel-width: 30px;
    margin-bottom: 10px;
    
    .panel-heading {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .panel-body {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .panel-heading-container {
        padding-left: @left-panel-width;
    }

    .panel-body-container {
        display: table;
        width: 100%;
    }
    
    .panels {
        display: table-row;
    }

    .left-panel {
        width: @left-panel-width;
        display: table-cell;
        vertical-align: middle;
    }

    .middle-panel {
        display: table-cell;
    }

    .right-panel {
        width: 55px;
        display: table-cell;
        vertical-align: middle;

        > * {
            margin: 0 5px 0 5px;
        }
    }
}

.discussion-thread .discussion-thread {
    margin-left: 2%;
}

.project-snapshot-new {
    display: table;
    width: 100%;
    height: 100%;
}

.project-snapshot-resources {
    display: table-cell;
    padding-bottom: 12px;
}

.project-snapshot-visibility {
    display: table-cell;
    width: 230px;
    height: 100%;
    vertical-align: top;

    > div {
        border: @box-border;
        margin: 0 5px 0 20px;
        padding: 5px;
        height: 100%;
    }

    ul {
        margin-top: 5px;
    }
    
    .controls {
        float: right;
    }
}

.project-dropdown-panel {
    margin-bottom: 15px;
}

.project-dropdown-header {
    font-weight: normal;

    a {
        color: white;
    }
}

.project-dropdown-body {
    margin: 0 20px 25px 20px;
}

.project-dropdown-controls {
    float: right;
    
    a {
        margin-left: 20px;
    }
}

table {
    select {
        width: 100%;
    }

    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.editor-item,
.author-item {
    button {
        float: right;
    }

    &::after {
        display: block;
        clear: both;
        content: '';
        margin-bottom: 2px;
    }
}

#project-resource-preview { /*parent has overflow y auto, which might create vertical scrollbar, which takes space of usually 15px*/
    padding-right: 15px;

    .toggle-mode-panel {
        .editing-mode-button {
            margin-bottom: 4px;
        }
    }

    .text-editor-page-slider {
        background-color: @text-editor-sliderbar-color;
        border: none !important; /*to override default jquery border styling*/
        height: 4px;
        margin: 10px 35px 40px 35px;

        #page-slider-handle {
            width: 1.5em;
            height: 1.5em;
            top: 50%;
            border: none !important; /*to override default jquery border styling*/
            margin-top: -.8em;
            text-align: center;
            border-radius: 50%;
            background-color: @text-editor-sliderbar-hander-color;
            outline: none;

            & .slider-tooltip {
                position: absolute;
                top: 22px;
                left: 50%;
                transform: translate(-50%, 0);
                display: none;
                background-color: @text-editor-sliderbar-color;
                color: white;
                white-space: nowrap;
                line-height: 2em;
                border-radius: 10%;

                &-text {
                    position: relative;
                    margin: 0 5px;
                }
            }
        }
    }

    .page-menu-row {
        margin: 0 0 5px 0;

        .page-indicator {
            font-size: 1.2em;
            color: @page-indicator-text-color;
            font-weight: bold;
        }

        .go-to-page {
            &-button {
                background-color: #8E5523 !important; /*to override main styles without need to create copy of bootstrap styles*/
                color: white !important;
                border: none !important;
            }

            &-field {
                border: none !important;
                outline: none !important;
            }
        }
    }

    .editor {
        &-areas {
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            padding-top: 15px;

            .pages-start {
                position: relative;
                max-height: 100%;
                overflow: auto;

                .page-row {
                    position: relative;
                    min-height: 150px;

                    .highlighted-element {
                        background: rgba(255,0,0,0.4);
                    }

                    .comment-area {
                        min-height: @comment-area-min-height;
                        position: relative;

                        .respond-to-comment, .edit-comment, .delete-comment {
                            background-color: @comment-action-background-color;
                            color: @comment-action-font-color;
                            border:none;
                            &:hover, &:active {
                                background-color: @comment-action-background-color-hover;
                            }
                        }

                        .comment-placeholder {
                            &-container {
                                text-align: center;
                                margin-top: 15px;
                            }

                            &-text {
                                font-weight: bold;
                                color: @comment-placeholder-text-color;
                                font-size: 1.1em;
                            }
                        }

                        .comment-actions-row {
                            max-height: 22px;
                            font-size: 11px;
                        }

                        .comment-body {
                            font-size: 12px;
                            margin-bottom: 4px;
                            word-break: break-word;
                        }

                        .id-in-comment-area {
                            font-weight: bolder;
                            font-size: 12px;
                            margin-bottom: 3px;
                        }

                        .thread-divider {
                            height: 1px;
                            background-color: @thread-divider-color;
                        }

                        .nested-comment-collapsed {
                            display: none;
                        }

                        .show-nested-comments {
                            cursor: pointer;
                        }

                        .collapse-icon {
                            display: none;
                        }

                        .ellipsis {
                            color: @toggle-comment-section-icon-color;
                            cursor: pointer;

                            &-container {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                            }
                        }

                        .respond-to-comment {
                            max-height: 22px;
                            font-size: 11px;

                            &-textarea {
                                width: 100%;
                            }
                        }

                        .replied-on {
                            font-size: 10px;
                            margin-bottom: 4px;
                        }

                        &-collapsed {
                            min-height: 170px;
                            overflow-y: auto; /* Trigger vertical scroll    */
                            overflow-x: hidden; /* Hide the horizontal scroll */
                            &-even {
                                background-color: @even-comment-area-background-color;
                            }

                            &-odd {
                                background-color: @odd-comment-area-background-color;
                            }
                        }
                    }

                    .composition-area {
                        &-loading {
                            position: absolute;
                            top: 25%;
                            left: 40%;
                        }

                        .editor {
                            width: 100%;

                            & textarea {
                                width: 100%;
                                min-height: 100px;
                            }
                        }

                        .cm-comment {
                            &-start {
                                background: @comment-start-color;
                                cursor: not-allowed;
                            }

                            &-end {
                                background: @comment-end-color;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }

        &-super-container {
            height: 475px;
            position: relative;
        }
    }
}

.preloading-pages-spinner{
    position:absolute;
    top:50%;
    left:50%;
    display:none;
    z-index:9999;
}

.invisible{
    visibility:hidden;
}

#save-confirmation-dialog {
    display: none;
}

#delete-confirmation-dialog {
    display: none;
}

#status-dialog {
    display: none;
}

#comment-input-dialog{
    display:none;
}

.textarea-no-resize {
    resize: none;
}

.jqSimpleConnect {
    opacity: 0.4;
}

.save-confirmation-dialog, .delete-confirmation-dialog, .status-dialog, .comment-input-dialog {
    .ui-dialog-titlebar {
        background-color: @confirmation-dialogue-color;
        color: white;
        font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; //from ITjakubStyle
    }

    .ui-dialog-content {
        margin: 5px;
        font-size: 1.1em;
    }

    &-button {
        margin: 0.5em 0.8em !important; //to override jquery-ui
    }

    &-close-button {
        color: white;
        background-color: @button-color;
        border: none;

        &:hover {
            background-color: @button-color-active;
        }
    }
}