@{
    ViewBag.Title = "Lemmatizace - procházení";
}
@section styles{
    <link href="~/Areas/Lemmatization/css/itjakub.lemmatization.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Lemmatization/js/itjakub.lemmatization.bundle.js"></script>
}

<script type="text/javascript">
    $(document).ready(function() {
        var lemmatization = new LemmatizationList("#mainContainer", "#paginationContainer");
        lemmatization.make();
    });
</script>

<h2>Lemmatizace - procházení</h2>

<div class="content" id="mainContainer">

</div>

<div id="paginationContainer"></div>