<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  <components>

    <component id="ExistManager"
               type="ITJakub.SearchService.Core.Exist.ExistManager, ITJakub.SearchService.Core" />

    <component id="ExistCommunicationManager"
               type="ITJakub.SearchService.Core.Exist.ExistCommunicationManager, ITJakub.SearchService.Core" />

    <component id="ExistConnectionSettingsSkeleton"
               type="ITJakub.SearchService.Core.Exist.ExistConnectionSettingsSkeleton, ITJakub.SearchService.Core">
      <parameters>
        <baseUri>#{baseUri}</baseUri>
        <viewsCollection>#{viewsCollection}</viewsCollection>
        <resourcesCollection>#{resourcesCollection}</resourcesCollection>
        <xQueriesRelativeUri>#{xQueriesRelativeUri}</xQueriesRelativeUri>
        <transformationRelativeUri>#{transformationRelativeUri}</transformationRelativeUri>
        <booksRelativeUri>#{booksRelativeUri}</booksRelativeUri>
        <bibliographyRelativeUri>#{bibliographyRelativeUri}</bibliographyRelativeUri>
        <dbUser>#{dbUser}</dbUser>
        <dbPassword>#{dbPassword}</dbPassword>
        <dbMaxResults>#{dbMaxResults}</dbMaxResults>
      </parameters>
    </component>

    <component id="UriCache"
               type="ITJakub.SearchService.Core.Exist.UriCache, ITJakub.SearchService.Core" />
    
    <component type="ITJakub.SearchService.Core.Exist.ExistClient, ITJakub.SearchService.Core" />

    <component id="ExistResourceManager"
               service="ITJakub.SearchService.Core.Exist.IExistResourceManager, ITJakub.SearchService.Core"
               type="ITJakub.SearchService.Core.Exist.ExistResourceManager, ITJakub.SearchService.Core" />

    <component id="ExistResourceResolver"
               service="ITJakub.SearchService.Core.Exist.AttributeResolver.IExistAttributeResolver, ITJakub.SearchService.Core"
               type="ITJakub.SearchService.Core.Exist.AttributeResolver.ExistResourceResolver, ITJakub.SearchService.Core" />

    <component id="ExistQueryResolver"
               service="ITJakub.SearchService.Core.Exist.AttributeResolver.IExistAttributeResolver, ITJakub.SearchService.Core"
               type="ITJakub.SearchService.Core.Exist.AttributeResolver.ExistQueryResolver, ITJakub.SearchService.Core" />

    <component id="MethodInfoResolver"
               type="ITJakub.SearchService.Core.Exist.MethodInfoResolver, ITJakub.SearchService.Core" />

    <component id="FulltextSearchCriteriaDirector"
               type="ITJakub.SearchService.Core.Search.FulltextSearchCriteriaDirector, ITJakub.SearchService.Core" />
  </components>
</castle>