<?xml version="1.0" encoding="utf-8"?>

<castle>
  <components>
    <component id="ExistDao"
               type="ITJakub.SearchService.Core.Exist.ExistDao, ITJakub.SearchService.Core" />

    <component id="ExistConnectionSettingsSkeleton"
               type="ITJakub.SearchService.Core.Exist.ExistConnectionSettingsSkeleton, ITJakub.SearchService.Core">
      <parameters>
        <baseUri>http://localhost:8080/exist/rest/</baseUri>
        <xQueriesRelativeUri>/db/apps/jacob-test/queries/</xQueriesRelativeUri>
        <transformationRelativeUri>/db/apps/jacob-test/transformations/</transformationRelativeUri>
        <viewsCollection>jacob-test</viewsCollection>
        <resourcesCollection>resources</resourcesCollection>
        <dbUser>admin</dbUser>
        <dbPassword>admin</dbPassword>
      </parameters>
    </component>

    <!--Dao classes-->

    <component id="BookDao" type="ITJakub.SearchService.Core.Exist.DAOs.BookDao,ITJakub.SearchService.Core" />
  </components>
</castle>