@import "../../../css/ITJakub.Colors.less";
@import "../../Admin/css/@editors-common-variables.less";

.search-result-section {
    &.show-notes {
        .note-ref, .note {
            display: inline;
        }

        tr.notes {
            display: table-row;
            height: 25px;
        }

        tr.notes td {
            text-align: right;
        }

        tr.spacer {
            height: 5px;
        }

        tr.notes::after, tr.notes::before {
            display: table-row;
            height: 20px;
        }
    }

    &.show-language .itj-foreign {
        font-style: italic;
    }

    &.show-structure {

        .itj-structure-start, .itj-structure-end, .itj-structure-pb {
            display: inline;
            color: rgb(56, 74, 182);
        }

        .itj-structure-pb:before {
            content: "[";
        }

        .itj-structure-pb:after {
            content: "]";
        }
    }

    &.show-paragraph {

        tr.search-result td, tr.notes td {
            display: inline-block;
        }
    }

    #corpus-search-results-abbrev-table-div, #corpus-search-results-table-div {
        .abbr-result-row {
            height: 4em;

            td {
                .match {
                    background-color: @menu-active-background-color;
                    color: white;
                    margin-left: 1em;
                    margin-right: 1em;
                    text-align: center;
                }
            }
        }

        tr.clicked {
            border-bottom: solid 1px;
            border-top: solid 1px;
            background-color: #eee;
        }
    }

    .corpus-result-and-settings-row {
        height: 32em;

        .corpus-search-results-div {
            height: inherit;

            #corpus-search-results-abbrev-table-div {
                float: left;
                width: 8em;
                height: inherit;
                overflow-x: scroll;
                overflow-y: hidden;
                background-color: white;
                margin-right: 1px;
            }

            #corpus-search-results-table-div {
                background-color: white;
                height: inherit;
                overflow-x: scroll;
                overflow-y: auto;
            }
        }

        .corpus-search-result-controls-container {
            overflow-y: auto;

            .corpus-search-setting-div-context {
                margin-top: 0.5em;
                margin-bottom: 0.5em;

                #contextPositionsSelect {
                    color: initial;
                    width: 6em;
                }
            }

            .number-of-results-per-viewing-page {
                margin-top: 0.5em;
                margin-bottom: 0.5em;

                label {
                    font-weight: normal;
                    display: block;
                }

                #number-of-results-per-viewing-page {
                    color: initial;
                    width: 6em;
                }
            }

            .corpus-search-settings-label {
                color: white;
                font-size: larger;
                text-align: center;
                margin-bottom: 25px;
            }

            .corpus-search-settings-checkboxes {
                margin-bottom: 30px;
            }

            .corpus-search-setting-div-pagination {
                .ui-slider-handle {
                    width: 1.5em;
                    height: 1.5em;
                    top: 50%;
                    border: none !important;
                    margin-top: -.8em;
                    text-align: center;
                    border-radius: 50%;
                    background-color: @editor-sliderbar-hander-color;
                    outline: none;
                }
            }

            background-color: @menu-background-color;
            color: white;
            line-height: 1.1;
            padding: 15px;
            height: inherit;
        }
    }

    .corpus-search-result-detail-row {
        .label {
            font-weight: bolder;
            font-size: 100%;
            color: grey;
            text-align: left;
        }

        .result-info-section {
            margin: 0.8em 0;

            .col-no-padding {
                padding-left: 0;
            }

            .table-row {
                .label {
                    font-weight: bold;
                    font-size: 100%;
                    color: black;
                    padding-left: 0;
                }

                .break-word {
                    word-break: break-word;
                }
            }
        }
    }
}
