@using ITJakub.Web.Hub.Areas.Admin.Models
@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Areas.Admin.Models.ChapterEditorViewModel
@inject ILocalizationService Localizer

<div class="table-responsive">
    <div class="table table-hover selectable">
        <div class="sub-chapters">
            @if(Model.Chapters.Count != 0) {
                foreach (var chapter in Model.Chapters)
                {
                    @await Html.PartialAsync("Work/SubView/_ChapterRow", new ChapterEditorRowViewModel{
                        Chapter = chapter,
                        Pages = Model.Pages,
                        LevelOfHierarchy = 0
                    }, ViewData)
                }
            }
            else
            {
                <div class="alert alert-info">@Localizer.Translate("NoChapters", "Admin")</div>
            }
        </div>
    </div>
</div>