<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#project-resource-discussion" aria-controls="project-resource-publications" role="tab">Diskuze</a></li>
        <li role="presentation"><a href="#project-resource-preview" aria-controls="project-resource-preview" role="tab">Náhled</a></li>
        <li role="presentation"><a href="#project-resource-metadata" aria-controls="project-resource-metadata" role="tab">Metadata</a></li>
    </ul>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="project-resource-discussion">Disk</div>
        <div role="tabpanel" class="tab-pane" id="project-resource-preview">Náhl</div>
        <div role="tabpanel" class="tab-pane" id="project-resource-metadata">Meta</div>
    </div>
</div>