@{
    ViewBag.Title = "Projekt - " + ViewBag.Id;
}

<style>
    .resource-panel button,
    .resource-panel textarea {
        width: 100%;
    }
</style>

<div class="content-container">
    <div class="row">
        <div style="width: 200px; float: left;">
            <strong>Název díla</strong>
            <ul class="list-group">
                <li class="list-group-item">Dílo
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Obrazové skeny</a>
                        <a href="#" class="list-group-item">Texty</a>
                        <a href="#" class="list-group-item">Audio</a>
                        <a href="#" class="list-group-item">Video</a>
                    </div>
                </li>
            </ul>
            
            <hr/>
            
            <div class="resource-panel">
                <textarea>
                    TODO seznam souborů
                </textarea>

                <div>
                    <button type="button">Přidat zdroj</button>
                    <button type="button">Smazat zdroj</button>
                    <button type="button">Přejmenovat zdroj</button>
                    <button type="button">Duplikovat zdroj</button>
                    <button type="button">Vytvořit novou verzi</button>
                </div>
            </div>
        </div>
        <div style="float: left;">
            <button>&lt;</button>
        </div>
        <div style="float: left; width: calc(100% - 260px);">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Diskuze</a></li>
                <li role="presentation"><a href="#">Náhled</a></li>
                <li role="presentation"><a href="#">Metadata</a></li>
            </ul>

        </div>
    </div>
</div>