@model ITJakub.Web.Hub.Areas.Admin.Models.UserListViewModel
@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util

@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("UserPermissionManagementTitle", "Permission", LocTranslationSource.File);
}
@section styles{
    <link href="~/css/ITJakub.Permission.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/Permission/itjakub.permission.user.js"></script>
    <script src="~/Areas/Admin/js/ridics.user.list.js"></script>
    <script src="~/Areas/Admin/js/ridics.project.manager.js"></script>
}

<h2>@Localizer.Translate("UserPermissionManagementHeadline", "Permission", LocTranslationSource.File)</h2>

<div id="list-container">
    @await Html.PartialAsync("_UserList", Model)
</div>
    
<div id="pagination" class="text-center"></div>