<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  <components>

    <component id="FileSystemManager"
               type="ITJakub.FileStorage.FileSystemManager, ITJakub.FileStorage">
      <parameters>
        <rootFolder>#{fileStorageRootFolder}</rootFolder>
      </parameters>
    </component>

    <component id="MetaDataPathResolver"
               service="ITJakub.FileStorage.PathResolvers.IResourceTypePathResolver, ITJakub.FileStorage"
               type="ITJakub.FileStorage.PathResolvers.MetaDataPathResolver, ITJakub.FileStorage">
    </component>

    <component id="BookPathResolver"
               service="ITJakub.FileStorage.PathResolvers.IResourceTypePathResolver, ITJakub.FileStorage"
               type="ITJakub.FileStorage.PathResolvers.BookPathResolver, ITJakub.FileStorage">
    </component>

    <component id="PagePathResolver"
               service="ITJakub.FileStorage.PathResolvers.IResourceTypePathResolver, ITJakub.FileStorage"
               type="ITJakub.FileStorage.PathResolvers.PagePathResolver, ITJakub.FileStorage">
    </component>

    <component id="SourceDocumentPathResolver"
               service="ITJakub.FileStorage.PathResolvers.IResourceTypePathResolver, ITJakub.FileStorage"
               type="ITJakub.FileStorage.PathResolvers.SourceDocumentPathResolver, ITJakub.FileStorage">
    </component>

    <component id="TransformationPathResolver"
               service="ITJakub.FileStorage.PathResolvers.IResourceTypePathResolver, ITJakub.FileStorage"
               type="ITJakub.FileStorage.PathResolvers.TransformationPathResolver, ITJakub.FileStorage">
    </component>
    
    <component id="ImagePathResolver"
               service="ITJakub.FileStorage.PathResolvers.IResourceTypePathResolver, ITJakub.FileStorage"
               type="ITJakub.FileStorage.PathResolvers.ImagePathResolver, ITJakub.FileStorage">
    </component>


  </components>
</castle>