<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  <components>

    <component id="FilesystemManager"
               type="ITJakub.FileStorage.FileSystemManager, ITJakub.FileStorage">
      <parameters>
        <Path>#{FileSystemPath}</Path>
      </parameters>
    </component>
  </components>
</castle>