<?xml version="1.0" encoding="utf-8"?>
<castle>
  
  <components>

    <component id="SearchServiceClient"
               type="ITJakub.ITJakubService.Core.SearchService.SearchServiceClient, ITJakub.ITJakubService.Core"/>
    
    <component id="UserManager"
               type="ITJakub.ITJakubService.Core.UserManager, ITJakub.ITJakubService.Core"/>

    <component id="BookManager"
              type="ITJakub.ITJakubService.Core.BookManager, ITJakub.ITJakubService.Core"/>

    <component id="AuthorManager"
              type="ITJakub.ITJakubService.Core.AuthorManager, ITJakub.ITJakubService.Core"/>

    <component id="UploadManager"
               type="ITJakub.ITJakubService.Core.UploadManager, ITJakub.ITJakubService.Core"/>

    <!-- Profiles for AutoMapper -->

    <component id="AuthorProfile"
               service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.AuthorProfile, ITJakub.ITJakubService.Core" />

  </components>
</castle>