<?xml version="1.0" encoding="utf-8"?>
<castle xmlns="urn:windsor-castle-config-3.3">

  <components>

    <component id="UserManager"
               type="ITJakub.ITJakubService.Core.UserManager, ITJakub.ITJakubService.Core"/>
 
    <component id="FavoriteManager"
               type="ITJakub.ITJakubService.Core.FavoriteManager, ITJakub.ITJakubService.Core"/>
 
    <component type="ITJakub.ITJakubService.Core.FeedbackManager, ITJakub.ITJakubService.Core"/>

    <component id="BookManager"
              type="ITJakub.ITJakubService.Core.BookManager, ITJakub.ITJakubService.Core"/>

    <component id="SearchManager"
              type="ITJakub.ITJakubService.Core.SearchManager, ITJakub.ITJakubService.Core"/>
    
    <component id="CardFileManager"
              type="ITJakub.ITJakubService.Core.CardFileManager, ITJakub.ITJakubService.Core"/>

    <component id="AuthorManager"
              type="ITJakub.ITJakubService.Core.AuthorManager, ITJakub.ITJakubService.Core"/>

    <component id="FeedbackManager"
               type="ITJakub.ITJakubService.Core.FeedbackManager, ITJakub.ITJakubService.Core"/>

    <component id="ResourceManager"
               type="ITJakub.ITJakubService.Core.Resources.ResourceManager, ITJakub.ITJakubService.Core"/>

    <component id="FileProcessingServiceClient"
               type="ITJakub.ITJakubService.Core.Resources.FileProcessingServiceClient, ITJakub.ITJakubService.Core"/>
    
    <component type="ITJakub.ITJakubService.Core.Search.MetadataSearchCriteriaDirector, ITJakub.ITJakubService.Core" />
    
    <component service="ITJakub.ITJakubService.Core.Search.ICriteriaImplementationBase, ITJakub.ITJakubService.Core"
               type="ITJakub.ITJakubService.Core.Search.AuthorCriteriaImplementation, ITJakub.ITJakubService.Core" />

    <component service="ITJakub.ITJakubService.Core.Search.ICriteriaImplementationBase, ITJakub.ITJakubService.Core"
               type="ITJakub.ITJakubService.Core.Search.TitleCriteriaImplementation, ITJakub.ITJakubService.Core" />
    
    <component service="ITJakub.ITJakubService.Core.Search.ICriteriaImplementationBase, ITJakub.ITJakubService.Core"
               type="ITJakub.ITJakubService.Core.Search.EditorCriteriaImplementation, ITJakub.ITJakubService.Core" />

    <component service="ITJakub.ITJakubService.Core.Search.ICriteriaImplementationBase, ITJakub.ITJakubService.Core"
               type="ITJakub.ITJakubService.Core.Search.DatingCriteriaImplementation, ITJakub.ITJakubService.Core" />
    
    <component service="ITJakub.ITJakubService.Core.Search.ICriteriaImplementationBase, ITJakub.ITJakubService.Core"
               type="ITJakub.ITJakubService.Core.Search.CategoryCriteriaImplementation, ITJakub.ITJakubService.Core" />
    
    <component service="ITJakub.ITJakubService.Core.Search.ICriteriaImplementationBase, ITJakub.ITJakubService.Core"
               type="ITJakub.ITJakubService.Core.Search.HeadwordCriteriaImplementation, ITJakub.ITJakubService.Core" />
    
    <!-- Profiles for AutoMapper -->

    <component id="AuthorProfile"
               service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.AuthorProfile, ITJakub.ITJakubService.Core" />

    <component id="EditorProfile"
              service="AutoMapper.Profile, AutoMapper"
              type="ITJakub.ITJakubService.Core.AutoMapperProfiles.EditorProfile, ITJakub.ITJakubService.Core" />

    <component id="ManuscriptProfile"
              service="AutoMapper.Profile, AutoMapper"
              type="ITJakub.ITJakubService.Core.AutoMapperProfiles.ManuscriptProfile, ITJakub.ITJakubService.Core" />

    <component id="SearchResultContractProfile"
              service="AutoMapper.Profile, AutoMapper"
              type="ITJakub.ITJakubService.Core.AutoMapperProfiles.SearchResultContractProfile, ITJakub.ITJakubService.Core" />
    
    <component id="CorpusSearchResultContractProfile"
              service="AutoMapper.Profile, AutoMapper"
              type="ITJakub.ITJakubService.Core.AutoMapperProfiles.CorpusSearchResultContractProfile, ITJakub.ITJakubService.Core" />

    <component id="PublisherProfile"
           service="AutoMapper.Profile, AutoMapper"
           type="ITJakub.ITJakubService.Core.AutoMapperProfiles.PublisherProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.BookPageProfile, ITJakub.ITJakubService.Core" />
    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.BookContentItemProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.BookInfoProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.BookProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.CategoryProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.BookTypeEnumProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.UserProfile, ITJakub.ITJakubService.Core" />
    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.CardFileContractProfile, ITJakub.ITJakubService.Core" />
    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.BucketContractProfile, ITJakub.ITJakubService.Core" />
    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.BucketShortContractProfile, ITJakub.ITJakubService.Core" />
    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.CardContractProfile, ITJakub.ITJakubService.Core" />   
    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.CardShortContractProfile, ITJakub.ITJakubService.Core" />
    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.ImageContractProfile, ITJakub.ITJakubService.Core" />

    
    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.PageBookmarkProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.HeadwordBookmarkProfile, ITJakub.ITJakubService.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.ITJakubService.Core.AutoMapperProfiles.DictionaryContractProfile, ITJakub.ITJakubService.Core" />
  
  </components>
</castle>