<div class="row">
    <div class="col-md-1 col-xs-2">
        <div style="width: 24px; height: 24px; background-color: black; margin-left: auto; margin-right: auto"></div>
    </div>
    <div class="col-md-10 col-xs-8">
        <a href="#">
            <div>Název položky 1</div>
        </a>
    </div>
    <div class="col-md-1 col-xs-2">
        <a href="#">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</div>
<hr />
