@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.Core.Util
@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("FavoriteItemRedirectError", "Favorite", LocTranslationSource.File);
}

<div class="alert alert-danger">
    Localizer.Translate("FavoriteItemRedirectText", "Favorite", LocTranslationSource.File);
</div>

