@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("FavoriteItemRedirectError", "Favorite", LocTranslationSource.File);
}

<div class="alert alert-danger">
    Localizer.Translate("FavoriteItemRedirectText", "Favorite", LocTranslationSource.File);
</div>

