@import "../../../css/ITJakub.Colors.less";
@import "../../../css/ridics.checkbox.less";

@box-border: 1px solid #ddd;
@even-table-row-colour: #eee;
@odd-table-row-colour: #white;
@border-color: #E5E5E5;
@cancel-import-color: #d9534f;
@success-import-color: #5cb85c;

.row.display-flex {
    display: flex;
    flex-wrap: wrap;

    & > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}

.content-button[aria-expanded=true] .glyphicon-chevron-down {
    display: none;
}

.content-button[aria-expanded=false] .glyphicon-chevron-up {
    display: none;
}

ul.bib-listing li.list-item {
    margin-right: 15px;

    .visible-content {
        border-top: 1px solid @border-color;
    }

    .hidden-content {
        border: none;
        border-bottom: 1px solid @border-color;
        border-right: 1px solid @border-color;
        display: inherit;
        overflow-y: hidden;
    }

    .collapse .bottom-panel {
        .body {
            padding: 0;
        }
    }

    .collapse.in .bottom-panel .body {
        padding: 1rem;
    }

    .body {
        .body-title {
            font-weight: bold;

            @media(min-width: 400px) {
                display: inline-block;
            }
        }
    }
}

.import-alert {
    word-break: break-all;
}

.project-import-layout {
    display: flex;
    flex-wrap: wrap;

    .left-menu {
        flex: 1 0 15em;
        margin: 1em;

        .list-group-item {
            display: block;
        }
    }

    .vertical-splitter-control {
        vertical-align: middle;

        button {
            padding: 10px 2px;
            margin-right: 3px;
            transform: scaleY(2);
        }
    }

    .vertical-splitter {
        border: 1px solid #ccc;
        display: table-cell;
    }

    .content {
        min-width: 60%;
        flex-grow: 10;
        margin: 1em 1em 1em 0em;
        padding-left: 1em;
        border-left: 2px solid #ccc;

        .repository-content {
            max-width: 75em;
            margin: auto;
        }

        &.content-list {
            padding-left: 0;
        }
    }

    .form-group {
        .right-align {
            text-align: right;
        }

        .form-text {
            padding-top: 7px;
        }

        .input-help {
            position: relative;

            input {
                padding-right: 2em
            }

            .help {
                font-size: 1.2em;
                position: absolute;
                right: 1.5em;
                top: 50%;
                transform: translatey(-50%);
            }
        }
    }

    .right-align-btn {
        text-align: right;
        float: right;
        padding-bottom: 10px;
    }

    .tab-content {
        border: @box-border;
        border-top-width: 0;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    .modal .tab-content {
        height: auto;
        overflow: initial;
        border-width: 0;
        padding: 1rem 0;
    }

    table {
        width: 100%;
    }

    td, th {
        border: @box-border;
        text-align: center;
    }

    th {
        background-color: #eee;
    }
}

.project-import-title {
    font-weight: bold;
    font-size: 120%;
    width: 200px;
    margin-bottom: 20px;
}

.float-none {
    float: none;
}

.cancel_import {
    border-color: @cancel-import-color;

    div:nth-child(1) {
        background-color: @cancel-import-color;
    }

    div:nth-child(2) {
        color: @cancel-import-color;
    }

    &[data-label]:after {
        color: @cancel-import-color;
    }
}

.success_import {
    border-color: @success-import-color;

    div:nth-child(1) {
        background-color: @success-import-color;
    }

    div:nth-child(2) {
        color: @success-import-color;
    }

    &[data-label]:after {
        color: @success-import-color;
    }
}