@using ITJakub.Web.Hub.Constants
@using ITJakub.Web.Hub.Helpers
@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

<div class="section hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="panel-title col col-xs-12 col-sm-2">
                    @Localizer.Translate("Permissions", "Permission")
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="alert-holder"></div>
            @if (ViewData.TryGetBooleanValue(PermissionViewConstants.ShowLinkToGroupManagement))
            {
                <a asp-controller="Permission" asp-action="RolePermission" class="btn-link btn btn-default">@Localizer.Translate("GroupPermissionManagementHeadline", "Permission")</a>
            }

            <div class="sub-content"></div>
            <button id="saveProjectPermissions" type="button" class="btn btn-default">@Localizer.Translate("Save", "Permission")</button>
        </div>
    </div>
</div>
