<?xml version="1.0" encoding="utf-8"?>
<castle xmlns="urn:windsor-castle-config-3.3">


  <include uri="assembly://ITJakub.SearchService.Core/ITJakub.SearchService.Core.Container.Config" />


  <components>

    <component id="SearchServiceManager"
               type="ITJakub.SearchService.SearchServiceManager, ITJakub.SearchService"/>

  </components>
</castle>