<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <properties>
    <baseUri>http://localhost:8080/exist/rest/</baseUri>
    <viewsCollection>jacob</viewsCollection>
    <resourcesCollection>resources</resourcesCollection>
    <xQueriesRelativeUri>db/apps/jacob/queries/</xQueriesRelativeUri>
    <transformationRelativeUri>db/apps/jacob/transformations/</transformationRelativeUri>
    <resourceRelativeUri>db/apps/jacob/data/</resourceRelativeUri>
    <dbUser>admin</dbUser>
    <dbPassword>admin</dbPassword>
    <dbMaxResults>99999</dbMaxResults>
  </properties>
  
  <include uri="assembly://ITJakub.SearchService.Core/ITJakub.SearchService.Core.Container.Config" />


  <components>

    <component id="SearchServiceManager"
               type="ITJakub.SearchService.SearchServiceManager, ITJakub.SearchService" />

  </components>
</castle>