<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\ITJSearchService.log" /> <!--log File Name Here-->
    <appendToFile value="false" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="false" />
    <countDirection value="-1" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  
  <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <!-- console appender is off by default and is activated only when service is started in "console" mode -->
    <threshold value="ALL"/>
    <mapping>
      <level value="FATAL" />
      <foreColor value="White, HighIntensity" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{IMEI} %property{TIME}]- %message%newline%exception" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>

</log4net>
