<div class="table-of-keys-content">
<div class="row table-of-keys">
    <div class="col-xs-9">Category list goes here</div>
    <div class="col-xs-3">BUTTONS GO HERE</div>
</div>
<div class="row pagination-row-elements">
    <div class="col-xs-12 text-center key-table-pagination"></div>
</div></div>