<div class="table-of-keys-content">
    <div class="row table-of-keys">
        <div class="col-xs-9 selectable-list-div"></div>
        <div class="col-xs-3 crud-buttons-div"><button type="button" class="btn btn-default create-new-genre">Create new genre</button></div>
    </div>
    <div class="row pagination-row-elements">
        <div class="col-xs-12 text-center key-table-pagination"></div>
    </div></div>