<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  <components>

    <component id="AzureConnectionStringProvider"
               service="ITJakub.MobileApps.Configuration.IConnectionStringProvider, ITJakub.MobileApps.Configuration"
               type="ITJakub.MobileApps.Configuration.AzureConnectionStringProvider, ITJakub.MobileApps.Configuration">
      <parameters>
        <azureConnectionStringName>#{azureConnectionStringName}</azureConnectionStringName>
      </parameters>
    </component>

    <component id="CastleConnectionStringProvider"
             service="ITJakub.MobileApps.Configuration.IConnectionStringProvider, ITJakub.MobileApps.Configuration"
             type="ITJakub.MobileApps.Configuration.CastleConnectionStringProvider, ITJakub.MobileApps.Configuration">
      <parameters>
        <azureTableConnectionString>#{azureTableConnectionString}</azureTableConnectionString>
      </parameters>
    </component>

    <component id="DebugConnectionStringProvider"
               service="ITJakub.MobileApps.Configuration.IConnectionStringProvider, ITJakub.MobileApps.Configuration"
               type="ITJakub.MobileApps.Configuration.DebugConnectionStringProvider, ITJakub.MobileApps.Configuration">
    </component>

  </components>
</castle>