@model ITJakub.Web.Hub.Models.StaticTextViewModel

@section styles{
    <link href="~/Areas/Bibliographies/css/itjakub.bibliographies.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Bibliografie - Informace";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
    
</div>