@section styles{
    <link href="~/Areas/Dictionaries/css/itjakub.dictionaries.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Dictionaries/js/itjakub.dictionaries.list.js"></script>
}

@{
    ViewBag.Title = "Slovníky - Seznam";
}

<script type="text/javascript">
    $(document).ready(function() {
        initDictionaryList("@Context.Request.Query["bookId"]");
    });
</script>

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div id="listHeader">
            <div id="listSearchDiv" style="float: left; width: 70%"></div>
            <div style="float: left; margin-left: 50px;">
                Řadit podle
                <div id="listResultsHeader" style="display: inline-block"></div>
            </div>
        </div>
    </div>

    <div class="dictionary-selects transparent-content-container">
        <div id="dropdownSelectDiv"></div>
    </div>

    <div class="dictionary-result-area transparent-content-container">
        <div id="listResults" class="loader"></div>
    </div>
</div>