<?xml version="1.0" encoding="utf-8"?>
<castle xmlns="urn:windsor-castle-config-3.3">
  <components>
    <component type="ITJakub.Lemmatization.Core.LemmatizationManager, ITJakub.Lemmatization.Core" />

    <component service="AutoMapper.Profile, AutoMapper"
               type="ITJakub.Lemmatization.Core.AutoMapperProfiles.TokenProfile, ITJakub.Lemmatization.Core" />
  </components>
</castle>