@import "../ITJakub.DefaultTheme.less";

.lemmatization-button {
    border-radius: 0;
    background-color: @item-background-color;
    color: white;
}

.lemmatization-search-input {
    border-radius: 0;
    margin: 0;
}

.lemmatization-main-buttons {
    float: right;
}

.lemmatization-search {
    width: 60%;
}

.form-characteristic .form-group {
    margin-bottom: 5px;
}

.form-characteristic .control-label {
    padding-top: 4px;
}

.form-characteristic .form-control {
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
}

.lemmatization-result-tag {
    font-size: 110%;
}

td {
    border: 1px solid black;
}

.canonical-form-row td {
    border-bottom-color: lightgray;
}