<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="DB_USER" value="admin"/>
    <add key="DB_PASSWORD" value="admin"/>
    <add key="DB_REST_URI" value="http://localhost:8080/exist/rest/"/>
    <add key="DB_VIEWS_COLLECTION" value="jacob-test"/>
    <add key="DB_RESOURCES_COLLECTION" value="resources"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DataLayer.XMLDAOBehavior" name="DataLayer.BaseXDao">
        <endpoint address="" binding="wsHttpBinding" contract="DataLayer.XmlDbDao">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/DataLayer/XMLDAO/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DataLayer.BinDataDAOBehavior" name="DataLayer.BinDataDAO">
        <endpoint address="" binding="wsHttpBinding" contract="DataLayer.IBinDataDAO">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/DataLayer/BinDataDAO/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataLayer.XMLDAOBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="DataLayer.BinDataDAOBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
