<?xml version="1.0" encoding="utf-8"?>
<castle>
  <components>
 
    <component id="BookRepository"
               type="ITJakub.DataEntities.Database.Repositories.BookRepository, ITJakub.DataEntities"/>

    <component id="AuthorRepository"
             type="ITJakub.DataEntities.Database.Repositories.AuthorRepository, ITJakub.DataEntities"/>
  
  </components>
</castle>