<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <components>
    <component type="ITJakub.DataEntities.Database.Repositories.BookVersionRepository, ITJakub.DataEntities" />

    <component type="ITJakub.DataEntities.Database.Repositories.BookRepository, ITJakub.DataEntities" />

    <component type="ITJakub.DataEntities.Database.Repositories.AuthorRepository, ITJakub.DataEntities" />

    <component type="ITJakub.DataEntities.Database.Repositories.UserRepository, ITJakub.DataEntities" />

    <component type="ITJakub.DataEntities.Database.Repositories.CategoryRepository, ITJakub.DataEntities" />

    <component type="ITJakub.DataEntities.Database.Repositories.FavoritesRepository, ITJakub.DataEntities" />   
    
    <component type="ITJakub.DataEntities.Database.Repositories.FeedbackRepository, ITJakub.DataEntities" />

  </components>

</castle>