<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  
  <components>
    <component id="BookVersionRepository"
               type="ITJakub.DataEntities.Database.Repositories.BookVersionRepository, ITJakub.DataEntities" />

    <component id="BookRepository"
               type="ITJakub.DataEntities.Database.Repositories.BookRepository, ITJakub.DataEntities" />

    <component id="AuthorRepository"
               type="ITJakub.DataEntities.Database.Repositories.AuthorRepository, ITJakub.DataEntities" />
    
    <component id="CategoryRepository"
           type="ITJakub.DataEntities.Database.Repositories.CategoryRepository, ITJakub.DataEntities" />

  </components>
  
</castle>