<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  <components>

    <component id="SearchServiceClient"
           type="ITJakub.Core.SearchService.SearchServiceClient, ITJakub.Core"/>

    <component id="FileSystemManager"
               type="ITJakub.Core.FileSystemManager, ITJakub.Core">
      <parameters>
        <rootFolder>#{fileStorageRootFolder}</rootFolder>
      </parameters>
    </component>

    <component id="MetaDataPathResolver"
               service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.MetaDataPathResolver, ITJakub.Core">
    </component>

    <component id="BookPathResolver"
               service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.BookPathResolver, ITJakub.Core">
    </component>

    <component id="PagePathResolver"
               service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.PagePathResolver, ITJakub.Core">
    </component>

    <component id="SourceDocumentPathResolver"
               service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.SourceDocumentPathResolver, ITJakub.Core">
    </component>

    <component id="TransformationPathResolver"
               service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.TransformationPathResolver, ITJakub.Core">
    </component>
    
    <component id="ImagePathResolver"
               service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.ImagePathResolver, ITJakub.Core">
    </component>


  </components>
</castle>