<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  <components>

    <component id="SearchServiceClient"
           type="ITJakub.Core.SearchService.SearchServiceClient, ITJakub.Core"/>

    <component id="FileSystemManager"
               type="ITJakub.Core.FileSystemManager, ITJakub.Core">
      <parameters>
        <rootFolder>#{fileStorageRootFolder}</rootFolder>
      </parameters>
    </component>

    <component service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.ConvertedMetadataPathResolver, ITJakub.Core"/>

    <component service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.UploadedMetaDataPathResolver, ITJakub.Core"/>

    <component service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.BookPathResolver, ITJakub.Core"/>

    <component service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.PagePathResolver, ITJakub.Core"/>

    <component service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.SourceDocumentPathResolver, ITJakub.Core"/>

    <component service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.TransformationPathResolver, ITJakub.Core"/>
    
    <component service="ITJakub.Core.PathResolvers.IResourceTypePathResolver, ITJakub.Core"
               type="ITJakub.Core.PathResolvers.ImagePathResolver, ITJakub.Core"/>


  </components>
</castle>