<?xml version="1.0" encoding="utf-8"?>
<castle>
  <components>
    
    <component id="CriteriumCompilerDirector"
               type=" ITJakub.Core.Searching.CriteriumCompilers.CriteriumCompilerDirector, ITJakub.Core">
      <parameters>
        <assemblies>
          <array type="System.String, System">
            <item>ITJakub.Core</item>
          </array>
        </assemblies>
      </parameters>
    </component>

    <component id="SearchServiceClient"
               type="ITJakub.Core.SearchServiceClient, ITJakub.Core"/>  
    
    <component id="ItJakubServiceClient"
               type="ITJakub.Core.ItJakubServiceClient, ITJakub.Core"/> 
    
    <component id="ItJakubServiceManager"
               type="ITJakub.Core.ItJakubServiceManager, ITJakub.Core"/>
    
     <component id="ExistDao"
               type="ITJakub.Core.Database.Exist.ExistDao, ITJakub.Core"/>
    
    <component id="DefaultFilenamesResolver"
               type="ITJakub.Core.Database.Exist.DefaultFilenamesResolver, ITJakub.Core"
               service="ITJakub.Core.Database.Exist.IFilenamesResolver, ITJakub.Core"/>
    
    
    <component id="TeiP5Descriptor"
               type="ITJakub.Core.Database.Exist.TeiP5Descriptor, ITJakub.Core"/>
    
    <component id="XmlTool"
               type="ITJakub.Core.Database.Exist.XmlTool, ITJakub.Core"/>
    
    <component id="ExistConnectionSettingsSkeleton" type="ITJakub.Core.Database.Exist.ExistConnectionSettingsSkeleton, ITJakub.Core">
      <parameters>
        <baseUri>http://localhost:8080/exist/rest/</baseUri>
        <viewsCollection>jacob-test</viewsCollection>
        <resourcesCollection>resources</resourcesCollection>
        <dbUser>admin</dbUser>
        <dbPassword>admin</dbPassword>
      </parameters>  
    </component>
    
    <!--Dao classes-->
    
    <component id="KeyWordsDao" type="ITJakub.Core.Database.Exist.DAOs.KeyWordsDao,ITJakub.Core"/>
    
    
  </components>
</castle>