<div class="text-area-info" style="float: right; margin-right: 140px;">
    Max. <span class="text-area-max-chars"></span> znaků <br />
    Zbývá: <span class="text-area-remaining-chars" style="color: lightseagreen"></span> znaků <br />
    Můžete používat diakritiku
</div>

<script>
    $(document).ready(function () {
        var maxChars = $(".feedback-text-area").attr("data-val-maxlength-max");
        $(".text-area-max-chars").html(maxChars);
        $(".text-area-remaining-chars").html(maxChars);

        $(".feedback-text-area").keyup(function () {
            var text = $(this).val() as string;
            var actualCharsRemaining = maxChars - text.length;
            if (actualCharsRemaining < 0) {
                actualCharsRemaining = 0;
                $(this).val(text.substring(0,maxChars));
            }
            $(".text-area-remaining-chars").html(actualCharsRemaining);
        });

    });
</script>