@{
    ViewBag.Title = "Derivace hláskových podob";
}
@section styles{
    @Styles.Render("~/itjakub/lemmatization/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/lemmatization/javascript")
}

<script type="text/javascript">
    $(document).ready(function() {
        var derivation = new Derivation("#mainContainer");
        derivation.make();
    });
</script>

<h2>Derivace hláskových podob</h2>

<div>
    <select id="type-select" class="form-control derivation-select"></select>
</div>
<div class="derivation-search-bar">
    <div class="lemmatization-main-buttons">
        <button id="loadButton" class="btn btn-default lemmatization-button hidden">Načíst</button>
    </div>
    <div class="lemmatization-search">
        <input type="text" class="form-control lemmatization-search-input" id="mainSearchInput"/>
    </div>
</div>

<div class="content">
    <div>
        <span class="lemmatization-label lemmatization-label-description">Popis: </span>
        <span class="lemmatization-description" id="descriptionContainer"></span>
    </div>

    <div id="mainContainer"></div>
</div>

