@{
    ViewBag.Title = "Lemmatizace - procházení";
}
@section styles{
    @Styles.Render("~/itjakub/lemmatization/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/lemmatization/javascript")
}

<h2>Lemmatizace - procházení</h2>

<div class="content" id="mainContainer">
    
</div>