<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">
  
  <include uri="assembly://ITJakub.Lemmatization.Core/ITJakub.Lemmatization.Core.Container.Config" />
  <include uri="assembly://ITJakub.Lemmatization.DataEntities/ITJakub.Lemmatization.DataEntities.Container.Config" />
  
  
  <components>
 

  </components>
</castle>