@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
}

@{
    ViewBag.Title = "Edice - Připomínky";
}

<div class="content-container">
    <h1>Připomínky</h1>
</div>