@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.FeedbackViewModel
@inject ILocalizationService Localizer

@section styles{
    <link href="~/Areas/Editions/css/itjakub.editions.css" rel="stylesheet" />
}

@{
    ViewBag.Title = Localizer.Translate("EditionsFeedback", "Editions");
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model.PageStaticText)

    @await Html.PartialAsync("Feedback/_FeedbackForm", Model)
</div>
