@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.StaticTextViewModel
@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("EditionsHelp", "Editions");
}

@section styles{
    <link href="~/Areas/Editions/css/itjakub.editions.css" rel="stylesheet" />
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model)
</div>