@model ITJakub.Web.Hub.Models.StaticTextViewModel
@{
    ViewBag.Title = "Edice - Nápověda";
}

@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
</div>