@{
    ViewBag.Title = "Edice - Informace";
}

@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
}

<div class="content-container">
    <h1>Informace</h1>

<p>V tomto oddílu představujeme zájemcům elektronické edice česky psaných textů z období 13.–18. století, s přesahem do začátku 19. století v případech, kdy se jedná o opis staršího textu. Výchozím textem (pramenem) pro elektronickou edici je rukopis, prvotisk či starý tisk. Jen výjimečně používáme jako pramen novodobou edici, a to tehdy, je-li originální pramen nedostupný či obtížně dostupný nebo je-li novodobá edice jen těžko překonatelná (mj. vzhledem k jejímu rozsahu, jako je tomu např. u edice V. Kyase a kol., <i>Staročeská Bible drážďanská a olomoucká</i>).</p>
<p>Elektronické edice jsou jedním z výsledků vědecké práce oddělení vývoje jazyka a slouží především jako materiálová báze pro následný jazykový výzkum, proto je jazykový přístup k textu upřednostněn ku příkladu před literárními či historickými aspekty. Edice jsou dále začleňovány do textové báze budovaného <i>staročeského a středněčeského korpusu</i>. Spolu s digitálními kopiemi rovněž spoluvytvářejí virtuální badatelské prostředí <i>Manuscriptorium</i>.</p>
<p>Při editaci literárních památek jsou dodržovány zásady vědeckého zpřístupňování historických textů, a dále nezbytné formální aspekty, které umožňují prezentovat texty prostřednictvím internetu při zachování nezbytných náležitostí kritické edice. Ačkoliv jsou editoři oddělení vývoje jazyka vedeni snahou aplikovat vědecké i formální přístupy maximálně jednotně a uplatňují obecné ediční zásady, nelze tento jednotný přístup nadřadit obsahově-formálním specifikům jednotlivých pramenů. Každý z nich je originální a svébytné dílo, jehož zvláštnosti musí editor ve své práci plně respektovat.</p>
<p>Elektronické edice vznikají již po několik let a způsob značení textověkritického aparátu se postupně rozvíjí a upřesňuje. Při srovnání některých edic lze tedy dojít ke zjištění, že stejný jev je v jedné edici značen jinak než v jiné (např. ve starších edicích je formát poznámky užíván i pro zachycení marginálních přípisků, živého záhlaví atp.; v novějších edicích jsou tyto části signalizovány jiným způsobem, přímo v textu).</p>
<p>Pro připomínky k elektronickým edicím lze užít nabídku <a href='@Url.Action("Feedback", "Editions", new {area = "Editions"})'>Připomínky</a>.</p>
<p>Edice jsou vystaveny pouze pro studijní a badatelské účely a nelze rozšiřovat jakoukoliv jejich část, ať již samostatně, či v rámci jiného projektu. V případě zájmu nás kontaktujte elektronicky na adrese <a href="mailto:vokabular@ujc.cas.cz?subject=zajem">vokabular@ujc.cas.cz</a> nebo písemně: oddělení vývoje jazyka, Ústav pro jazyk český AV ČR, v. v. i., Valentinská 1, 116 46, Praha 1. Veškeré přejímané informace podléhají citačnímu úzu vědecké literatury.</p>

</div>