@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer
@inject IFileVersionProvider FileVersionProvider

@section styles{
    <link asp-append-version="true" href="~/Areas/Editions/css/itjakub.editions.css" rel="stylesheet" />
}
@section scripts{
    <script asp-append-version="true" src="~/Areas/Editions/js/itjakub.editions.js"></script>
    <script asp-append-version="true" src="~/Areas/Editions/js/itjakub.editions.list.js"></script>
}

@{
    ViewBag.Title = Localizer.Translate("EditionsList", "Editions");
}

<div id="bibliography-configuration-url" data-url="@FileVersionProvider.AddFileVersionToPath(Context.Request.PathBase, Url.Content("~/Areas/Editions/content/BibliographyPlugin/list_configuration.json"))"></div>

@await Html.PartialAsync("_BibliographySearch")
