@using ITJakub.Shared.Contracts
@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
    @Scripts.Render("~/itjakub/editions/listjs")
}


<div id="listResults" data-book-type="@BookTypeEnumContract.Edition">
</div>
