@{
    ViewBag.Title = "Search";
}

@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
}

<div class="content-container">
    <h2>Listovani</h2>
</div>


<div id="Reader">

</div>