@{
    ViewBag.Title = "Search";
}

@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
}

@*TODO html below is for testing purposes of Bibliography module*@
<div class="content-container">
    <h2>Vyhledavani</h2>
    <button id="fillBibList10"> Search mocked bibliographies (10)</button>
    <button id="fillBibList3"> Search mocked bibliographies (3)</button>
    <button id="fillBibList1000"> Search mocked bibliographies (1000)</button>
    <button id="fillBibListTypeEdition"> Search mocked bibliographies from Editions</button>
    <button id="fillBibListTypeDictionary"> Search mocked bibliographies from Dictionaries</button>
</div>
<div id="sortBarBibList">

</div>
<div id="bibliographyList">
    
</div>