@{
    ViewBag.Title = "Search";
}

<div class="content-container">
    <h2>Vyhledavani</h2>
</div>

<ul class="listing">
    <li class="list-item">
        <div class="visible-content">
            <div class="right-panel">
                <button type="button" class="btn btn-sm book-button">
                    <span class="glyphicon glyphicon-book"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm information-button">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm show-button">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm hide-button">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
            </div>
            <div class="middle-panel">
                Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Aliquam ante. Vestibulum fermentum tortor id mi. Sed convallis magna eu sem. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Nullam faucibus mi quis velit. Nunc tincidunt ante vitae massa. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam bibendum elit eget erat.
            </div>
        </div>
        <div class="hidden-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas aliquet accumsan leo. Donec quis nibh at felis congue commodo. Phasellus et lorem id felis nonummy placerat. Quisque porta. Vivamus porttitor turpis ac leo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fusce tellus. Nunc dapibus tortor vel mi dapibus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Nullam at arcu a est sollicitudin euismod. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Integer vulputate sem a nibh rutrum consequat. Aliquam erat volutpat. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Mauris tincidunt sem sed arcu. Etiam neque.
        </div>
    </li>

    <li class="list-item">
        <div class="visible-content">
            <div class="right-panel">
                <button type="button" class="btn btn-default btn-sm book-button">
                    <span class="glyphicon glyphicon-book"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm information-button">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm show-button">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm hide-button">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
            </div>
            <div class="middle-panel">
                Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Aliquam ante. Vestibulum fermentum tortor id mi. Sed convallis magna eu sem. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Nullam faucibus mi quis velit. Nunc tincidunt ante vitae massa. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam bibendum elit eget erat.
            </div>
        </div>
        <div class="hidden-content">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas aliquet accumsan leo. Donec quis nibh at felis congue commodo. Phasellus et lorem id felis nonummy placerat. Quisque porta. Vivamus porttitor turpis ac leo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fusce tellus. Nunc dapibus tortor vel mi dapibus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Nullam at arcu a est sollicitudin euismod. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Integer vulputate sem a nibh rutrum consequat. Aliquam erat volutpat. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Mauris tincidunt sem sed arcu. Etiam neque.
        </div>
    </li><li class="list-item">
             <div class="visible-content">
                 <div class="right-panel">
                     <button type="button" class="btn btn-default btn-sm book-button">
                         <span class="glyphicon glyphicon-book"></span>
                     </button>
                     <button type="button" class="btn btn-default btn-sm information-button">
                         <span class="glyphicon glyphicon-info-sign"></span>
                     </button>
                     <button type="button" class="btn btn-default btn-sm show-button">
                         <span class="glyphicon glyphicon-chevron-down"></span>
                     </button>
                     <button type="button" class="btn btn-default btn-sm hide-button">
                         <span class="glyphicon glyphicon-chevron-up"></span>
                     </button>
                 </div>
                 <div class="middle-panel">
                     Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Aliquam ante. Vestibulum fermentum tortor id mi. Sed convallis magna eu sem. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Nullam faucibus mi quis velit. Nunc tincidunt ante vitae massa. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam bibendum elit eget erat.
                 </div>
             </div>
             <div class="hidden-content">
                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas aliquet accumsan leo. Donec quis nibh at felis congue commodo. Phasellus et lorem id felis nonummy placerat. Quisque porta. Vivamus porttitor turpis ac leo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fusce tellus. Nunc dapibus tortor vel mi dapibus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Nullam at arcu a est sollicitudin euismod. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Integer vulputate sem a nibh rutrum consequat. Aliquam erat volutpat. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Mauris tincidunt sem sed arcu. Etiam neque.
             </div>
         </li><li class="list-item">
                  <div class="visible-content">
                      <div class="right-panel">
                          <button type="button" class="btn btn-default btn-sm book-button">
                              <span class="glyphicon glyphicon-book"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-sm information-button">
                              <span class="glyphicon glyphicon-info-sign"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-sm show-button">
                              <span class="glyphicon glyphicon-chevron-down"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-sm hide-button">
                              <span class="glyphicon glyphicon-chevron-up"></span>
                          </button>
                      </div>
                      <div class="middle-panel">
                          Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Aliquam ante. Vestibulum fermentum tortor id mi. Sed convallis magna eu sem. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Nullam faucibus mi quis velit. Nunc tincidunt ante vitae massa. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam bibendum elit eget erat.
                      </div>
                  </div>
                  <div class="hidden-content">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas aliquet accumsan leo. Donec quis nibh at felis congue commodo. Phasellus et lorem id felis nonummy placerat. Quisque porta. Vivamus porttitor turpis ac leo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fusce tellus. Nunc dapibus tortor vel mi dapibus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Nullam at arcu a est sollicitudin euismod. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Integer vulputate sem a nibh rutrum consequat. Aliquam erat volutpat. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Mauris tincidunt sem sed arcu. Etiam neque.
                  </div>
              </li><li class="list-item">
                       <div class="visible-content">
                           <div class="right-panel">
                               <button type="button" class="btn btn-default btn-sm book-button">
                                   <span class="glyphicon glyphicon-book"></span>
                               </button>
                               <button type="button" class="btn btn-default btn-sm information-button">
                                   <span class="glyphicon glyphicon-info-sign"></span>
                               </button>
                               <button type="button" class="btn btn-default btn-sm show-button">
                                   <span class="glyphicon glyphicon-chevron-down"></span>
                               </button>
                               <button type="button" class="btn btn-default btn-sm hide-button">
                                   <span class="glyphicon glyphicon-chevron-up"></span>
                               </button>
                           </div>
                           <div class="middle-panel">
                               Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Aliquam ante. Vestibulum fermentum tortor id mi. Sed convallis magna eu sem. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Nullam faucibus mi quis velit. Nunc tincidunt ante vitae massa. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam bibendum elit eget erat.
                           </div>
                       </div>
                       <div class="hidden-content">
                           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas aliquet accumsan leo. Donec quis nibh at felis congue commodo. Phasellus et lorem id felis nonummy placerat. Quisque porta. Vivamus porttitor turpis ac leo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fusce tellus. Nunc dapibus tortor vel mi dapibus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Nullam at arcu a est sollicitudin euismod. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Integer vulputate sem a nibh rutrum consequat. Aliquam erat volutpat. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Mauris tincidunt sem sed arcu. Etiam neque.
                       </div>
                   </li>
</ul>