@{
    ViewBag.Title = "Search";
}

@section styles{
    @Styles.Render("~/itjakub/editions/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/editions/javascript")
}

<div class="content-container">
    <h1>Vyhledávání</h1>
</div>