<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <components>

    <component id="ApplicationRepository"
               type="ITJakub.MobileApps.DataEntities.Database.Repositories.ApplicationRepository, ITJakub.MobileApps.DataEntities" />

    <component id="UsersRepository"
               type="ITJakub.MobileApps.DataEntities.Database.Repositories.UsersRepository, ITJakub.MobileApps.DataEntities" />

    <component id="AzureTablesClient"
               type="ITJakub.MobileApps.DataEntities.ExternalEntities.AzureTables.AzureTablesClient, ITJakub.MobileApps.DataEntities">
      <parameters>
        <connectionStringProvider>#{connectionStringProvider}</connectionStringProvider>
      </parameters>
    </component>

    
    
    <!--External Object providers-->
    
    <!--Azure-->
    <component id="AzureTableTaskDao"
               service="ITJakub.MobileApps.DataEntities.ExternalEntities.ITaskDao, ITJakub.MobileApps.DataEntities"
               type="ITJakub.MobileApps.DataEntities.ExternalEntities.AzureTables.AzureTableTaskDao, ITJakub.MobileApps.DataEntities" />

    <component id="AzureTableSynchronizedObjectDao"
               service="ITJakub.MobileApps.DataEntities.ExternalEntities.ISynchronizedObjectDao, ITJakub.MobileApps.DataEntities"
               type="ITJakub.MobileApps.DataEntities.ExternalEntities.AzureTables.AzureTableSynchronizedObjectDao, ITJakub.MobileApps.DataEntities" />
    
    <component id="AzureTableIdGenerator"
           type="ITJakub.MobileApps.DataEntities.ExternalEntities.AzureTables.AzureTableIdGenerator, ITJakub.MobileApps.DataEntities" />

    
    <!--SQL server-->

    <component id="SQLTableTaskDao"
             service="ITJakub.MobileApps.DataEntities.ExternalEntities.ITaskDao, ITJakub.MobileApps.DataEntities"
             type="ITJakub.MobileApps.DataEntities.ExternalEntities.SqlServer.TaskRepository, ITJakub.MobileApps.DataEntities" />

    <component id="SQLTableSynchronizedObjectDao"
               service="ITJakub.MobileApps.DataEntities.ExternalEntities.ISynchronizedObjectDao, ITJakub.MobileApps.DataEntities"
               type="ITJakub.MobileApps.DataEntities.ExternalEntities.SqlServer.SynchronizedObjectRepository, ITJakub.MobileApps.DataEntities" />


  </components>
</castle>