<?xml version="1.0" encoding="utf-8"?>

<castle>

  <components>

    <component id="ApplicationRepository"
             type="ITJakub.MobileApps.DataEntities.Database.Repositories.ApplicationRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="GroupRepository"
             type="ITJakub.MobileApps.DataEntities.Database.Repositories.GroupRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="InstitutionRepository"
             type="ITJakub.MobileApps.DataEntities.Database.Repositories.InstitutionRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="RoleRepository"
             type="ITJakub.MobileApps.DataEntities.Database.Repositories.RoleRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="SynchronizedObjectRepository"
           type="ITJakub.MobileApps.DataEntities.Database.Repositories.SynchronizedObjectRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="TaskRepository"
           type="ITJakub.MobileApps.DataEntities.Database.Repositories.TaskRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="UserRepository"
           type="ITJakub.MobileApps.DataEntities.Database.Repositories.UserRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="StorageManager"
         type="ITJakub.MobileApps.DataEntities.StorageManager, ITJakub.MobileApps.DataEntities"/>


  </components>
</castle>