<?xml version="1.0" encoding="utf-8"?>

<castle>

  <components>

    <component id="ApplicationRepository"
             type="ITJakub.MobileApps.DataEntities.Database.Repositories.ApplicationRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="GroupRepository"
             type="ITJakub.MobileApps.DataEntities.Database.Repositories.GroupRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="InstitutionRepository"
             type="ITJakub.MobileApps.DataEntities.Database.Repositories.InstitutionRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="SynchronizedObjectRepository"
           type="ITJakub.MobileApps.DataEntities.Database.Repositories.SynchronizedObjectRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="TaskRepository"
           type="ITJakub.MobileApps.DataEntities.Database.Repositories.TaskRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="UsersRepository"
           type="ITJakub.MobileApps.DataEntities.Database.Repositories.UsersRepository, ITJakub.MobileApps.DataEntities"/>

    <component id="AzureTablesClient"
          type="ITJakub.MobileApps.DataEntities.AzureTables.AzureTablesClient, ITJakub.MobileApps.DataEntities">
      <parameters>
        <connectionStringProvider>#{connectionStringProvider}</connectionStringProvider>
      </parameters>
    </component>

    <component id="AzureTableTaskDao"
         type="ITJakub.MobileApps.DataEntities.AzureTables.Daos.AzureTableTaskDao, ITJakub.MobileApps.DataEntities"/>

    <component id="AzureTableSynchronizedObjectDao"
     type="ITJakub.MobileApps.DataEntities.AzureTables.Daos.AzureTableSynchronizedObjectDao, ITJakub.MobileApps.DataEntities"/>


  </components>
</castle>