@model ITJakub.MVCWebLayer.ViewModels.ModuleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    @Html.Partial("~/Views/Shared/_ModulesMenu.cshtml")
    <div>
        @Html.Partial("~/Views/Shared/_ModuleSearchPanel.cshtml")
    </div>
    <div class="sctb-results">
        <table class="table table-striped">
            <tr>
                <td>hoditi času. Svatý Jan Zlatoustý pokládá jeden příklad, že kdyby kto měl helmbrechtnú ženu, nemóž jí všeho pojednú zapověděti, aby se jí nespříkřilo, ale najprv těch věcí, ještoť jsú jako najhrubějšie, odmlúvaj jí. Líčí liť se,</td>
                <td class="strong">mluv</td>
                <td>před ní o tom, kak jest to stydká věc, tak šeředně mazati se, aneb cizie vlasy na se cpáti. A kak také často v hanbě bude proto, chtiec čest mieti, když to do nie uzřie múdří, za bláznici budú ji mieti; a jiné panie, ješto snad</td>
            </tr>
            <tr>
                <td>móž jí všeho pojednú zapověděti, aby se jí nespříkřilo, ale najprv těch věcí, ještoť jsú jako najhrubějšie, odmlúvaj jí. Líčí liť se,</td>
                <td class="strong">mluv</td>
                <td>kak také často v hanbě bude proto, chtiec čest mieti, když to do nie uzřie múdří, za bláznici budú ji mieti; a jiné panie, ješto snad</td>
            </tr>
            <tr>
                <td>jeden příklad, že kdyby kto měl helmbrechtnú ženu, nemóž jí všeho pojednú zapověděti, aby se jí nespříkřilo, ale najprv těch věcí, ještoť jsú jako najhrubějšie, odmlúvaj jí. Líčí liť se,</td>
                <td class="strong">mluv</td>
                <td>ak šeředně mazati se, aneb cizie vlasy na se cpáti. A kak také často v hanbě bude proto, chtiec čest mieti, když to do nie uzřie múdří, za bláznici budú ji mieti; a jiné panie, ješto snad</td>
            </tr>
            <tr>
                <td>aby se jí nespříkřilo, ale najprv těch věcí, ještoť jsú jako najhrubějšie, odmlúvaj jí. Líčí liť se,</td>
                <td class="strong">mluv</td>
                <td>chtiec čest mieti, když to do nie uzřie múdří, za bláznici budú ji mieti; a jiné panie, ješto snad</td>
            </tr>
            <tr>
                <td>že kdyby kto měl helmbrechtnú ženu, nemóž jí všeho pojednú zapověděti, aby se jí nespříkřilo, ale najprv těch věcí, ještoť jsú jako najhrubějšie, odmlúvaj jí. Líčí liť se,</td>
                <td class="strong">mluv</td>
                <td>i se, aneb cizie vlasy na se cpáti. A kak také často v hanbě bude proto, chtiec čest mieti, když to do nie uzřie múdří, za bláznici budú ji mieti; a jiné panie, ješto snad</td>
            </tr>
        </table>
    </div>
</div>
