@{
    ViewBag.Title = "Ediční poznámka";
}

<div id="edition-note-content" class="content-container top-offset-without-submenu">
    <h1>Ediční poznámka</h1>

    <p>
    @MvcHtmlString.Create(@ViewData["noteText"].ToString())
    </p>
</div>
