@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Util
@using HtmlString = Microsoft.AspNetCore.Html.HtmlString

@inject ILocalization Localizer

@{
    ViewBag.Title = Localizer.Translate("EditionNote", "EditionNote", LocTranslationSource.File);
}

<div id="edition-note-content" class="content-container top-offset-without-submenu">
    <h1>@ViewBag.Title</h1>

    <p>
    @(new HtmlString(@ViewData["noteText"].ToString()))
    </p>
</div>
