@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.EditionNoteViewModel

@inject ILocalizationService Localizer

@{
    ViewBag.Title = Localizer.Translate("EditionNote", "EditionNote");
}

<div id="edition-note-content" class="content-container top-offset-without-submenu">
    <h1>@ViewBag.Title</h1>
    
    @if (Model.NoteText != null)
    {
        <p>
            @Html.Raw(Model.NoteText)
        </p>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @Localizer.Translate("NotFound", "EditionNote")
        </div>
    }
    
</div>
