@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

@{
    ViewBag.Title = @Localizer.Translate("Derivation", "Derivation");
}
@section styles{
    <link href="~/Areas/Derivation/css/itjakub.derivation.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Derivation/js/itjakub.derivation.bundle.js"></script>
}

<script type="text/javascript">
    $(document).ready(function() {
        var derivation = new Derivation("#mainContainer");
        derivation.make();
    });
</script>

<h2>@Localizer.Translate("Derivation", "Derivation")</h2>

<div>
    <select id="type-select" class="form-control derivation-select"></select>
</div>
<div class="derivation-search-bar">
    <div class="derivation-main-buttons">
        <button id="loadButton" class="btn btn-default derivation-button hidden">@Localizer.Translate("Load", "Derivation")</button>
    </div>
    <div class="derivation-search">
        <input type="text" class="form-control derivation-search-input" id="mainSearchInput"/>
    </div>
</div>

<div class="content">
    <div>
        <span class="derivation-label derivation-label-description">@Localizer.Translate("Description", "Derivation"): </span>
        <span class="derivation-description" id="descriptionContainer"></span>
    </div>

    <div id="mainContainer"></div>
</div>

