@section styles{
    @Styles.Render("~/itjakub/dictionaries/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/dictionaries/javascript")
}

@{
    ViewBag.Title = "Slovníky - Připomínky";
}

<div class="content-container">
    <h1>Připomínky</h1>
</div>