@model ITJakub.Web.Hub.Models.StaticTextViewModel
@section styles{
    <link href="~/wwwroot/Areas/Dictionaries/css/itjakub.dictionaries.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Slovníky - Nápověda";
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
</div>