@inject ILocalization Localizer

@model ITJakub.Web.Hub.Models.StaticTextViewModel
@section styles{
    <link href="~/Areas/Dictionaries/css/itjakub.dictionaries.css" rel="stylesheet" />
}
@{
    ViewBag.Title = @Localizer.Translate("DictionariesHelp", "Dictionaries");
}

<div class="content-container">
    @Html.Partial("_StaticText", Model)
</div>