@section styles{
    @Styles.Render("~/itjakub/dictionaries/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/dictionaries/javascript")
}

<div class="content-container">
    <h1>Dictionaries</h1>
    <ul class="listing">
        <li class="list-item">
            <div class="left-panel">Tady budou checkboxy a obrazky</div>
            <div class="right-panel">
                tady bude modre podbarveni, knizecka icko a sipka
            </div>
            <div class="middle-panel">
                tady bude obsahova informace
            </div>
            <div class="hidden-content">
                tady bude SKRYTY CONTENT
            </div>
        </li>
    </ul>
</div>