@{
    ViewBag.Title = "Search";
}

<div class="content-container">
    <h1>Informace</h1>

    <p>
        V rámci edičního modulu představujeme zájemcům elektronické edice česky psaných textů z období 13.–18. století.
    </p>

    <p>
        Elektronické edice jsou jedním z výsledků vědecké práce oddělení vývoje jazyka Ústavu pro jazyk český AV ČR, v. v. i., a vznikají mj. v rámci projektu GA ČR č. P406/10/1140 Výzkum historické češtiny (na základě nových materiálových bází) a projektu MŠMT ČR LC 546 Výzkumné centrum vývoje staré a střední češtiny (od praslovanských kořenů po současný stav).
    </p>

    <p>
        Elektronické edice slouží především jako materiálová báze pro následný jazykový výzkum, proto je jazykový přístup k textu upřednostněn ku příkladu před literárními či historickými aspekty. Edice jsou dále začleňovány do textové báze budovaného staročeského korpusu a připravovaného středněčeského korpusu. Spolu s digitálními kopiemi rovněž spoluvytvářejí virtuální badatelské prostředí Manuscriptorium.
    </p>
    <p>
        Při editaci literárních památek jsou bezvýhradně dodržovány zásady vědeckého zpřístupňování historických textů, a dále nezbytné formální aspekty, které umožňují prezentovat texty prostřednictvím internetu při zachování nezbytných náležitostí kritické edice. Ačkoliv jsou editoři oddělení vývoje jazyka vedeni snahou aplikovat vědecké i formální přístupy maximálně jednotně a uplatňují obecné ediční zásady, nelze tento jednotný přístup nadřadit obsahově-formálním specifikům jednotlivých památek. Každá z nich je originální a svébytné dílo, jehož zvláštnosti musí editor ve své práci plně respektovat.
    </p>

</div>