@section styles{
    @Styles.Render("~/itjakub/dictionaries/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/dictionaries/javascript")
    @Scripts.Render("~/itjakub/dictionaries/searchjs")
}

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div class="search-area transparent-content-container">
            <div id="dictionarySearchDiv">
            </div>
        </div>
        @*<div class="saved-word-area">
            <div class="dictionary-header">
                Uložená hesla
                <span class="saved-word-area-more"><span class="glyphicon glyphicon-collapse-down"></span></span>
            </div>
            <div class="saved-words-body">
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">pes</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">starocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
            </div>
        </div>*@
    </div>
    <div class="dictionary-selects transparent-content-container">
        
    </div>
    <div class="dictionary-result-area transparent-content-container">
        <div class="dictionary-result-word-search-list">
            <div class="dictionary-header dictionary-header-tabs">
                <div class="dictionary-header-buttons">
                    <a href="#" title="Tisk" id="printList">
                        <span class="glyphicon glyphicon-print middle"></span>
                    </a>
                </div>
                <ul class="nav nav-pills" id="search-tabs">
                    <li id="tab-headwords">
                        <a href="#headwords">Hesla <span class="badge" id="search-headword-count"></span></a>
                    </li>
                    <li id="tab-fulltext">
                        <a href="#fulltext">Fulltext <span class="badge" id="search-fulltext-count"></span></a>
                    </li>
                    <li id="tab-advanced">
                        <a href="#advanced">Pokročilé vyhledávání <span class="badge" id="search-advanced-count"></span></a>
                    </li>
                </ul>
            </div>
            @*<div class="dictionary-header dictionary-subheader">
                <span>Vše ()</span>
                <span>Zapojené ()</span>
                <span>Nezapojené ()</span>
            </div>*@
            <div class="tab-content">
                <div id="list-headwords">
                    <div class="dictionary-result-word-search-list-body" id="headwords-list"></div>
                    <div class="dictionary-result-pagination" id="headwords-pagination"></div>
                </div>
                <div id="list-fulltext">
                    <div class="dictionary-result-word-search-list-body" id="headwords-list-fulltext"></div>
                    <div class="dictionary-result-pagination" id="headwords-pagination-fulltext"></div>
                </div>
                <div id="list-advanced">
                    <div class="dictionary-result-word-search-list-body" id="headwords-list-advanced"></div>
                    <div class="dictionary-result-pagination" id="headwords-pagination-advanced"></div>
                </div>
            </div>
        </div>
        <div class="dictionary-result-word-search-description">
            <div class="dictionary-header">
                <span>Heslové stati</span>
                <div class="dictionary-header-buttons">
                    <a href="#" id="cancelFilter" class="hidden">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Zrušit filtr</span>
                    </a>
                    <a href="#" title="Tisk" id="printDescription">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>
                </div>
            </div>
            <div class="dictionary-result-word-search-description-body tab-content" id="headword-description">
                <div id="description-headwords"></div>
                <div id="description-fulltext"></div>
                <div id="description-advanced"></div>
            </div>
        </div>
    </div>

    <div id="print-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Načítání heslových statí</h4>
                </div>
                <div class="modal-body">
                    <span>Probíhá načítání heslových statí pro tisk</span>
                    <div class="loading loading-modal"></div>
                </div>
            </div>
        </div>
    </div>
</div>
