@section styles{
    @Styles.Render("~/itjakub/dictionaries/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/dictionaries/javascript")
    @Scripts.Render("~/itjakub/dictionaries/searchjs")
}

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div class="search-area transparent-content-container">
            <div id="dictionarySearchDiv">
            </div>
        </div>
        @*<div class="saved-word-area">
            <div class="dictionary-header">
                Uložená hesla
                <span class="saved-word-area-more"><span class="glyphicon glyphicon-collapse-down"></span></span>
            </div>
            <div class="saved-words-body">
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">pes</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">starocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
            </div>
        </div>*@
    </div>
    <div class="dictionary-selects transparent-content-container">
        
    </div>
    <div class="dictionary-result-area transparent-content-container">
        <div class="dictionary-result-word-search-list">
            <div class="dictionary-header">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#headwords">Hesla <span class="badge" id="search-headword-count">6</span></a>
                    </li>
                    <li>
                        <a href="#fulltext">Fulltext <span class="badge" id="search-fulltext-count">125</span></a>
                    </li>
                </ul>
            </div>
            <div class="dictionary-header dictionary-subheader">
                <span>Vše ()</span>
                <span>Zapojené ()</span>
                <span>Nezapojené ()</span>
            </div>
            <div class="tab-content">
                <div id="headwords">
                    <div class="dictionary-result-word-search-list-body" id="headwordList">
                        <ul>
                            <li>pes</li>
                        </ul>
                    </div>
                    <div class="dictionary-result-pagination" id="pagination">
                        <ul class="pagination pagination-sm">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </div>
                </div>
                <div id="fulltext"></div>
            </div>
        </div>
        <div class="dictionary-result-word-search-description">
            <div class="dictionary-header">
                Heslové stati
            </div>
            <div class="dictionary-result-word-search-description-body" id="headwordDescription">
            </div>
        </div>
    </div>
</div>
