@section styles{
    @Styles.Render("~/itjakub/dictionaries/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/dictionaries/javascript")
}

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div class="search-area transparent-content-container">
            <div id="dictionarySearchDiv">
                <form role="form" class="form-horizontal">
                    <div class="form-group searchbar">
                        <div class="searchbar-buttons">
                            <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                                Vyhledat
                            </button>
                            <button type="button" class="btn btn-default searchbar-button">
                                Pokročilé
                            </button>
                        </div>
                        <div class="searchbar-inputs">
                            <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="saved-word-area">
            <div class="dictionary-header">
                Uložená hesla
            </div>
            <div class="saved-word-body">
            </div>
        </div>
    </div>
    <div class="dictionary-selects transparent-content-container">
        <div class="dictionary-select searchbar-button">
            Slovnínky o staré češtině
        </div>

        <div class="dictionary-select  searchbar-button">
            Slovnínky o střední češtině
        </div>

        <div class="dictionary-select searchbar-button">
            Slovnínky o nové češtině
        </div>
        <div class="dictionary-select searchbar-button">
            Obíbené slovníky
        </div>
    </div>
    <div class="dictionary-result-area transparent-content-container">
        <div class="dictionary-result-word-search-list">
            <div class="dictionary-header">
                <span class="words-result">Hesla (<span class="words-result-numbers">2</span>x)</span>
                <span class="fulltext-result">Fulltext (<span class="fulltext-result-numbers">2</span>x)</span>
            </div>
            <div class="dictionary-result-word-search-list-body">
            </div>
            </div>
        <div class="dictionary-result-word-search-description">
            <div class="dictionary-header">
                Heslové stati
            </div>
            <div class="dictionary-result-word-search-description-body">
            </div>
        </div>
    </div>
</div>