@section styles{
    @Styles.Render("~/itjakub/dictionaries/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/dictionaries/javascript")
}

<div class="transparent-content-container">
    <div class="search-with-saved-word-area">
        <div class="search-area transparent-content-container">
            <div id="dictionarySearchDiv">
                <form role="form" class="form-horizontal">
                    <div class="form-group searchbar">
                        <div class="searchbar-buttons">
                            <button id="searchButton" type="button" class="btn btn-default searchbar-button">
                                Vyhledat
                            </button>
                            <button id="advancedSearchButton" type="button" class="btn btn-default searchbar-button">
                                Pokročilé
                                <span class="glyphicon glyphicon-chevron-down regexsearch-button-glyph"></span>
                            </button>
                        </div>
                        <div class="searchbar-inputs">
                            <input type="text" class="form-control searchbar-input" id="searchbox" placeholder="Hledat..." style="max-width: 100%;"/>
                        </div>
                    </div>
                </form>
            </div>
            <div id="regExSearchDiv"></div>
        </div>
        <div class="saved-word-area">
            <div class="dictionary-header">
                Uložená hesla
                <span class="saved-word-area-more"><span class="glyphicon glyphicon-collapse-down"></span></span>
            </div>
            <div class="saved-words-body">
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">pes</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">starocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
                <span class="saved-word">
                    <span class="saved-word-remove glyphicon glyphicon glyphicon-remove-circle"></span>
                    <span class="saved-word-text">novocesky slovnik</span>
                </span>
            </div>
        </div>
    </div>
    <div class="dictionary-selects transparent-content-container">
        @*<div class="dictionary-select">
            <div class="dictionary-select-header">
                <span class="dictionary-select-checkbox"><input id="old-czech-dictionary-select" type="checkbox" /></span>
                <span class="dictionary-select-text">Slovnínky o staré češtině</span>
                <span class="dictionary-select-more"><span class="glyphicon glyphicon-chevron-down"></span></span>
            </div>
            <div class="dictionary-select-body">
                <div class="dictionary-filter"><input class="dictionary-filter-input" placeholder="Filtrovat podle názvu.."><span class="dictionary-clear-filter glyphicon glyphicon glyphicon-remove-circle"></span></div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox"/>
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k asaa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k apppa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox"/>
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k bbc</span>
                </div>
            </div>
        </div>
        <div class="dictionary-select">
            <div class="dictionary-select-header">
                <span class="dictionary-select-checkbox"><input id="mid-czech-dictionary-select" type="checkbox" /></span>
                <span class="dictionary-select-text">Slovnínky o střední češtině</span>
                <span class="dictionary-select-more"><span class="glyphicon glyphicon-chevron-down"></span></span>
            </div>
            <div class="dictionary-select-body">
                <div class="dictionary-filter"><input class="dictionary-filter-input" placeholder="Filtrovat podle názvu.."><span class="dictionary-clear-filter glyphicon glyphicon glyphicon-remove-circle"></span></div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k asaa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k apppa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k bbc</span>
                </div>
            </div>
        </div>
        <div class="dictionary-select">
            <div class="dictionary-select-header">
                <span class="dictionary-select-checkbox"><input id="new-czech-dictionary-select" type="checkbox" /></span>
                <span class="dictionary-select-text">Slovnínky o nové češtině</span>
                <span class="dictionary-select-more"><span class="glyphicon glyphicon-chevron-down"></span></span>
            </div>
            <div class="dictionary-select-body">
                <div class="dictionary-filter"><input class="dictionary-filter-input" placeholder="Filtrovat podle názvu.."><span class="dictionary-clear-filter glyphicon glyphicon glyphicon-remove-circle"></span></div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k asaa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k apppa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k bbc</span>
                </div>
            </div>
        </div>
        <div class="dictionary-select">
            <div class="dictionary-select-header">
                <span class="dictionary-select-checkbox"><input id="favorite-dictionary-select" type="checkbox" /></span>
                <span class="dictionary-select-text">Obíbené slovníky</span>
                <span class="dictionary-select-more"><span class="glyphicon glyphicon-chevron-down"></span></span>
            </div>
            <div class="dictionary-select-body">
                <div class="dictionary-filter"><input class="dictionary-filter-input" placeholder="Filtrovat podle názvu.."><span class="dictionary-clear-filter glyphicon glyphicon glyphicon-remove-circle"></span></div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k asaa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox" />
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k apppa</span>
                </div>
                <div class="concrete-dictionary">
                    <input class="concrete-dictionary-checkbox checkbox" type="checkbox"/>
                    <span class="save-dictionary glyphicon glyphicon-star-empty"></span>
                    <span class="delete-dictionary glyphicon glyphicon-star"></span>
                    <span class="concrete-dictionary-name">slovn9k bd fdsdvsdnocfjncpfjnpsfjnvp9fjxcvvvvvvvvvvvvvvvvvvvvvvvvvvvbc</span>

                </div>
            </div>
        </div>*@
    </div>
    <div class="dictionary-result-area transparent-content-container">
        <div class="dictionary-result-word-search-list">
            <div class="dictionary-header">
                <span class="words-result">Hesla (<span class="words-result-numbers">0</span>x)</span>
                <span class="fulltext-result">Fulltext (<span class="fulltext-result-numbers">0</span>x)</span>
            </div>
            <div class="dictionary-result-word-search-list-body">
                <ul>
                    <li>pes</li>
                </ul>
            </div>
        </div>
        <div class="dictionary-result-word-search-description">
            <div class="dictionary-header">
                Heslové stati
            </div>
            <div class="dictionary-result-word-search-description-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#advancedSearchButton").click(function () {
        var glyph = $("#advancedSearchButton .regexsearch-button-glyph");
        var regExSearchDiv = $("#regExSearchDiv");
        if (document.getElementById("regExSearchDiv").children.length === 0) {
            glyph.removeClass("glyphicon-chevron-down");
            glyph.addClass("glyphicon-chevron-up");
            var regExSearchPlugin = new RegExSearch("#regExSearchDiv");
            regExSearchPlugin.makeRegExSearch();
        } else if (regExSearchDiv.hasClass("hidden")) {
            regExSearchDiv.removeClass("hidden");
            glyph.removeClass("glyphicon-chevron-down");
            glyph.addClass("glyphicon-chevron-up");
        } else {
            regExSearchDiv.addClass("hidden");
            glyph.removeClass("glyphicon-chevron-up");
            glyph.addClass("glyphicon-chevron-down");
        }
    });
</script>
