@section styles{
    @Styles.Render("~/itjakub/audiobooks/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/audiobooks/javascript")
}

@{
    ViewBag.Title = "Audioknihy - Připomínky";
}

<div class="content-container">
    <h1>Připomínky</h1>
</div>