@using Scalesoft.Localization.AspNetCore
@model ITJakub.Web.Hub.Models.FeedbackViewModel
@inject ILocalizationService Localizer

@section styles{
    <link href="~/Areas/AudioBooks/css/itjakub.audiobooks.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("AudioBooksFeedback", "AudioBooks");
}

<div class="content-container">
    @await Html.PartialAsync("_StaticText", Model.PageStaticText)

    @await Html.PartialAsync("Feedback/_FeedbackForm", Model)
</div>
