@model ITJakub.Web.Hub.Models.StaticTextViewModel
@inject ILocalization Localizer

@section styles{
    <link href="~/Areas/AudioBooks/css/itjakub.audiobooks.css" rel="stylesheet" />
}

@{
    ViewBag.Title = @Localizer.Translate("AudioBooksInformation", "AudioBooks");

<div class="content-container">
    @Html.Partial("_StaticText", Model)

    @*Original text:
    <h1>Informace</h1>

    <p>
        V této části <i>Vokabuláře webového</i> poskytujeme zájemcům zvukové nahrávky starších českých děl. V současnosti představujeme dvě díla – <i>Výbor ze staročeské prózy a Frantovy práva</i> z roku 1518.
    </p>
    <p>
        Uživatel si může nahrávky stáhnout do vlastního zařízení nebo poslechnout přímo na internetové stránce. Záznamy mohou sloužit jako pomůcka pro výuku starší češtiny a literatury na středních školách či jako vhodné médium pro zpřístupnění starších českých děl zájemcům z řad zrakově hendikepovaných. V neposlední řadě jsou však audioknihy určeny také běžnému zájemci, kterému je auditivní formát z jakéhokoliv důvodu blízký.
    </p>
    <p>
        Nahrávky vznikly v oddělení vývoje jazyka za vedení Mgr. Michala L. Hořejšího a Mgr. Marka Janosika-Bielského. Umělecké texty načetli Blanka Hejtmánková, Jindřich Kout a Petr Gojda. Podklad pro audioverze tvořily edice vytvořené pracovníky oddělení vývoje jazyka Ústavu pro jazyk český AV ČR, v. v. i.
    </p>
    <p>
        Nahrávky jsou vystaveny pouze pro nekomerční využití, pro studijní a badatelské účely a nelze rozšiřovat jakoukoliv jejich část, ať již samostatně, či v rámci jiného projektu. V případě zájmu nás kontaktujte elektronicky na adrese <a href="mailto:vokabular@ujc.cas.cz?subject=zajem">vokabular@ujc.cas.cz</a> nebo písemně: oddělení vývoje jazyka, Ústav pro jazyk český AV ČR, v. v. i., Valentinská 1, 116 46, Praha 1. Veškeré přejímané informace podléhají citačnímu úzu vědecké literatury.
    </p>*@
</div>