@section styles{
    @Styles.Render("~/itjakub/audiobooks/css")
}
@section scripts{
    @Scripts.Render("~/itjakub/audiobooks/javascript")
}

@{
    ViewBag.Title = "Audioknihy - Seznam";
}

<div class="content-container">
    <h1>Seznam</h1>

</div>