@using System.Linq
@model ITJakub.MVCWebLayer.ViewModels.SearchKeyWordsViewModel
           
@if (Model.Results.Count > 0)
{
    <div id="dictionary-results-panel">
        @foreach (var result in Model.Results)
        {   
            <blockquote>
                <p>
                    @(new HtmlString(result.HtmlContext))
                </p>
                <small><cite title="@result.Title"><a href="#" class="muted">@result.Title</a></cite> (<a href="#" class="muted">@(result.Author)</a>)</small>
            </blockquote>
        }
    </div>
}
