@model string

@if (string.Equals(Model, "Malý staročeský slovník (MSS)")) 
{
    <div id="results-panel">
	    <strong>peskovati</strong>, -uju, -uješ ned. peskovat, plísnit; hubovat, láteřit; — peskovati sě hádat se: muž
        se s ní (ženou) zase laje, tepe, peskuje<br />
        <strong>pes(e)ky, adv.</strong> jako psa, psovsky; nešlechetně, hanebně, zle, oplzle<br />
        <strong>pes(s)ký, adj.</strong> psovský; nešlechetný, hanebný, bídný: peská závist<br />
    </div>
}
else if(string.Equals(Model, "Bible olomoucká, Genesis–Esdráš")) 
{
    <div id="results-panel">
	    ...synóv israhelských nezahyne ani myš ani <strong>pes</strong>, ot člověka až do brava...<br />
        ...Nabal do zajtřie ani <strong>pes</strong>...<br />
        ...ty budeš nemocen <strong>peskú</strong> nemocí tvého břicha...<br />
    </div>
}
else
{
    <div id="results-panel">
	    <strong>peskovati</strong>, -uju, -uješ ned. peskovat, plísnit; hubovat, láteřit; — peskovati sě hádat se: muž
        se s ní (ženou) zase laje, tepe, peskuje<br />
        <strong>pes(e)ky, adv.</strong> jako psa, psovsky; nešlechetně, hanebně, zle, oplzle<br />
        <strong>pes(s)ký, adj.</strong> psovský; nešlechetný, hanebný, bídný: peská závist<br />
    </div>
}