@using Ujc.Naki.MVCWebLayer.Services
@using Ujc.Naki.MVCWebLayer.Services.Enums
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Ujc.Naki.MVCWebLayer.ViewModels.SearchResultViewModel

@Html.Partial("~/Views/Shared/_SearchPanel.cshtml", Model.Search)

<script type="text/javascript">
    $(function () {
        showAlphabeticalResults();
    });

</script>
    
<br>

<h4>Výsledky hledání:</h4>

<div class="row">
    <div class="span3">
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#results-alphabetical" data-toggle="tab">Abecedně</a></li>
            <li><a href="#results-type" data-toggle="tab">Podle druhu a díla</a></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active" id="results-alphabetical">
                <ul>
                    @foreach (var result in Model.FoundWords)
                    {
                        <li><a href="#" onclick="loadTermDetail(this, '@result'); return false;">@result</a></li>
                    }
                </ul>                    
            </div>
            <div class="tab-pane" id="results-type">
                @foreach(KeyValuePair<BookCategory, List<string>> category in Model.FoundByType) 
                {
                    <h4>@category.Key.CzechString()</h4>
                    <ul>
                        @foreach(var book in category.Value) 
                        {
                            <li><a href="#" onclick="bookDetail(this, '@book'); return false;">@book</a></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="span11">
        
    </div>
</div>

