<?xml version="1.0" encoding="utf-8"?>
<castle>
  <properties>
    <!--<defaultConnectionString>Server=localhost;Database=ITJakubMobileAppsDB;User Id=admin;Password=itjakub;</defaultConnectionString>-->
    <defaultConnectionString>Server=tcp:a2gidu4qwn.database.windows.net;Database=ITJakubMobileAppsDB;User Id=itjakub@a2gidu4qwn.database.windows.net;Password=***REMOVED***;</defaultConnectionString>
  

    <!--<azureTableConnectionString>DefaultEndpointsProtocol=https;AccountName=[ACCOUNT NAME];AccountKey=[ACCOUNT KEY]</azureTableConnectionString>-->
    <azureTableConnectionString>DefaultEndpointsProtocol=https;AccountName=mobileazuretables;AccountKey=bNfxZTdWNCFclatzPO9/g1ak2BTrxz+RQGcGnHGw+2WVNqialU3GfmZeehKpiBVQlx3SxTvE1A1TW4f2yUkXQQ==</azureTableConnectionString>

    <!--<connectionStringProvider>${DebugConnectionStringProvider}</connectionStringProvider>-->
    <connectionStringProvider>${AzureConnectionStringProvider}</connectionStringProvider>
    
    
    <!--max attempts to save entity into DB-->
    <maxAttemptsToSave>5</maxAttemptsToSave>

   
  </properties>

  <!--<include uri="file://Dao/TestProject.Dao.Container.config"/>-->
  <!--<include uri="assembly://TestProject.Dao/TestProject.Dao.Container.config"/>-->
  
  <include uri="assembly://ITJakub.MobileApps.Core/ITJakub.MobileApps.Core.Container.Config"/>
  <include uri="assembly://ITJakub.MobileApps.DataEntities/ITJakub.MobileApps.DataEntities.Container.Config"/>
  <include uri="assembly://ITJakub.MobileApps.Configuration/ITJakub.MobileApps.Configuration.Container.Config"/>

  <facilities>
      <facility id="transaction"
              type="Castle.Facilities.AutoTx.AutoTxFacility, Castle.Facilities.AutoTx" />
    <facility
      id="nhibernate"
      type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration">
      <factory id="sessionFactory"  useReflectionOptimizer="true" defaultFlushMode="Commit">
        <settings>
          <item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
          <item key="connection.driver_class">NHibernate.Driver.SqlClientDriver</item>
          <item key="connection.connection_string">#{defaultConnectionString}</item>
          <item key="dialect">NHibernate.Dialect.MsSql2008Dialect</item>
          <item key="command_timeout">240</item>
          <item key="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</item>
          <!--<item key="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</item>-->
          <item key="adonet.batch_size">20</item>
        </settings>
        <assemblies>
          <assembly>ITJakub.MobileApps.DataEntities</assembly>
          <!--More assemblies with HBM files and HBM make embedded resource-->
        </assemblies>
      </factory>
    </facility>
  </facilities>


  <components>

    <!--<component id="UsersFactory"
               service="TestProject.IUsersFactory, TestProject"
               type="TestProject.UsersFactory, TestProject">
       <parameters>
        <param1>#{param1Value}</param1>
    </parameters>
    
    </component>-->

  </components>
</castle>
