<?xml version="1.0" encoding="utf-8"?>
<castle>

  <properties>
    <!--CONFIGURATION PROPERTIES HERE-->
  </properties>

  <!--<include uri="file://Dao/TestProject.Dao.Container.config"/>-->
  <!--<include uri="assembly://TestProject.Dao/TestProject.Dao.Container.config"/>-->
  
  <include uri="assembly://ITJakub.MobileApps.Core/ITJakub.MobileApps.Core.Container.Config"/>

  <facilities>
    <!--FACILITIES HERE-->
  </facilities>


  <components>

    <!--<component id="UsersFactory"
               service="TestProject.IUsersFactory, TestProject"
               type="TestProject.UsersFactory, TestProject">
       <parameters>
        <param1>#{param1Value}</param1>
    </parameters>
    
    </component>-->

  </components>
</castle>
